workflows/LinkedIN/LinkedIN Post Claude.json
{
  "name": "LinkedIN Post Claude",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2048,
        848
      ],
      "id": "b783ff84-e97b-4cbf-86af-357df276f32c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "35147c76-2802-80e3-8851-fd4736f81c35",
          "mode": "list",
          "cachedResultName": "Content Pipeline",
          "cachedResultUrl": "https://app.notion.com/p/35147c76280280e38851fd4736f81c35"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Geplant"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2480,
        880
      ],
      "id": "5e970541-16df-4c28-8be7-fb22b5c63c22",
      "name": "CP_Read",
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "35047c76-2802-80bf-b72f-cdbc44700ca3",
          "mode": "list",
          "cachedResultName": "Templates LinkedIN Posts",
          "cachedResultUrl": "https://www.notion.so/35047c76280280bfb72fcdbc44700ca3"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Vorlagen|title",
              "condition": "equals",
              "titleValue": "={{ $('CP_Read').item.json.property_type.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2640,
        1104
      ],
      "id": "7ef2ca86-52f0-41c2-9ddf-c9da2f1d7b25",
      "name": "TPL_Read",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6963e614-bbf1-412f-a5ad-01406e5c1388",
              "name": "page_id",
              "value": "={{ $('CP_Read').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7a3e7156-fd81-45c6-86a5-a8346136eaea",
              "name": "thema",
              "value": "={{ $('CP_Read').item.json.property_titel }}",
              "type": "string"
            },
            {
              "id": "d0e621ad-e113-40ee-b1d5-b19cf45cb0ed",
              "name": "typ",
              "value": "={{ $('CP_Read').item.json.property_type }}",
              "type": "string"
            },
            {
              "id": "cb8d1db5-4290-4d19-bcd7-c5784ad9d689",
              "name": "=template",
              "value": "={{ $('TPL_Read').item.json.property_template }}",
              "type": "string"
            },
            {
              "id": "e82eb571-1a60-456f-b65d-c227bf5b047c",
              "name": "quelle",
              "value": "={{ $('CP_Read').item.json.property_quelle }}",
              "type": "string"
            },
            {
              "id": "1af0782d-e5f8-499c-8238-eb841f7fe116",
              "name": "blog_input",
              "value": "={{ $('CP_Read').item.json.property_blog_entwurf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        1008
      ],
      "id": "690e12ec-86e8-437f-9d7c-db5cd4235323",
      "name": "Prompt_Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "554dceae-5f88-4ab9-9ee9-684b3fb55bf8",
              "leftValue": "={{ $('TPL_Read').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2784,
        1104
      ],
      "id": "6034cbbc-88f0-4716-8b3e-f1047767eaaa",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3248,
        1008
      ],
      "id": "44827771-0ec3-498a-8292-d447de04140f",
      "name": "AI_Post"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3504,
        1312
      ],
      "id": "20709dc4-bcc3-462a-829e-1dbde85b2aa6",
      "name": "AI_ImagePrompt"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('CP_Read').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "LinkedIn-Post|rich_text",
              "textContent": "=={{ $('AI_Post').first().json.text.substring(0, 2000) }}"
            },
            {
              "key": "ImagePrompt|rich_text",
              "textContent": "=={{ $json.text }}"
            },
            {
              "key": "Status|select",
              "selectValue": "=Review"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3808,
        1088
      ],
      "id": "af5d5654-4c77-4c5d-b01b-567c70a367ad",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3088,
        1456
      ],
      "id": "be03de75-8377-4a3a-acce-06f6a65acaf9",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "eBuOaqBg5JldFNNg",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3472,
        1600
      ],
      "id": "4e185104-198c-483e-aaf2-1d6af9d03d89",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "eBuOaqBg5JldFNNg",
          "name": "Anthropic account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CP_Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CP_Read": {
      "main": [
        [
          {
            "node": "TPL_Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TPL_Read": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prompt_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt_Data": {
      "main": [
        [
          {
            "node": "AI_Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Post": {
      "main": [
        [
          {
            "node": "AI_ImagePrompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_ImagePrompt": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI_Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI_ImagePrompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9395e17d-8b08-4272-ae1c-a59bf5369cca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "F2tmAUeBggmjgNWQ",
  "tags": []
}
