workflows/LinkedIN/LinkedIN Post Claude.json
{
  "name": "LinkedIN Post Claude",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        7664,
        2848
      ],
      "id": "37c046fd-7cf7-48e5-9e24-9b9aa381f7bb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "35147c76-2802-80e3-8851-fd4736f81c35",
          "mode": "list",
          "cachedResultName": "Content Pipeline",
          "cachedResultUrl": "https://app.notion.com/p/35147c76280280e38851fd4736f81c35"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Freigegeben"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        8096,
        2880
      ],
      "id": "384e77ea-5a8c-426b-a691-82b2d1ee378e",
      "name": "CP_Read",
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "35047c76-2802-80bf-b72f-cdbc44700ca3",
          "mode": "list",
          "cachedResultName": "Templates LinkedIN Posts",
          "cachedResultUrl": "https://www.notion.so/35047c76280280bfb72fcdbc44700ca3"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Vorlagen|title",
              "condition": "equals",
              "titleValue": "={{ $('CP_Read').item.json.property_type.trim() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        8256,
        3104
      ],
      "id": "cdc87337-1501-4ecb-99ea-ea4eb845c576",
      "name": "TPL_Read",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6963e614-bbf1-412f-a5ad-01406e5c1388",
              "name": "page_id",
              "value": "={{ $('CP_Read').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7a3e7156-fd81-45c6-86a5-a8346136eaea",
              "name": "thema",
              "value": "={{ $('CP_Read').item.json.property_titel }}",
              "type": "string"
            },
            {
              "id": "d0e621ad-e113-40ee-b1d5-b19cf45cb0ed",
              "name": "typ",
              "value": "={{ $('CP_Read').item.json.property_type }}",
              "type": "string"
            },
            {
              "id": "cb8d1db5-4290-4d19-bcd7-c5784ad9d689",
              "name": "template",
              "value": "={{ $('TPL_Read').item.json.property_template }}",
              "type": "string"
            },
            {
              "id": "e82eb571-1a60-456f-b65d-c227bf5b047c",
              "name": "quelle",
              "value": "={{ $('CP_Read').item.json.property_quelle }}",
              "type": "string"
            },
            {
              "id": "1af0782d-e5f8-499c-8238-eb841f7fe116",
              "name": "blog_input",
              "value": "={{ $('CP_Read').item.json.property_blog_entwurf }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8608,
        3008
      ],
      "id": "914bdb58-7a50-469e-9f42-5a8b58f2138f",
      "name": "Prompt_Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "554dceae-5f88-4ab9-9ee9-684b3fb55bf8",
              "leftValue": "={{ $('TPL_Read').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        8400,
        3104
      ],
      "id": "dfb2af7a-4545-4782-a35a-abc75d5beb94",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2000,\n  \"system\": {{ JSON.stringify(\"Du bist ein erfahrener Berater und Sparringspartner für CEOs von KMU in Deutschland.\\nDu hast 28 Jahre Erfahrung in Automotive, Elektronik und Software.\\nDu moderierst Peer Advisory Boards und kennst die echten Herausforderungen von Unternehmern.\\nDu schreibst sachlich, analytisch, klar und ohne Marketing-Floskeln.\\nNutze die gegebene Strukturvorlage als Leitplanke, aber schreibe natürlich und authentisch.\\nSchreibe ausschließlich auf Deutsch.\\nVermeide Superlative, Buzzwords und typische KI-Formulierungen.\\nDer Post darf maximal 300 bis 350 Wörter und maximal 1900 bis 2000 Zeichen lang sein. Wenn du diese Grenzen nicht einhalten kannst, kürze den Inhalt, nicht die Qualität. Halte diese Grenze strikt ein.\\nSchreibe in kurzen Absätzen, nutze keine Superlative, bleibe präzise.\") }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\n        \"Erstelle einen LinkedIn-Post mit folgendem Kontext:\\n\\n\" +\n        \"Thema: \" + $json.thema + \"\\n\\n\" +\n        \"Beitragstyp: \" + $json.typ + \"\\n\\n\" +\n        \"Strukturvorlage (als Gerüst verwenden):\\n\" + $json.template + \"\\n\\n\" +\n        \"Meine eigenen Gedanken und Kernaussagen (zwingend berücksichtigen):\\n\" +\n        ($json.blog_input ? $json.blog_input : \"Keine zusätzlichen Stichpunkte vorhanden.\") + \"\\n\\n\" +\n        \"Anforderungen:\\n\" +\n        \"- Zielgruppe sind CEOs von KMU in Deutschland\\n\" +\n        \"- Schreibe analytisch, sachlich und auf Augenhöhe\\n\" +\n        \"- Keine allgemeinen Floskeln oder KI-typischen Phrasen\\n\" +\n        \"- Kurze, gut lesbare Absätze (max. 3 Zeilen pro Absatz)\\n\" +\n        \"- Trenne jeden Absatz mit einer Leerzeile für klare Lesbarkeit\\n\" +\n        \"- Konkrete Aussagen statt vager Begriffe\\n\" +\n        \"- Integriere meine Stichpunkte sinnvoll in die Argumentation\\n\" +\n        \"- Entwickle meine Gedanken weiter – wiederhole sie nicht einfach\\n\" +\n        \"- Wenn Stichpunkte vorhanden: beginne mit der stärksten Aussage daraus\\n\" +\n        \"- Maximale Länge: 300 bis 350 Wörter und maximal 1.900 Zeichen – nicht mehr, nicht weniger\\n\\n\" +\n        \"Typ-spezifische Logik:\\n\\n\" +\n        \"Wenn Beitragstyp = Board-Bericht:\\n\" +\n        \"→ Schreibe als anonymisierte Praxiserfahrung aus einem Unternehmerboard\\n\" +\n        \"→ Struktur: Beobachtung → Diskussion → Erkenntnis → Denkanstoß\\n\\n\" +\n        \"Wenn Beitragstyp = These:\\n\" +\n        \"→ Formuliere eine klare, provokante aber sachliche Position\\n\" +\n        \"→ Struktur: These → Begründung → Konsequenz für den CEO\\n\\n\" +\n        \"Wenn Beitragstyp = Fach-Tip:\\n\" +\n        \"→ Liefere einen konkreten, umsetzbaren Denkanstoß\\n\" +\n        \"→ Struktur: Problem → Analyse → Lösung → nächster Schritt\\n\\n\" +\n        \"Gib ausschließlich den fertigen LinkedIn-Post zurück.\\n\" +\n        \"Kein Kommentar, keine Erklärung, nur den Post.\"\n      ) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8864,
        3008
      ],
      "id": "f6efe233-f8ff-45a9-9a69-2a1eb87cc790",
      "name": "AI_Post_HTTP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2VbBkCWrFc39ghVV",
          "name": "Header Auth account 3"
        },
        "anthropicApi": {
          "id": "iCMaqkiVfMfgXWXJ",
          "name": "Anthropic account 6"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 500,\n  \"system\": {{ JSON.stringify(\"Du bist ein erfahrener Visual Designer für professionelle LinkedIn-Posts.\\nDu erstellst präzise Bild-Prompts für AI-Bildgeneratoren.\\nDie Bilder sollen:\\n- Professionell und Business-tauglich sein\\n- Den Inhalt des Posts visuell unterstützen\\n- Abstrakt genug sein, um universell zu passen\\n- Keine Textelemente enthalten (nur visuelle Konzepte)\\n- Modern und minimalistisch wirken\\nSchreibe den Prompt auf Englisch für optimale Bildgenerierung.\") }},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify(\n        \"Erstelle einen detaillierten Image-Prompt für folgenden LinkedIn-Post:\\n\\n\" +\n        \"=== LINKEDIN POST ===\\n\" +\n        $('AI_Post_HTTP').first().json.content[0].text + \"\\n\\n\" +\n        \"=== KONTEXT ===\\n\" +\n        \"Thema: \" + $('Prompt_Data').first().json.thema + \"\\n\" +\n        \"Post-Typ: \" + $('Prompt_Data').first().json.typ + \"\\n\\n\" +\n        \"Anforderungen für den Bild-Prompt:\\n\" +\n        \"- Beschreibe eine professionelle, minimalistische Szene\\n\" +\n        \"- Keine Menschen, keine Gesichter (außer es ist zentral für das Thema)\\n\" +\n        \"- Fokus auf Konzepte, Metaphern oder abstrakte Darstellungen\\n\" +\n        \"- Passend für LinkedIn (Business-Kontext)\\n\" +\n        \"- Keine Text-Overlays im Bild\\n\" +\n        \"- Stil: Modern, clean, professionell\\n\" +\n        \"- Format: 16:9 oder 1:1\\n\\n\" +\n        \"Gib NUR den fertigen englischen Image-Prompt zurück.\\n\" +\n        \"Keine Erklärung, kein Kommentar, nur den Prompt.\\n\" +\n        \"Maximal 2-3 Sätze.\"\n      ) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        9088,
        3088
      ],
      "id": "5c77736f-fb7e-4b09-9942-21dd3a5a10a3",
      "name": "AI_ImagePrompt_HTTP",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2VbBkCWrFc39ghVV",
          "name": "Header Auth account 3"
        },
        "anthropicApi": {
          "id": "3hbJbDNxNVUmteDY",
          "name": "Anthropic account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('CP_Read').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "LinkedIn-Post|rich_text",
              "textContent": "={{ ($('AI_Post_HTTP').first().json.content ?? [])[0]?.text?.substring(0, 2000) ?? '' }}"
            },
            {
              "key": "ImagePrompt|rich_text",
              "textContent": "={{ ($json.content ?? [])[0]?.text ?? '' }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Review"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        9296,
        3088
      ],
      "id": "9c157052-6afe-476c-94b1-24c6062c1fef",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "CP_Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CP_Read": {
      "main": [
        [
          {
            "node": "TPL_Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TPL_Read": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prompt_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt_Data": {
      "main": [
        [
          {
            "node": "AI_Post_HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Post_HTTP": {
      "main": [
        [
          {
            "node": "AI_ImagePrompt_HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_ImagePrompt_HTTP": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cb01c027-e474-4ca7-932d-885dcb71a189",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "F2tmAUeBggmjgNWQ",
  "tags": []
}
