workflows/agenda/BLBoardSolutions___Agenda_Generator_v3.json
{
  "name": "BLBoardSolutions – Agenda Generator v3.1 (Claude)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "c3677b32-08e6-4963-a817-504ba2833999",
      "name": "Schedule: Täglich 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        12480,
        5920
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37b47c76-2802-80b5-a1ee-cd278db35a83",
          "mode": "id",
          "cachedResultName": "DB Board-Termine"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Agenda bereit"
            },
            {
              "key": "Agenda generiert|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "05175d3c-7a87-4ddd-acb7-2328a54d2b20",
      "name": "Notion: Offene Termine",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        12704,
        5920
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "page_id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "489b4400-911a-45a0-ad0b-cec42b2e6b7f",
      "name": "Set: page_id (Schedule)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12928,
        5920
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agenda-generieren",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "8e43fe6f-f6cf-4b45-ab6f-e33c70e88bd4",
      "name": "Webhook: Agenda anfordern",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        12480,
        6176
      ],
      "webhookId": "agenda-generieren",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i7OClykEMdTGgbaz",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "page_id",
              "type": "string",
              "value": "={{ $json.body.page_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "113ee5f6-c2f5-4f2a-a108-47da67f9c5a9",
      "name": "Set: page_id (Webhook)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        12704,
        6176
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.page_id }}",
          "mode": "id"
        },
        "simple": false
      },
      "id": "b8ca7a40-aa1c-4aa1-8a1a-0e5e6ce2f8d7",
      "name": "Notion: Termin laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        12928,
        6176
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Node 4 – Termin extrahieren (roher Notion-Response, simple=false).\nconst page  = $input.first().json;\nconst props = page.properties || {};\n\nfunction relationIds(prop) {\n  if (!prop) return [];\n  if (Array.isArray(prop.relation)) return prop.relation.map(r => (r && r.id) || r).filter(Boolean);\n  if (Array.isArray(prop))          return prop.map(r => (r && r.id) || r).filter(Boolean);\n  return [];\n}\nfunction findProp(props, regex) {\n  if (props[regex.source]) return props[regex.source];\n  const key = Object.keys(props).find(k => regex.test(k));\n  return key ? props[key] : null;\n}\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(r => r.plain_text).join('');\n  if (prop.type === 'title')     return (prop.title || []).map(r => r.plain_text).join('');\n  if (prop.type === 'url')       return prop.url || '';\n  if (prop.type === 'email')     return prop.email || '';\n  if (prop.type === 'checkbox')  return !!prop.checkbox;\n  if (prop.type === 'select')    return prop.select?.name || '';\n  return '';\n}\nfunction formatTermin(dateObj) {\n  if (!dateObj?.start) return '';\n  const start = new Date(dateObj.start);\n  const dateStr   = start.toLocaleDateString('de-DE', { day:'2-digit', month:'2-digit', year:'numeric' });\n  const startTime = start.toLocaleTimeString('de-DE', { hour:'2-digit', minute:'2-digit', hour12:false });\n  if (dateObj.end) {\n    const end = new Date(dateObj.end);\n    const endTime = end.toLocaleTimeString('de-DE', { hour:'2-digit', minute:'2-digit', hour12:false });\n    return `${dateStr}, ${startTime} – ${endTime} Uhr`;\n  }\n  return `${dateStr}, ${startTime} Uhr`;\n}\n\nfunction parseTermine(raw) {\n  if (!raw) return [];\n  return raw.split('\\n').map(l => l.trim()).filter(Boolean).map((line) => {\n    const [datum, ort] = line.split('|').map(s => s.trim());\n    return { termin_datum: datum, termin_ort_oder_leer: ort || '______________________' };\n  });\n}\n\nconst datumProp  = props['Datum']?.date;\nconst dateiDatum = datumProp?.start ? new Date(datumProp.start).toISOString().slice(0,10) : 'unbekannt';\n\n// DB Gruppen Relation -> erste Gruppen-Page-ID (tolerant; leer => IF-Node fängt es ab)\nconst gruppenId = relationIds(findProp(props, /db\\s*gruppe|gruppe|board/i))[0] || null;\n\nreturn [{\n  json: {\n    page_id:          page.id,\n    gruppen_id:       gruppenId,\n    termin:           formatTermin(datumProp),\n    datei_datum:      dateiDatum,\n    ort_name:         getText(props['Ort Name']),\n    ort_adresse:      getText(props['Ort Adresse']),\n    gast_name:        getText(props['Gast Name']),\n    gast_web:         getText(props['Gast Web']),\n    gastvortrag_name: getText(props['Gastvortrag-Name']),\n    gastvortrag_web:  getText(props['Gastvortrag Web']),\n    hotseat1_name:    getText(props['Hotseat1-Name']),\n    hotseat1_thema:   getText(props['Hotseat1-Thema']),\n    hotseat2_name:    getText(props['Hotseat2-Name']),\n    hotseat2_thema:   getText(props['Hotseat2-Thema']),\n    themenvorschau:   getText(props['Themenvorschau']),\n    impulsvortrag:    getText(props['Impulsvortrag']),\n    naechste_termine: parseTermine(getText(props['Nächste Termine'])),\n    output_path:      `/opt/scripts/output/AGD_${dateiDatum}_Boardmeeting.docx`,\n  }\n}];\n"
      },
      "id": "ef9dbc29-fd94-4ed8-837d-db6d1fdd79f6",
      "name": "Code: Termin extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13152,
        6176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.gruppen_id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "e168dba6-4cd2-4c95-b2f3-e193767e09c0",
      "name": "IF: Gruppe vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        13360,
        6176
      ]
    },
    {
      "parameters": {
        "errorMessage": "Kein Board zugeordnet – bitte Gruppe in Board-Termine verknüpfen"
      },
      "id": "f29d988b-3575-433b-8cfe-94d01f2bdc12",
      "name": "Stop: Kein Board",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        13584,
        6336
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.gruppen_id }}",
          "mode": "id"
        },
        "simple": false
      },
      "id": "b4f9888d-4e6a-43cb-9fae-dac5b07e6f6d",
      "name": "Notion: Gruppe laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        13584,
        6096
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Node 7 – Kunden-IDs extrahieren: gibt MEHRERE Items zurück (1 pro Kunde).\n// Hinweis Pagination: Notion liefert max. 25 Relations pro Page; bei größeren\n// Gruppen über GET /v1/pages/{id}/properties/{prop_id} nachladen.\nconst gruppePage = $input.first().json;\nconst props = gruppePage.properties || {};\n\nfunction relationIds(prop) {\n  if (!prop) return [];\n  if (Array.isArray(prop.relation)) return prop.relation.map(r => (r && r.id) || r).filter(Boolean);\n  if (Array.isArray(prop))          return prop.map(r => (r && r.id) || r).filter(Boolean);\n  return [];\n}\nfunction findProp(props, regex) {\n  if (props[regex.source]) return props[regex.source];\n  const key = Object.keys(props).find(k => regex.test(k));\n  return key ? props[key] : null;\n}\n\nconst kundenIds = relationIds(findProp(props, /db\\s*kunde|kunde|mitglied/i));\nconst terminDaten = $('Code: Termin extrahieren').first().json;\n// NEU:\nconst gruppenName = \n  // Erst Title-Feld versuchen\n  gruppePage.properties?.['Name']?.title?.map(r => r.plain_text).join('') ||\n  // Dann Confluence Space Key als Fallback\n  gruppePage.properties?.['Confluence Space Key']?.rich_text?.map(r => r.plain_text).join('') ||\n  // Letzter Fallback\n  'Unbekannte Gruppe';\n\nif (kundenIds.length === 0) {\n  return [{ json: { ...terminDaten, kunden_id: null, alle_kunden_ids: [], gruppen_name: gruppenName } }];\n}\n\nreturn kundenIds.map(id => ({\n  json: {\n    ...terminDaten,\n    kunden_id: id,\n    alle_kunden_ids: kundenIds,\n    gruppen_name: gruppenName,\n  }\n}));\n"
      },
      "id": "0f40c09b-d657-498e-92f8-694996782ad2",
      "name": "Code: Kunden-IDs extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13808,
        6096
      ]
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $json.kunden_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "f7526d5f-0834-4614-94af-0c4d7b1375bf",
      "name": "HTTP: Kunden laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14032,
        6096
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node 9 – Payload aufbereiten\nconst alleItems = $input.all();\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(r => r.plain_text).join('');\n  if (prop.type === 'title')     return (prop.title || []).map(r => r.plain_text).join('');\n  if (prop.type === 'url')       return prop.url || '';\n  if (prop.type === 'email')     return prop.email || '';\n  if (prop.type === 'checkbox')  return !!prop.checkbox;\n  if (prop.type === 'select')    return prop.select?.name || '';\n  return '';\n}\n\n// Mitglieder aufbereiten\nconst mitglieder = alleItems\n  .map(item => item.json.properties)\n  .filter(Boolean)\n  .map(props => ({\n    name:  getText(props['Name']),\n    firma: getText(props['Firma']),\n    web:   getText(props['Web']),\n    aktiv: getText(props['Aktiv']),\n  }))\n  .filter(m => m.name && m.aktiv !== false)\n  .map(({ name, firma, web }, index) => ({\n    name, firma, web,\n    ist_erstes: index === 0,\n  }));\n\n// Termin-Daten und Gruppenname\n//const data = $('Code: Termin extrahieren').first().json;\nconst data = $('Code: Themen optimiert1').first().json;\n\n// NEU:\n// gruppen_name steckt in den Items vom HTTP: Kunden laden Node\n// dort wurde es via ...terminDaten weitergegeben\nconst gruppenName = $input.all()\n  .map(i => i.json.gruppen_name)\n  .find(n => n && n !== 'Unbekannte Gruppe') || \n  $('Code: Kunden-IDs extrahieren').first().json.gruppen_name ||\n  'Unbekannte_Gruppe';\nconst dateiName = `AGD_${data.datei_datum}_${gruppenName.replace(/\\s+/g, '_')}_Boardmeeting.docx`;\n\n// TOPs aufbauen\nconst tops = [];\n\ntops.push({ titel: 'Begrüßung & Agenda', zeit: '10min', beschreibung: '', untertitel: '', sub_items: [] });\n\nif (data.gastvortrag_name) {\n  tops.push({ titel: 'Impulsvortrag', zeit: '', beschreibung: data.impulsvortrag || '', untertitel: '', sub_items: [] });\n}\n\nif (data.hotseat1_name || data.hotseat2_name) {\n  const subItems = [];\n  if (data.hotseat1_name) subItems.push({ nr: 1, fallgeber: data.hotseat1_name, sub_zeit: '20min', sub_beschreibung: data.hotseat1_thema || '' });\n  if (data.hotseat2_name) subItems.push({ nr: 2, fallgeber: data.hotseat2_name, sub_zeit: '20min', sub_beschreibung: data.hotseat2_thema || '' });\n  tops.push({ titel: 'Vorstellung neue Themen', zeit: '', beschreibung: '', untertitel: 'was ist geplant, was soll umgesetzt werden, wo wird Hilfe benötigt', sub_items: subItems });\n}\n\ntops.push({ titel: 'Aktuelle Themen / Offene Fragen', zeit: '30min', beschreibung: '', untertitel: '', sub_items: [] });\ntops.push({ titel: 'Themen Vorschau nächste Sitzung', zeit: '', beschreibung: data.themenvorschau || '', untertitel: '', sub_items: [] });\n\nconst payload = {\n  termin:           data.termin,\n  ort_name:         data.ort_name,\n  ort_adresse:      data.ort_adresse,\n  mitglieder,\n  gast_name:        data.gast_name,\n  gast_web:         data.gast_web,\n  gastvortrag_name: data.gastvortrag_name,\n  gastvortrag_web:  data.gastvortrag_web,\n  tops,\n  themenvorschau:   '',\n  naechste_termine: data.naechste_termine || [],\n};\n\nreturn [{\n  json: {\n    page_id:        data.page_id,\n    datei_datum:    data.datei_datum,\n    gruppen_name:   gruppenName,\n    datei_name:     dateiName,\n    output_path:    `/root/local-files/${dateiName}`,\n    container_path: `/files/${dateiName}`,\n    agenda_datum:   new Date().toISOString().slice(0, 10),\n    payload,\n  }\n}];"
      },
      "id": "d6872ac5-2a18-412c-a127-799d7439add3",
      "name": "Code: Payload aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14240,
        6096
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: $json.payload, output: $json.output_path }) }}",
        "options": {}
      },
      "id": "39e66d6c-bc1f-4ff9-8218-140f3f0e21f1",
      "name": "HTTP: Agenda erzeugen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14464,
        6096
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Code: Payload aufbereiten').first().json.page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'Agenda generiert': { checkbox: true }, 'Agenda generiert am': { date: { start: $('Code: Payload aufbereiten').first().json.agenda_datum } }, 'Agenda Link': { url: $json.path }, 'Status': { select: { name: 'Abgeschlossen' } } } }) }}",
        "options": {}
      },
      "id": "1713b929-a141-4e48-a86e-bf8fb7fbc2cb",
      "name": "HTTP: Notion aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        14688,
        6096
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Einstieg\nWebhook (primär): POST { page_id }.\nSchedule (deaktiviert): alle Termine mit\nStatus 'Agenda bereit' & nicht generiert.",
        "height": 150,
        "width": 360,
        "color": 5
      },
      "id": "3483f09c-7530-41da-b4a4-2f6e26580112",
      "name": "Hinweis 26",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        12480,
        5728
      ]
    },
    {
      "parameters": {
        "content": "## Mitglieder-Kette\nTermin → DB Gruppen (1. Relation) → Gruppe laden\n→ DB Kunden (N Relations) → je 1 HTTP GET.\nNode 7 gibt N Items zurück → HTTP läuft N-mal.",
        "width": 380,
        "color": 3
      },
      "id": "3d2a28d6-ec14-4f77-a0bc-523a034645b2",
      "name": "Hinweis 451",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13808,
        5920
      ]
    },
    {
      "parameters": {
        "content": "## docx + Update\nPayload aufbereiten → HTTP an Agenda-Server\n(172.17.0.1:3001) → .docx. Danach Notion-Page\nvia PATCH aktualisieren (Link + Status).",
        "width": 360,
        "color": 6
      },
      "id": "ca30d6f7-21c3-4a6a-be05-790ea4e52fdf",
      "name": "Hinweis 457",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14464,
        5920
      ]
    },
    {
      "parameters": {
        "content": "## Fehlerfall\nOhne verknüpfte Gruppe → Stop-Node\n'Kein Board zugeordnet'.",
        "height": 120,
        "width": 300,
        "color": 7
      },
      "id": "7739af67-11a6-4bd1-8785-f36741e1e532",
      "name": "Hinweis 768",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13584,
        6480
      ]
    },
    {
      "parameters": {
        "toRecipients": "wolfgang.baierl@blboardsolutions.de",
        "subject": "=Agenda {{ $('Code: Payload aufbereiten').first().json.gruppen_name }} – {{ $('Code: Payload aufbereiten').first().json.payload.termin }}",
        "bodyContent": "=Hallo Wolfgang,\n\nanbei die Agenda für das Board Meeting der Gruppe {{ $('Code: Payload aufbereiten').first().json.gruppen_name }} am {{ $('Code: Payload aufbereiten').first().json.payload.termin }}.\n\nViele Grüße\nWolfgang Baierl\nBLBoardSolutions GmbH",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "attachment"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        15104,
        6096
      ],
      "id": "5be6432d-012e-486c-a3ef-26c52126218f",
      "name": "Send a message",
      "webhookId": "48909493-de7a-4998-ac8b-a9ab175e0fcd",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Anhang aus der Agenda-Server-Antwort bauen – tolerant gegenüber Feldnamen.\nconst resp = $('HTTP: Agenda erzeugen').first().json;\nconst base64 = resp.base64 || resp.file_base64 || resp.fileBase64;\nconst filename = resp.filename || (resp.path || '').split('/').pop() || 'Agenda.docx';\n\nif (!base64) {\n  throw new Error('Kein Base64 vom Agenda-Server erhalten. Antwortfelder: ' + Object.keys(resp).join(', '));\n}\n\nconst p = $('Code: Payload aufbereiten').first().json;\n\nreturn [{\n  json: {\n    gruppen_name: p.gruppen_name,\n    termin: (p.payload && p.payload.termin) || '',\n    page_id: p.page_id,\n    datei_datum: p.datei_datum,\n  },\n  binary: {\n    attachment: {\n      data: base64,\n      mimeType: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n      fileName: filename,\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14896,
        6096
      ],
      "id": "86a10f4a-fb2c-4b47-abfb-241769e4aec4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1024, system: 'Du bist Redakteur für Board-Meeting-Agenden. Formuliere die Themen kurz, präzise und einfach verständlich. Maximal zwei Sätze pro Thema, auf Deutsch. Verändere die fachliche Bedeutung nicht. Leere Themen bleiben leer. Antworte ausschließlich mit einem JSON-Objekt mit den Schlüsseln hotseat1_thema, hotseat2_thema, themenvorschau.', messages: [ { role: 'user', content: 'Optimiere diese Themen und gib nur JSON zurück:\\n' + JSON.stringify({ hotseat1_thema: $json.hotseat1_thema, hotseat2_thema: $json.hotseat2_thema, themenvorschau: $json.themenvorschau }) } ] }) }}",
        "options": {}
      },
      "id": "51c47d13-5600-477b-830a-4d393ba07d19",
      "name": "HTTP: Claude optimiert Themen1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        13216,
        5760
      ],
      "credentials": {
        "anthropicApi": {
          "id": "0kF6wMtBXYudxUi0",
          "name": "Anthropic account 8"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\n// Optimierte Themen aus der Claude-Antwort übernehmen (Fallback: Originaltexte).\nconst orig = $('Code: Termin extrahieren').first().json;\nlet optimized = {};\ntry {\n  const resp = $input.first().json;\n  let text = '';\n  if (Array.isArray(resp.content)) text = resp.content.map(c => c.text || '').join('');\n  else if (typeof resp.text === 'string') text = resp.text;\n  const m = text.match(/\\{[\\s\\S]*\\}/);\n  if (m) optimized = JSON.parse(m[0]);\n} catch (e) {\n  optimized = {};\n}\nreturn [{\n  json: {\n    ...orig,\n    hotseat1_thema: optimized.hotseat1_thema || orig.hotseat1_thema,\n    hotseat2_thema: optimized.hotseat2_thema || orig.hotseat2_thema,\n    themenvorschau: optimized.themenvorschau || orig.themenvorschau,\n    themen_optimiert: !!(optimized && Object.keys(optimized).length),\n  }\n}];\n"
      },
      "id": "097ddf9c-2646-4c17-b8c9-9cbc84d0259f",
      "name": "Code: Themen optimiert1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13440,
        5760
      ]
    },
    {
      "parameters": {
        "content": "## Themen-Optimierung (Claude)\nFormuliert Hotseat-Themen + Themenvorschau\nkurz/präzise/einfach (max. 2 Sätze) um.\nFehlersicher: bei Ausfall Originaltexte.\nCredential: Anthropic API (anthropicApi).",
        "height": 170,
        "width": 360,
        "color": 2
      },
      "id": "ca6c287d-012b-4bd7-afda-865c85e47569",
      "name": "Hinweis Claude1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13184,
        5552
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: Täglich 08:00": {
      "main": [
        [
          {
            "node": "Notion: Offene Termine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Offene Termine": {
      "main": [
        [
          {
            "node": "Set: page_id (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: page_id (Schedule)": {
      "main": [
        [
          {
            "node": "Notion: Termin laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Agenda anfordern": {
      "main": [
        [
          {
            "node": "Set: page_id (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: page_id (Webhook)": {
      "main": [
        [
          {
            "node": "Notion: Termin laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Termin laden": {
      "main": [
        [
          {
            "node": "Code: Termin extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Termin extrahieren": {
      "main": [
        [
          {
            "node": "HTTP: Claude optimiert Themen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Gruppe vorhanden?": {
      "main": [
        [
          {
            "node": "Notion: Gruppe laden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop: Kein Board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Gruppe laden": {
      "main": [
        [
          {
            "node": "Code: Kunden-IDs extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Kunden-IDs extrahieren": {
      "main": [
        [
          {
            "node": "HTTP: Kunden laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Kunden laden": {
      "main": [
        [
          {
            "node": "Code: Payload aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Payload aufbereiten": {
      "main": [
        [
          {
            "node": "HTTP: Agenda erzeugen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Agenda erzeugen": {
      "main": [
        [
          {
            "node": "HTTP: Notion aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Notion aktualisieren": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Claude optimiert Themen1": {
      "main": [
        [
          {
            "node": "Code: Themen optimiert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Themen optimiert1": {
      "main": [
        [
          {
            "node": "IF: Gruppe vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "21e6c4cf-e458-4655-8378-f403c3cfb9c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "sHKCTRRBjwDvoDJ3",
  "tags": []
}