workflows/agenda/BLBoardSolutions___Agenda_Generator_v3.json
{
  "name": "BLBoardSolutions – Agenda Generator v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "b237939c-c9d6-4cd2-a060-bbbda329846a",
      "name": "Schedule: Täglich 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        9232,
        4528
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "37b47c76-2802-80b5-a1ee-cd278db35a83",
          "mode": "id",
          "cachedResultName": "DB Board-Termine"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Agenda bereit"
            },
            {
              "key": "Agenda generiert|checkbox",
              "condition": "equals"
            }
          ]
        },
        "options": {}
      },
      "id": "6c04f279-3b2d-4958-803e-0df43de472cb",
      "name": "Notion: Offene Termine",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        9456,
        4528
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "page_id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1cfdfee-8273-4aef-b0ff-417ee68a7256",
      "name": "Set: page_id (Schedule)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9680,
        4528
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agenda-generieren",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "fdb443b0-7936-4bfe-a48e-64ce5205ea37",
      "name": "Webhook: Agenda anfordern",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        9232,
        4784
      ],
      "webhookId": "agenda-generieren",
      "credentials": {
        "httpHeaderAuth": {
          "id": "i7OClykEMdTGgbaz",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "page_id",
              "type": "string",
              "value": "={{ $json.body.page_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "461f9e14-d1fe-45b7-a4d3-9b84eb980cc5",
      "name": "Set: page_id (Webhook)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9456,
        4784
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.page_id }}",
          "mode": "id"
        },
        "simple": false
      },
      "id": "9b586f68-0c0f-4fc6-a1b5-e6765a5f8dbd",
      "name": "Notion: Termin laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        9680,
        4784
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Node 4 – Termin extrahieren (roher Notion-Response, simple=false).\nconst page  = $input.first().json;\nconst props = page.properties || {};\n\nfunction relationIds(prop) {\n  if (!prop) return [];\n  if (Array.isArray(prop.relation)) return prop.relation.map(r => (r && r.id) || r).filter(Boolean);\n  if (Array.isArray(prop))          return prop.map(r => (r && r.id) || r).filter(Boolean);\n  return [];\n}\nfunction findProp(props, regex) {\n  if (props[regex.source]) return props[regex.source];\n  const key = Object.keys(props).find(k => regex.test(k));\n  return key ? props[key] : null;\n}\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(r => r.plain_text).join('');\n  if (prop.type === 'title')     return (prop.title || []).map(r => r.plain_text).join('');\n  if (prop.type === 'url')       return prop.url || '';\n  if (prop.type === 'email')     return prop.email || '';\n  if (prop.type === 'checkbox')  return !!prop.checkbox;\n  if (prop.type === 'select')    return prop.select?.name || '';\n  return '';\n}\nfunction formatTermin(dateObj) {\n  if (!dateObj?.start) return '';\n  const start = new Date(dateObj.start);\n  const dateStr   = start.toLocaleDateString('de-DE', { day:'2-digit', month:'2-digit', year:'numeric' });\n  const startTime = start.toLocaleTimeString('de-DE', { hour:'2-digit', minute:'2-digit', hour12:false });\n  if (dateObj.end) {\n    const end = new Date(dateObj.end);\n    const endTime = end.toLocaleTimeString('de-DE', { hour:'2-digit', minute:'2-digit', hour12:false });\n    return `${dateStr}, ${startTime} – ${endTime} Uhr`;\n  }\n  return `${dateStr}, ${startTime} Uhr`;\n}\n\nfunction parseTermine(raw) {\n  if (!raw) return [];\n  return raw.split('\\n').map(l => l.trim()).filter(Boolean).map((line) => {\n    const [datum, ort] = line.split('|').map(s => s.trim());\n    return { termin_datum: datum, termin_ort_oder_leer: ort || '______________________' };\n  });\n}\n\nconst datumProp  = props['Datum']?.date;\nconst dateiDatum = datumProp?.start ? new Date(datumProp.start).toISOString().slice(0,10) : 'unbekannt';\n\n// DB Gruppen Relation -> erste Gruppen-Page-ID (tolerant; leer => IF-Node fängt es ab)\nconst gruppenId = relationIds(findProp(props, /db\\s*gruppe|gruppe|board/i))[0] || null;\n\nreturn [{\n  json: {\n    page_id:          page.id,\n    gruppen_id:       gruppenId,\n    termin:           formatTermin(datumProp),\n    datei_datum:      dateiDatum,\n    ort_name:         getText(props['Ort Name']),\n    ort_adresse:      getText(props['Ort Adresse']),\n    gast_name:        getText(props['Gast Name']),\n    gast_web:         getText(props['Gast Web']),\n    gastvortrag_name: getText(props['Gastvortrag-Name']),\n    gastvortrag_web:  getText(props['Gastvortrag Web']),\n    hotseat1_name:    getText(props['Hotseat1-Name']),\n    hotseat1_thema:   getText(props['Hotseat1-Thema']),\n    hotseat2_name:    getText(props['Hotseat2-Name']),\n    hotseat2_thema:   getText(props['Hotseat2-Thema']),\n    themenvorschau:   getText(props['Themenvorschau']),\n    impulsvortrag:    getText(props['Impulsvortrag']),\n    naechste_termine: parseTermine(getText(props['Nächste Termine'])),\n    output_path:      `/opt/scripts/output/AGD_${dateiDatum}_Boardmeeting.docx`,\n  }\n}];\n"
      },
      "id": "c719a632-e7b6-4c50-b488-bce442f9c6a4",
      "name": "Code: Termin extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9904,
        4784
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.gruppen_id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "0e0175bd-c808-4bd1-a408-476bd2472161",
      "name": "IF: Gruppe vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        10112,
        4784
      ]
    },
    {
      "parameters": {
        "errorMessage": "Kein Board zugeordnet – bitte Gruppe in Board-Termine verknüpfen"
      },
      "id": "2ba27406-819b-4ac6-9096-e949b928ee05",
      "name": "Stop: Kein Board",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        10336,
        4944
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.gruppen_id }}",
          "mode": "id"
        },
        "simple": false
      },
      "id": "5ec23e97-3885-4415-927f-3d9420396831",
      "name": "Notion: Gruppe laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        10336,
        4704
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Node 7 – Kunden-IDs extrahieren: gibt MEHRERE Items zurück (1 pro Kunde).\n// Hinweis Pagination: Notion liefert max. 25 Relations pro Page; bei größeren\n// Gruppen über GET /v1/pages/{id}/properties/{prop_id} nachladen.\nconst gruppePage = $input.first().json;\nconst props = gruppePage.properties || {};\n\nfunction relationIds(prop) {\n  if (!prop) return [];\n  if (Array.isArray(prop.relation)) return prop.relation.map(r => (r && r.id) || r).filter(Boolean);\n  if (Array.isArray(prop))          return prop.map(r => (r && r.id) || r).filter(Boolean);\n  return [];\n}\nfunction findProp(props, regex) {\n  if (props[regex.source]) return props[regex.source];\n  const key = Object.keys(props).find(k => regex.test(k));\n  return key ? props[key] : null;\n}\n\nconst kundenIds = relationIds(findProp(props, /db\\s*kunde|kunde|mitglied/i));\nconst terminDaten = $('Code: Termin extrahieren').first().json;\n// NEU:\nconst gruppenName = \n  // Erst Title-Feld versuchen\n  gruppePage.properties?.['Name']?.title?.map(r => r.plain_text).join('') ||\n  // Dann Confluence Space Key als Fallback\n  gruppePage.properties?.['Confluence Space Key']?.rich_text?.map(r => r.plain_text).join('') ||\n  // Letzter Fallback\n  'Unbekannte Gruppe';\n\nif (kundenIds.length === 0) {\n  return [{ json: { ...terminDaten, kunden_id: null, alle_kunden_ids: [], gruppen_name: gruppenName } }];\n}\n\nreturn kundenIds.map(id => ({\n  json: {\n    ...terminDaten,\n    kunden_id: id,\n    alle_kunden_ids: kundenIds,\n    gruppen_name: gruppenName,\n  }\n}));\n"
      },
      "id": "be8d5040-8952-4a3a-bf35-c8acc8142af3",
      "name": "Code: Kunden-IDs extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10560,
        4704
      ]
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $json.kunden_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "efaa4e85-ecaa-4ced-b66a-6294dad24d9d",
      "name": "HTTP: Kunden laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10784,
        4704
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node 9 – Payload aufbereiten\nconst alleItems = $input.all();\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(r => r.plain_text).join('');\n  if (prop.type === 'title')     return (prop.title || []).map(r => r.plain_text).join('');\n  if (prop.type === 'url')       return prop.url || '';\n  if (prop.type === 'email')     return prop.email || '';\n  if (prop.type === 'checkbox')  return !!prop.checkbox;\n  if (prop.type === 'select')    return prop.select?.name || '';\n  return '';\n}\n\n// Mitglieder aufbereiten\nconst mitglieder = alleItems\n  .map(item => item.json.properties)\n  .filter(Boolean)\n  .map(props => ({\n    name:  getText(props['Name']),\n    firma: getText(props['Firma']),\n    web:   getText(props['Web']),\n    aktiv: getText(props['Aktiv']),\n  }))\n  .filter(m => m.name && m.aktiv !== false)\n  .map(({ name, firma, web }, index) => ({\n    name, firma, web,\n    ist_erstes: index === 0,\n  }));\n\n// Termin-Daten und Gruppenname\nconst data = $('Code: Termin extrahieren').first().json;\n// NEU:\n// gruppen_name steckt in den Items vom HTTP: Kunden laden Node\n// dort wurde es via ...terminDaten weitergegeben\nconst gruppenName = $input.all()\n  .map(i => i.json.gruppen_name)\n  .find(n => n && n !== 'Unbekannte Gruppe') || \n  $('Code: Kunden-IDs extrahieren').first().json.gruppen_name ||\n  'Unbekannte_Gruppe';\nconst dateiName = `AGD_${data.datei_datum}_${gruppenName.replace(/\\s+/g, '_')}_Boardmeeting.docx`;\n\n// TOPs aufbauen\nconst tops = [];\n\ntops.push({ titel: 'Begrüßung & Agenda', zeit: '10min', beschreibung: '', untertitel: '', sub_items: [] });\n\nif (data.gastvortrag_name) {\n  tops.push({ titel: 'Impulsvortrag', zeit: '', beschreibung: data.impulsvortrag || '', untertitel: '', sub_items: [] });\n}\n\nif (data.hotseat1_name || data.hotseat2_name) {\n  const subItems = [];\n  if (data.hotseat1_name) subItems.push({ nr: 1, fallgeber: data.hotseat1_name, sub_zeit: '20min', sub_beschreibung: data.hotseat1_thema || '' });\n  if (data.hotseat2_name) subItems.push({ nr: 2, fallgeber: data.hotseat2_name, sub_zeit: '20min', sub_beschreibung: data.hotseat2_thema || '' });\n  tops.push({ titel: 'Vorstellung neue Themen', zeit: '', beschreibung: '', untertitel: 'was ist geplant, was soll umgesetzt werden, wo wird Hilfe benötigt', sub_items: subItems });\n}\n\ntops.push({ titel: 'Aktuelle Themen / Offene Fragen', zeit: '30min', beschreibung: '', untertitel: '', sub_items: [] });\ntops.push({ titel: 'Themen Vorschau nächste Sitzung', zeit: '', beschreibung: data.themenvorschau || '', untertitel: '', sub_items: [] });\n\nconst payload = {\n  termin:           data.termin,\n  ort_name:         data.ort_name,\n  ort_adresse:      data.ort_adresse,\n  mitglieder,\n  gast_name:        data.gast_name,\n  gast_web:         data.gast_web,\n  gastvortrag_name: data.gastvortrag_name,\n  gastvortrag_web:  data.gastvortrag_web,\n  tops,\n  themenvorschau:   '',\n  naechste_termine: data.naechste_termine || [],\n};\n\nreturn [{\n  json: {\n    page_id:        data.page_id,\n    datei_datum:    data.datei_datum,\n    gruppen_name:   gruppenName,\n    datei_name:     dateiName,\n    output_path:    `/root/local-files/${dateiName}`,\n    container_path: `/files/${dateiName}`,\n    agenda_datum:   new Date().toISOString().slice(0, 10),\n    payload,\n  }\n}];"
      },
      "id": "f6cf006c-3dd5-4909-922f-1c7f7848c2a5",
      "name": "Code: Payload aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10992,
        4704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: $json.payload, output: $json.output_path }) }}",
        "options": {}
      },
      "id": "51c0656a-dbd6-48ea-aaa0-491f2f997596",
      "name": "HTTP: Agenda erzeugen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11216,
        4704
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Code: Payload aufbereiten').first().json.page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'Agenda generiert': { checkbox: true }, 'Agenda generiert am': { date: { start: $('Code: Payload aufbereiten').first().json.agenda_datum } }, 'Agenda Link': { url: $json.path }, 'Status': { select: { name: 'Abgeschlossen' } } } }) }}",
        "options": {}
      },
      "id": "88574140-a2c1-4c62-8c1c-7f2cf22c6f9c",
      "name": "HTTP: Notion aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11440,
        4704
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Einstieg\nWebhook (primär): POST { page_id }.\nSchedule (deaktiviert): alle Termine mit\nStatus 'Agenda bereit' & nicht generiert.",
        "height": 150,
        "width": 360,
        "color": 5
      },
      "id": "288a72bd-5275-4caa-9d14-83624d060d7e",
      "name": "Hinweis 26",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9232,
        4336
      ]
    },
    {
      "parameters": {
        "content": "## Mitglieder-Kette\nTermin → DB Gruppen (1. Relation) → Gruppe laden\n→ DB Kunden (N Relations) → je 1 HTTP GET.\nNode 7 gibt N Items zurück → HTTP läuft N-mal.",
        "width": 380,
        "color": 3
      },
      "id": "ac28c053-feba-41c9-8f0f-70d601ace29a",
      "name": "Hinweis 451",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10560,
        4528
      ]
    },
    {
      "parameters": {
        "content": "## docx + Update\nPayload aufbereiten → HTTP an Agenda-Server\n(172.17.0.1:3001) → .docx. Danach Notion-Page\nvia PATCH aktualisieren (Link + Status).",
        "width": 360,
        "color": 6
      },
      "id": "de2e71fb-5a9e-49d5-916b-b475b64dacf8",
      "name": "Hinweis 457",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        11216,
        4528
      ]
    },
    {
      "parameters": {
        "content": "## Fehlerfall\nOhne verknüpfte Gruppe → Stop-Node\n'Kein Board zugeordnet'.",
        "height": 120,
        "width": 300,
        "color": 7
      },
      "id": "a5776c96-1357-44bc-9f2c-60cbc9ad717b",
      "name": "Hinweis 768",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10336,
        5088
      ]
    },
    {
      "parameters": {
        "toRecipients": "wolfgang.baierl@blboardsolutions.de",
        "subject": "=Agenda {{ $('Code: Payload aufbereiten').first().json.gruppen_name }} – {{ $('Code: Payload aufbereiten').first().json.payload.termin }}",
        "bodyContent": "=Hallo Wolfgang,\n\nanbei die Agenda für das Board Meeting der Gruppe {{ $('Code: Payload aufbereiten').first().json.gruppen_name }} am {{ $('Code: Payload aufbereiten').first().json.payload.termin }}.\n\nViele Grüße\nWolfgang Baierl\nBLBoardSolutions GmbH",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "attachment"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        11856,
        4704
      ],
      "id": "47a05880-a6d7-4b94-b22c-b563ea3cc755",
      "name": "Send a message",
      "webhookId": "48909493-de7a-4998-ac8b-a9ab175e0fcd",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Base64 vom Agenda-Server in Binary umwandeln\nconst base64 = $('HTTP: Agenda erzeugen').first().json.file_base64;\nconst filename = $('HTTP: Agenda erzeugen').first().json.filename;\n\n// gruppen_name aus dem Input lesen (kommt vom vorherigen Node)\nconst gruppen_name = $input.first().json.gruppen_name || 'Unbekannte_Gruppe';\nconst datei_datum = $input.first().json.datei_datum || '';\nconst termin = $input.first().json.termin || '';\nconst page_id = $input.first().json.page_id || '';\n\nconst binary = {\n  attachment: {\n    data: base64,\n    mimeType: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',\n    fileName: filename,\n  }\n};\n\nreturn [{\n  json: {\n    gruppen_name,\n    datei_datum,\n    termin,\n    page_id,\n  },\n  binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11648,
        4704
      ],
      "id": "efaece08-6f1b-4a78-81e2-0cb949f6500e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: Täglich 08:00": {
      "main": [
        [
          {
            "node": "Notion: Offene Termine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Offene Termine": {
      "main": [
        [
          {
            "node": "Set: page_id (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: page_id (Schedule)": {
      "main": [
        [
          {
            "node": "Notion: Termin laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Agenda anfordern": {
      "main": [
        [
          {
            "node": "Set: page_id (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: page_id (Webhook)": {
      "main": [
        [
          {
            "node": "Notion: Termin laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Termin laden": {
      "main": [
        [
          {
            "node": "Code: Termin extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Termin extrahieren": {
      "main": [
        [
          {
            "node": "IF: Gruppe vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Gruppe vorhanden?": {
      "main": [
        [
          {
            "node": "Notion: Gruppe laden",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop: Kein Board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Gruppe laden": {
      "main": [
        [
          {
            "node": "Code: Kunden-IDs extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Kunden-IDs extrahieren": {
      "main": [
        [
          {
            "node": "HTTP: Kunden laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Kunden laden": {
      "main": [
        [
          {
            "node": "Code: Payload aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Payload aufbereiten": {
      "main": [
        [
          {
            "node": "HTTP: Agenda erzeugen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Agenda erzeugen": {
      "main": [
        [
          {
            "node": "HTTP: Notion aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Notion aktualisieren": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "382fc71f-21da-4aad-8df4-237c3dfe2be8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "sHKCTRRBjwDvoDJ3",
  "tags": []
}