workflows/agenda/n8n_agenda_workflow_v2.json
{
  "name": "BLBoardSolutions – Agenda Generator v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agenda-generieren",
        "authentication": "none",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Agenda anfordern",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        300
      ],
      "webhookId": "agenda-generieren"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "page_id",
              "type": "string",
              "value": "={{ $json.body.page_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-pageid",
      "name": "Set: page_id (Webhook)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -500,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.page_id }}",
          "mode": "id"
        },
        "simple": false
      },
      "id": "notion-termin",
      "name": "Notion: Termin laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -280,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_NOTION_CREDENTIAL",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Termin-Datensatz aus dem rohen Notion-Response (simple=false) extrahieren.\nconst page  = $input.first().json;\nconst props = page.properties || {};\n\n// Relation-IDs tolerant gegenüber roher und vereinfachter Notion-Ausgabe lesen.\nfunction relationIds(prop) {\n  if (!prop) return [];\n  if (Array.isArray(prop.relation)) return prop.relation.map(r => (r && r.id) || r).filter(Boolean);\n  if (Array.isArray(prop))          return prop.map(r => (r && r.id) || r).filter(Boolean);\n  return [];\n}\n// Property tolerant nach Namen (case-insensitive, Teilstring) finden.\nfunction findProp(props, regex) {\n  if (props[regex.source]) return props[regex.source];\n  const key = Object.keys(props).find(k => regex.test(k));\n  return key ? props[key] : null;\n}\n\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(r => r.plain_text).join('');\n  if (prop.type === 'title')     return (prop.title || []).map(r => r.plain_text).join('');\n  if (prop.type === 'url')       return prop.url || '';\n  if (prop.type === 'checkbox')  return !!prop.checkbox;\n  if (prop.type === 'select')    return prop.select?.name || '';\n  if (prop.type === 'email')     return prop.email || '';\n  return '';\n}\n\nfunction formatTermin(dateObj) {\n  if (!dateObj || !dateObj.start) return '';\n  const start = new Date(dateObj.start);\n  const dateStr   = start.toLocaleDateString('de-DE', { day:'2-digit', month:'2-digit', year:'numeric' });\n  const startTime = start.toLocaleTimeString('de-DE', { hour:'2-digit', minute:'2-digit', hour12:false });\n  if (dateObj.end) {\n    const end = new Date(dateObj.end);\n    const endTime = end.toLocaleTimeString('de-DE', { hour:'2-digit', minute:'2-digit', hour12:false });\n    return `${dateStr}, ${startTime} – ${endTime} Uhr`;\n  }\n  return `${dateStr}, ${startTime} Uhr`;\n}\n\nconst datumProp  = props['Datum']?.date;\nconst dateiDatum = datumProp?.start ? new Date(datumProp.start).toISOString().slice(0,10) : 'unbekannt';\n\n// DB Gruppen Relation -> erste Gruppen-ID (tolerant + Diagnose)\nconst gruppenProp = findProp(props, /db\\s*gruppe|gruppe|board/i);\nconst gruppenIds  = relationIds(gruppenProp);\nconst gruppenId   = gruppenIds[0] || null;\nif (!gruppenId) {\n  throw new Error(\n    'Kein Board zugeordnet. Verfügbare Felder: [' + Object.keys(props).join(', ') + '] | ' +\n    'Wert des Gruppen-Felds: ' + JSON.stringify(gruppenProp || null)\n  );\n}\n\nfunction parseTermine(raw) {\n  if (!raw) return [];\n  return raw.split('\\n').map(l => l.trim()).filter(Boolean).map((line, i) => {\n    const [datum, ort] = line.split('|').map(s => s.trim());\n    return { termin_datum: `Termin ${i + 1}: ${datum}`, termin_ort_oder_leer: ort || '______________________' };\n  });\n}\n\nreturn [{\n  json: {\n    page_id:          page.id,\n    gruppen_id:       gruppenId,\n    termin:           formatTermin(datumProp),\n    datei_datum:      dateiDatum,\n    ort_name:         getText(props['Ort Name']),\n    ort_adresse:      getText(props['Ort Adresse']),\n    gast_name:        getText(props['Gast Name']),\n    gast_web:         getText(props['Gast Web']),\n    gastvortrag_name: getText(props['Gastvortrag-Name']),\n    gastvortrag_web:  getText(props['Gastvortrag Web']),\n    hotseat1_name:    getText(props['Hotseat1-Name']),\n    hotseat1_thema:   getText(props['Hotseat1-Thema']),\n    hotseat2_name:    getText(props['Hotseat2-Name']),\n    hotseat2_thema:   getText(props['Hotseat2-Thema']),\n    themenvorschau:   getText(props['Themenvorschau']),\n    naechste_termine: parseTermine(getText(props['Nächste Termine'])),\n    output_path:      `/opt/scripts/output/AGD_${dateiDatum}_Boardmeeting.docx`,\n  }\n}];\n"
      },
      "id": "code-termin-extrahieren",
      "name": "Code: Termin extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.gruppen_id }}",
          "mode": "id"
        },
        "simple": false
      },
      "id": "notion-gruppe-laden",
      "name": "Notion: Gruppe laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        160,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_NOTION_CREDENTIAL",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Aus dem Gruppen-Response die DB Kunden Relation auslesen (tolerant).\nfunction relationIds(prop) {\n  if (!prop) return [];\n  if (Array.isArray(prop.relation)) return prop.relation.map(r => (r && r.id) || r).filter(Boolean);\n  if (Array.isArray(prop))          return prop.map(r => (r && r.id) || r).filter(Boolean);\n  return [];\n}\nfunction findProp(props, regex) {\n  if (props[regex.source]) return props[regex.source];\n  const key = Object.keys(props).find(k => regex.test(k));\n  return key ? props[key] : null;\n}\n\nconst page = $input.first().json;\nconst props = page.properties || {};\nconst kundenProp = findProp(props, /db\\s*kunde|kunde|mitglied/i);\nconst kundenIds  = relationIds(kundenProp);\n\nconst terminDaten = $('Code: Termin extrahieren').first().json;\nreturn [{ json: { ...terminDaten, kunden_ids: kundenIds } }];\n"
      },
      "id": "code-kunden-ids-extrahieren",
      "name": "Code: Kunden-IDs extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.kunden_ids.length }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "if-hat-kunden",
      "name": "IF: Hat Kunden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "kunden_ids",
        "include": "noOtherFields",
        "options": {
          "destinationFieldName": "kunden_id"
        }
      },
      "id": "split-kunden",
      "name": "Split Out: Kunden-IDs",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        820,
        180
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.notion.com/v1/pages/{{ $json.kunden_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "options": {}
      },
      "id": "http-kunde",
      "name": "HTTP: Kunde laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        180
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_NOTION_CREDENTIAL",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Alle geladenen Kunden-Pages zu Mitglieder-Array aufbereiten.\nconst alleKunden = $input.all();\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(r => r.plain_text).join('');\n  if (prop.type === 'title')     return (prop.title || []).map(r => r.plain_text).join('');\n  if (prop.type === 'url')       return prop.url || '';\n  if (prop.type === 'email')     return prop.email || '';\n  if (prop.type === 'checkbox')  return !!prop.checkbox;\n  return '';\n}\n\nconst mitglieder = alleKunden.map(item => {\n  const props = item.json.properties;\n  return {\n    name:  getText(props?.['Name']),\n    firma: getText(props?.['Firma']),\n    web:   getText(props?.['Web']),\n  };\n}).filter(m => m.name);\n\nconst terminDaten = $('Code: Termin extrahieren').first().json;\nreturn [{ json: { ...terminDaten, mitglieder } }];\n"
      },
      "id": "code-mitglieder-aufbereiten",
      "name": "Code: Mitglieder aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Gruppe ohne verknüpfte Kunden: Warnung + leere Mitgliederliste, aber weiter.\nconst data = $input.first().json;\nconsole.warn('WARN: Gruppe hat keine verknüpften DB-Kunden – leere Mitgliederliste.');\nreturn [{ json: { ...data, mitglieder: [] } }];\n"
      },
      "id": "code-keine-mitglieder",
      "name": "Code: Keine Mitglieder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        440
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Payload für die Agenda bauen – reines JS, keine Sandbox-Module (fs/child_process).\nconst data = $input.first().json;\n\nconst tops = [\n  { titel: 'Begrüßung & Agenda', zeit: '10min', beschreibung: '', untertitel: '', sub_items: [] },\n];\n\nif (data.hotseat1_name || data.hotseat2_name) {\n  tops.push({\n    titel: 'Vorstellung neue Themen',\n    zeit: '',\n    beschreibung: '',\n    untertitel: 'was ist geplant, was soll umgesetzt werden, wo wird Hilfe benötigt',\n    sub_items: [\n      ...(data.hotseat1_name ? [{ nr: 1, fallgeber: data.hotseat1_name, sub_zeit: '20min', sub_beschreibung: data.hotseat1_thema || '' }] : []),\n      ...(data.hotseat2_name ? [{ nr: 2, fallgeber: data.hotseat2_name, sub_zeit: '20min', sub_beschreibung: data.hotseat2_thema || '' }] : []),\n    ],\n  });\n}\n\ntops.push({ titel: 'Aktuelle Themen / Offene Fragen', zeit: '30min', beschreibung: '', untertitel: '', sub_items: [] });\n\nif (data.themenvorschau) {\n  tops.push({ titel: 'Themen Vorschau nächste Sitzung', zeit: '', beschreibung: '', untertitel: '', sub_items: [] });\n}\n\nconst payload = {\n  termin:           data.termin,\n  ort_name:         data.ort_name,\n  ort_adresse:      data.ort_adresse,\n  mitglieder:       data.mitglieder || [],\n  gast_name:        data.gast_name,\n  gast_web:         data.gast_web,\n  gastvortrag_name: data.gastvortrag_name,\n  gastvortrag_web:  data.gastvortrag_web,\n  tops,\n  themenvorschau:   data.themenvorschau,\n  naechste_termine: data.naechste_termine || [],\n};\n\nreturn [{\n  json: {\n    payload,\n    output_path:  data.output_path,\n    page_id:      data.page_id,\n    datei_datum:  data.datei_datum,\n    termin:       data.termin,\n    agenda_datum: new Date().toISOString().slice(0, 10),\n  }\n}];\n"
      },
      "id": "code-payload-bauen",
      "name": "Code: Payload bauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ data: $json.payload, output: $json.output_path }) }}",
        "options": {}
      },
      "id": "http-agenda-erzeugen",
      "name": "HTTP: Agenda erzeugen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        300
      ],
      "onError": "stopWorkflow"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $('Code: Payload bauen').first().json.page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'Agenda generiert': { checkbox: true }, 'Agenda generiert am': { date: { start: $('Code: Payload bauen').first().json.agenda_datum } }, 'Agenda Link': { url: $json.path }, 'Status': { select: { name: 'Abgeschlossen' } } } }) }}",
        "options": {}
      },
      "id": "http-update",
      "name": "HTTP: Notion aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_NOTION_CREDENTIAL",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "content": "## Mitglieder-Kette\nBoard-Termin → Feld **DB Gruppen** (1. Relation)\n→ Gruppe laden → Feld **DB Kunden** (Relations)\n→ pro Kunde ein HTTP GET → Mitglieder.\n\nKein Rollup, keine DB-IDs nötig – alles über Page-IDs.",
        "height": 180,
        "width": 380,
        "color": 5
      },
      "id": "sticky-33511",
      "name": "Hinweis 511",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        60
      ]
    },
    {
      "parameters": {
        "content": "## Verzweigung\nIF prüft, ob die Gruppe Kunden hat.\nLeer → Warnung + leere Mitgliederliste,\nWorkflow läuft trotzdem weiter.",
        "height": 150,
        "width": 320,
        "color": 3
      },
      "id": "sticky-13577",
      "name": "Hinweis 577",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        600,
        480
      ]
    },
    {
      "parameters": {
        "content": "## docx + Update\n'Code: Payload bauen' erzeugt nur das JSON (sandbox-sicher).\n'HTTP: Agenda erzeugen' ruft den Server-Dienst\nPOST http://127.0.0.1:3001/generate auf (agenda-service.js),\nder die .docx rendert und den Pfad zurückgibt.\nDanach Notion-Page via HTTP PATCH aktualisieren.",
        "height": 200,
        "width": 400,
        "color": 6
      },
      "id": "sticky-77018",
      "name": "Hinweis 18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        60
      ]
    },
    {
      "parameters": {
        "content": "## Fehlerstopp\nIst dem Termin keine Gruppe zugeordnet,\nstoppt 'Code: Termin extrahieren' mit\n'Kein Board zugeordnet'.",
        "height": 140,
        "width": 320,
        "color": 7
      },
      "id": "sticky-61208",
      "name": "Hinweis 208",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        60
      ]
    }
  ],
  "connections": {
    "Webhook: Agenda anfordern": {
      "main": [
        [
          {
            "node": "Set: page_id (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: page_id (Webhook)": {
      "main": [
        [
          {
            "node": "Notion: Termin laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Termin laden": {
      "main": [
        [
          {
            "node": "Code: Termin extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Termin extrahieren": {
      "main": [
        [
          {
            "node": "Notion: Gruppe laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Gruppe laden": {
      "main": [
        [
          {
            "node": "Code: Kunden-IDs extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Kunden-IDs extrahieren": {
      "main": [
        [
          {
            "node": "IF: Hat Kunden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Hat Kunden?": {
      "main": [
        [
          {
            "node": "Split Out: Kunden-IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Keine Mitglieder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out: Kunden-IDs": {
      "main": [
        [
          {
            "node": "HTTP: Kunde laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Kunde laden": {
      "main": [
        [
          {
            "node": "Code: Mitglieder aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Mitglieder aufbereiten": {
      "main": [
        [
          {
            "node": "Code: Payload bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Keine Mitglieder": {
      "main": [
        [
          {
            "node": "Code: Payload bauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Payload bauen": {
      "main": [
        [
          {
            "node": "HTTP: Agenda erzeugen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Agenda erzeugen": {
      "main": [
        [
          {
            "node": "HTTP: Notion aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "agenda-v2",
  "meta": {},
  "id": "agenda-generator-v2",
  "tags": []
}