workflows/agenda/n8n_agenda_workflow.json
{
  "name": "BLBoardSolutions – Agenda Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agenda-generieren",
        "responseMode": "onReceived",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Agenda anfordern",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        200
      ],
      "webhookId": "agenda-generieren",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{WEBHOOK_AUTH_CREDENTIAL_ID}}",
          "name": "agenda_webhook_auth"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule: Täglich 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -640,
        520
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "{{DB_BOARD_TERMINE}}",
          "mode": "id",
          "cachedResultName": "DB Board-Termine"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({and:[{property:'Status',select:{equals:'Agenda bereit'}},{property:'Agenda generiert',checkbox:{equals:false}}]}) }}",
        "options": {}
      },
      "id": "notion-offene-termine",
      "name": "Notion: Offene Termine",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -400,
        520
      ],
      "credentials": {
        "notionApi": {
          "id": "{{NOTION_CREDENTIAL_ID}}",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-termine",
      "name": "Loop: Ein Termin",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -160,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "page_id",
              "type": "string",
              "value": "={{ $json.body.page_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-pageid-webhook",
      "name": "Set: page_id (Webhook)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "page_id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-pageid-schedule",
      "name": "Set: page_id (Schedule)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        520
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.page_id }}",
          "mode": "id"
        },
        "simple": false
      },
      "id": "notion-get-page",
      "name": "Notion: Termin laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        320,
        340
      ],
      "credentials": {
        "notionApi": {
          "id": "{{NOTION_CREDENTIAL_ID}}",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Termin-Datensatz aus dem Notion Get-Page-Response extrahieren.\n// Voraussetzung: vorheriger Notion-Node mit \"Simplify Output = false\".\nconst page = $input.first().json;\nconst props = page.properties || {};\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(r => r.plain_text).join('');\n  if (prop.type === 'title')     return (prop.title || []).map(r => r.plain_text).join('');\n  if (prop.type === 'url')       return prop.url || '';\n  if (prop.type === 'checkbox')  return !!prop.checkbox;\n  if (prop.type === 'select')    return prop.select?.name || '';\n  if (prop.type === 'date')      return prop.date?.start || '';\n  return '';\n}\n\nreturn [{\n  json: {\n    page_id:              page.id,\n    ort_name:             getText(props['Ort Name']),\n    ort_adresse:          getText(props['Ort Adresse']),\n    gast_name:            getText(props['Gast Name']),\n    gast_web:             getText(props['Gast Web']),\n    gastvortrag_name:     getText(props['Gastvortrag Name']),\n    gastvortrag_web:      getText(props['Gastvortrag Web']),\n    themenvorschau:       getText(props['Themenvorschau']),\n    naechste_termine_raw: getText(props['Nächste Termine']),\n    status:               getText(props['Status']),\n    // Roh-Datum für die Formatierung im Aufbereiten-Node\n    datum_start:          props['Datum']?.date?.start || '',\n    datum_end:            props['Datum']?.date?.end || '',\n  }\n}];\n"
      },
      "id": "code-termin-extrahieren",
      "name": "Code: Termin extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        340
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "{{DB_AGENDA_TOPS}}",
          "mode": "id",
          "cachedResultName": "DB Agenda-TOPs"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({and:[{property:'Board-Termin',relation:{contains:$('Code: Termin extrahieren').first().json.page_id}},{property:'Status',select:{equals:'Final'}}]}) }}",
        "options": {}
      },
      "id": "notion-tops-laden",
      "name": "Notion: TOPs laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        800,
        340
      ],
      "credentials": {
        "notionApi": {
          "id": "{{NOTION_CREDENTIAL_ID}}",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "{{DB_FALLGEBER}}",
          "mode": "id",
          "cachedResultName": "DB Fallgeber"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({property:'Eltern-TOP',relation:{is_not_empty:true}}) }}",
        "options": {}
      },
      "id": "notion-fallgeber-laden",
      "name": "Notion: Fallgeber laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1040,
        340
      ],
      "credentials": {
        "notionApi": {
          "id": "{{NOTION_CREDENTIAL_ID}}",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "{{DB_MITGLIEDER}}",
          "mode": "id",
          "cachedResultName": "DB Board-Mitglieder"
        },
        "returnAll": true,
        "simple": false,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({property:'Aktiv',checkbox:{equals:true}}) }}",
        "options": {}
      },
      "id": "notion-mitglieder-laden",
      "name": "Notion: Mitglieder laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1280,
        340
      ],
      "credentials": {
        "notionApi": {
          "id": "{{NOTION_CREDENTIAL_ID}}",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Zentraler Aufbereiten-Node: baut den generate-agenda.js Payload\n// sowie ein fertig ge-escaptes Shell-Kommando.\nconst termin_data = $('Code: Termin extrahieren').first().json;\nconst tops_raw    = $('Notion: TOPs laden').all().map(i => i.json);\nconst sub_raw_all = $('Notion: Fallgeber laden').all().map(i => i.json);\nconst members_raw = $('Notion: Mitglieder laden').all().map(i => i.json);\n\nfunction getText(prop) {\n  if (!prop) return '';\n  if (prop.type === 'rich_text') return (prop.rich_text || []).map(r => r.plain_text).join('') || '';\n  if (prop.type === 'title')     return (prop.title || []).map(r => r.plain_text).join('') || '';\n  if (prop.type === 'url')       return prop.url || '';\n  if (prop.type === 'checkbox')  return !!prop.checkbox;\n  if (prop.type === 'number')    return prop.number ?? 0;\n  if (prop.type === 'select')    return prop.select?.name || '';\n  return '';\n}\n\n// ── Datum formatieren ──────────────────────────────────────────────\nfunction formatTermin(raw_start, raw_end) {\n  if (!raw_start) return '';\n  const start = new Date(raw_start);\n  const dateStr = start.toLocaleDateString('de-DE', { day:'2-digit', month:'2-digit', year:'numeric' });\n  const startTime = start.toLocaleTimeString('de-DE', { hour:'2-digit', minute:'2-digit' });\n  if (raw_end) {\n    const end = new Date(raw_end);\n    const endTime = end.toLocaleTimeString('de-DE', { hour:'2-digit', minute:'2-digit' });\n    return `${dateStr}, ${startTime} – ${endTime} Uhr`;\n  }\n  return `${dateStr}, ${startTime} Uhr`;\n}\nconst termin_str  = formatTermin(termin_data.datum_start, termin_data.datum_end);\nconst datei_datum = termin_data.datum_start\n  ? new Date(termin_data.datum_start).toISOString().slice(0, 10)\n  : 'unbekannt';\n\n// ── Mitglieder ─────────────────────────────────────────────────────\nconst mitglieder = members_raw.map(m => ({\n  name:  getText(m.properties?.['Name']),\n  firma: getText(m.properties?.['Firma']),\n  web:   getText(m.properties?.['Web']),\n}));\n\n// ── TOPs + Fallgeber (Sub-Items) ───────────────────────────────────\nconst tops = tops_raw.map(t => {\n  const top_id = t.id;\n  const props  = t.properties;\n\n  const sub_items = sub_raw_all\n    .filter(s => (s.properties?.['Eltern-TOP']?.relation || []).some(r => r.id === top_id))\n    .sort((a, b) => (getText(a.properties?.['Reihenfolge']) || 0) - (getText(b.properties?.['Reihenfolge']) || 0))\n    .map((s, idx) => ({\n      nr:               idx + 1,\n      fallgeber:        getText(s.properties?.['Fallgeber Name']),\n      sub_zeit:         getText(s.properties?.['Sub Zeit']),\n      sub_beschreibung: getText(s.properties?.['Sub Beschreibung']),\n    }));\n\n  return {\n    titel:        getText(props?.['Titel']),\n    zeit:         getText(props?.['Zeit']),\n    beschreibung: getText(props?.['Beschreibung']),\n    untertitel:   getText(props?.['Untertitel']),\n    sub_items,\n  };\n});\n\n// Sortierung der TOPs nach Reihenfolge (Notion-Sort als Fallback abgesichert)\ntops_raw.forEach((t, i) => { tops[i]._ord = getText(t.properties?.['Reihenfolge']) || 0; });\ntops.sort((a, b) => a._ord - b._ord).forEach(t => delete t._ord);\n\nif (tops.length === 0) {\n  console.warn('WARN: Keine finalen TOPs gefunden – Dokument wird trotzdem erzeugt.');\n}\n\n// ── Nächste Termine parsen ─────────────────────────────────────────\nfunction parseNaechsteTermine(raw) {\n  if (!raw) return [];\n  return raw.split('\\n').map(l => l.trim()).filter(Boolean).map(line => {\n    const [datum, ort] = line.split('|').map(s => s.trim());\n    return { termin_datum: datum || line, termin_ort_oder_leer: ort || '______________________' };\n  });\n}\n\n// ── Finaler Payload ────────────────────────────────────────────────\nconst payload = {\n  termin:           termin_str,\n  ort_name:         termin_data.ort_name,\n  ort_adresse:      termin_data.ort_adresse,\n  mitglieder,\n  gast_name:        termin_data.gast_name,\n  gast_web:         termin_data.gast_web,\n  gastvortrag_name: termin_data.gastvortrag_name,\n  gastvortrag_web:  termin_data.gastvortrag_web,\n  tops,\n  themenvorschau:   termin_data.themenvorschau,\n  naechste_termine: parseNaechsteTermine(termin_data.naechste_termine_raw),\n};\n\nconst payload_json = JSON.stringify(payload);\nconst output_path  = `/opt/scripts/output/AGD_${datei_datum}_Boardmeeting.docx`;\n\nreturn [{\n  json: {\n    payload,\n    payload_json,\n    datei_datum,\n    page_id: termin_data.page_id,\n    output_path,\n    termin: termin_str,\n    // E-Mail-Empfänger optional aus Webhook-Body übernehmen\n    email_to:   $('Webhook: Agenda anfordern').first()?.json?.body?.email_to || '',\n    send_email: $('Webhook: Agenda anfordern').first()?.json?.body?.send_email === true,\n  }\n}];\n"
      },
      "id": "code-daten-aufbereiten",
      "name": "Code: Daten aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Agenda als .docx direkt im Code-Node erzeugen (ersetzt Execute Command).\n// ── Voraussetzungen in der n8n-Umgebung ──────────────────────────────\n//   NODE_FUNCTION_ALLOW_BUILTIN=fs,path           (oder *)\n//   NODE_FUNCTION_ALLOW_EXTERNAL=pizzip,docxtemplater   (oder *)\n//   pizzip + docxtemplater installiert unter MODULES_DIR (/opt/scripts/node_modules)\nconst fs   = require('fs');\nconst path = require('path');\n\nconst SCRIPTS_DIR   = '/opt/scripts';\nconst MODULES_DIR   = SCRIPTS_DIR + '/node_modules';\nconst TEMPLATE_PATH = SCRIPTS_DIR + '/agenda_template.docx';\n\n// Modul laden: erst per Name (falls im n8n-Image installiert), sonst per absolutem Pfad\nfunction load(name) {\n  try { return require(name); }\n  catch (e) { return require(MODULES_DIR + '/' + name); }\n}\nlet PizZip, Docxtemplater;\ntry {\n  PizZip        = load('pizzip');\n  Docxtemplater = load('docxtemplater');\n} catch (e) {\n  throw new Error('Module nicht ladbar (pizzip/docxtemplater). ' +\n    'NODE_FUNCTION_ALLOW_EXTERNAL setzen und Packages unter ' + MODULES_DIR + ' installieren. Detail: ' + e.message);\n}\n\nconst item = $input.first().json;\nconst data = item.payload;\nconst outputPath = item.output_path;\n\nlet buf;\ntry {\n  const content = fs.readFileSync(TEMPLATE_PATH, 'binary');\n  const zip = new PizZip(content);\n  const doc = new Docxtemplater(zip, { paragraphLoop: true, linebreaks: true, nullGetter: () => '' });\n  doc.render(data);\n  buf = doc.getZip().generate({ type: 'nodebuffer', compression: 'DEFLATE' });\n} catch (e) {\n  throw new Error('Agenda-Generierung fehlgeschlagen: ' + (e.message || e));\n}\n\n// Datei auf den Server schreiben (für \"Agenda Link\" in Notion)\nfs.writeFileSync(outputPath, buf);\n\n// Binary direkt mitliefern, falls später ohne erneutes Lesen gebraucht\nconst binaryData = await this.helpers.prepareBinaryData(\n  buf,\n  path.basename(outputPath),\n  'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n);\n\nreturn [{\n  json: { ...item, filepath: outputPath },\n  binary: { data: binaryData },\n}];\n"
      },
      "id": "code-agenda-docx",
      "name": "Code: Agenda erzeugen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        340
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.page_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'Agenda generiert': { checkbox: true }, 'Agenda generiert am': { date: { start: $now.toISO() } }, 'Agenda Link': { url: $json.filepath }, 'Status': { select: { name: 'Abgeschlossen' } } } }) }}",
        "options": {}
      },
      "id": "http-notion-update",
      "name": "HTTP: Notion aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        340
      ],
      "credentials": {
        "notionApi": {
          "id": "{{NOTION_CREDENTIAL_ID}}",
          "name": "notion_api"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $('Code: Agenda erzeugen').first().json.send_email }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "if-email",
      "name": "IF: E-Mail senden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2480,
        340
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $('Code: Agenda erzeugen').first().json.filepath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "read-file",
      "name": "Datei lesen",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2720,
        240
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "=Agenda Board Meeting {{ $('Code: Agenda erzeugen').first().json.termin }}",
        "bodyContent": "=Anbei die Agenda für das Board Meeting am {{ $('Code: Agenda erzeugen').first().json.termin }}.\n\nViele Grüße\nBLBoardSolutions",
        "toRecipients": "={{ $('Code: Agenda erzeugen').first().json.email_to || '{{EMAIL_EMPFAENGER}}' }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          }
        }
      },
      "id": "outlook-send",
      "name": "E-Mail senden (Outlook)",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2960,
        240
      ],
      "webhookId": "agenda-outlook-send",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OUTLOOK_CREDENTIAL_ID",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1 · Trigger\nWebhook (primär) erwartet POST mit\n`{ \"page_id\": \"...\", \"send_email\": true, \"email_to\": \"...\" }`\nund Header-Auth-Token.\n\nSchedule (sekundär, deaktiviert) holt alle Termine mit\nStatus = \"Agenda bereit\" und Agenda generiert = false.",
        "height": 280,
        "width": 460,
        "color": 5
      },
      "id": "sticky-2532",
      "name": "Hinweis 532",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -680,
        -120
      ]
    },
    {
      "parameters": {
        "content": "## 2-4 · Notion lesen + aufbereiten\nAlle Notion-Reads mit **Simplify Output = false**,\ndamit die Code-Nodes die rohe Properties-API\nlesen können. Der Aufbereiten-Node baut Payload\n+ ge-escaptes Shell-Kommando.",
        "height": 220,
        "width": 420,
        "color": 3
      },
      "id": "sticky-67384",
      "name": "Hinweis 384",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -40
      ]
    },
    {
      "parameters": {
        "content": "## 5-6 · docx erzeugen + Notion-Update\nCode-Node rendert das Word-Template mit\ndocxtemplater (kein Execute Command nötig),\nschreibt die .docx nach /opt/scripts/output\nund liefert sie als Binary. Danach Notion-Page\nvia HTTP PATCH aktualisieren.\n\nVoraussetzung: NODE_FUNCTION_ALLOW_BUILTIN=fs,path\nund NODE_FUNCTION_ALLOW_EXTERNAL=pizzip,docxtemplater",
        "height": 260,
        "width": 420,
        "color": 6
      },
      "id": "sticky-32430",
      "name": "Hinweis 430",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        -40
      ]
    },
    {
      "parameters": {
        "content": "## 7 · E-Mail (optional)\nNur wenn `send_email = true` im Webhook-Body.\n⚠️ Board-Mitglieder-DB hat KEIN E-Mail-Feld –\nEmpfänger kommt aus `email_to` oder Platzhalter\n`{{EMAIL_EMPFAENGER}}`.",
        "height": 220,
        "width": 380,
        "color": 7
      },
      "id": "sticky-32278",
      "name": "Hinweis 278",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2720,
        -40
      ]
    }
  ],
  "connections": {
    "Webhook: Agenda anfordern": {
      "main": [
        [
          {
            "node": "Set: page_id (Webhook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: page_id (Webhook)": {
      "main": [
        [
          {
            "node": "Notion: Termin laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule: Täglich 08:00": {
      "main": [
        [
          {
            "node": "Notion: Offene Termine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Offene Termine": {
      "main": [
        [
          {
            "node": "Loop: Ein Termin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Ein Termin": {
      "main": [
        [],
        [
          {
            "node": "Set: page_id (Schedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: page_id (Schedule)": {
      "main": [
        [
          {
            "node": "Notion: Termin laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Termin laden": {
      "main": [
        [
          {
            "node": "Code: Termin extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Termin extrahieren": {
      "main": [
        [
          {
            "node": "Notion: TOPs laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: TOPs laden": {
      "main": [
        [
          {
            "node": "Notion: Fallgeber laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Fallgeber laden": {
      "main": [
        [
          {
            "node": "Notion: Mitglieder laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Mitglieder laden": {
      "main": [
        [
          {
            "node": "Code: Daten aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Daten aufbereiten": {
      "main": [
        [
          {
            "node": "Code: Agenda erzeugen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Agenda erzeugen": {
      "main": [
        [
          {
            "node": "HTTP: Notion aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Notion aktualisieren": {
      "main": [
        [
          {
            "node": "IF: E-Mail senden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: E-Mail senden?": {
      "main": [
        [
          {
            "node": "Datei lesen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Datei lesen": {
      "main": [
        [
          {
            "node": "E-Mail senden (Outlook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "agenda-v1",
  "meta": {},
  "id": "agenda-generator",
  "tags": []
}