workflows/email-analyse-antwort/infomail_erfassen_v1.json
{
  "name": "InfoMail Erfassen (Outlook-Kategorie → Notion)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "im000001-0000-0000-0000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/messages?$filter=categories/any(c:c eq 'InfoMail')&$select=id,subject,from,categories&$top=50&$orderby=receivedDateTime desc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "id": "im000002-0000-0000-0000-000000000002",
      "name": "Outlook: InfoMail-Emails holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [460, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.item.json.value || [];\nif (messages.length === 0) { return []; }\n\nconst seen = new Set();\nconst items = [];\nfor (const msg of messages) {\n  const email = (msg.from?.emailAddress?.address || '').toLowerCase();\n  if (!seen.has(email)) {\n    seen.add(email);\n    items.push({ json: {\n      message_id: msg.id,\n      sender_email: email,\n      sender_name: msg.from?.emailAddress?.name || email,\n      email_subject: msg.subject || '',\n      categories: msg.categories || []\n    }});\n  }\n}\nreturn items;"
      },
      "id": "im000003-0000-0000-0000-000000000003",
      "name": "Code: Emails aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/databases/36a47c762802801e8d37fc2797bf7cac/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"property\": \"E-Mail\",\n    \"email\": { \"equals\": {{ JSON.stringify($json.sender_email) }} }\n  },\n  \"page_size\": 1\n}",
        "options": {}
      },
      "id": "im000004-0000-0000-0000-000000000004",
      "name": "Notion: Bereits erfasst?",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [900, 300],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Verwendet .all() statt .item um Item-Pairing-Bugs nach 1→N Code-Split zu vermeiden.\n// Beide Arrays haben dieselbe Länge N (1:1 durch Notion-Check verarbeitet).\nconst allNotionItems = $input.all();\nconst allSenderItems = $('Code: Emails aufteilen').all();\n\nreturn allNotionItems.map((item, i) => {\n  const notionResult = item.json;\n  const senderData = (allSenderItems[i] || {}).json || {};\n  return {\n    json: {\n      already_exists: (notionResult.results || []).length > 0,\n      sender_email: senderData.sender_email || '',\n      sender_name: senderData.sender_name || '',\n      email_subject: senderData.email_subject || '',\n      message_id: senderData.message_id || '',\n      categories: senderData.categories || []\n    }\n  };\n});"
      },
      "id": "im000005-0000-0000-0000-000000000005",
      "name": "Code: Daten zusammenführen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "im000006-c001",
              "leftValue": "={{ $json.already_exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "im000006-0000-0000-0000-000000000006",
      "name": "Neuer Eintrag?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "36a47c762802801e8d37fc2797bf7cac",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Eintrag|title",
              "titleValue": "={{ $json.sender_name }}"
            },
            {
              "key": "E-Mail|email",
              "emailValue": "={{ $json.sender_email }}"
            },
            {
              "key": "Typ|select",
              "selectValue": "Email"
            },
            {
              "key": "Absender-Name|rich_text",
              "textContent": "={{ $json.sender_name }}"
            },
            {
              "key": "Betreff|rich_text",
              "textContent": "={{ $json.email_subject }}"
            },
            {
              "key": "Hinzugefügt|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "im000007-0000-0000-0000-000000000007",
      "name": "Notion: Eintrag anlegen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1560, 180],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{ $json.message_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ categories: ($json.categories || []).filter(c => c !== 'InfoMail') }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          },
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 2000
        }
      },
      "id": "im000008-0000-0000-0000-000000000008",
      "name": "Outlook: Kategorie entfernen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1340, 420],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Outlook: InfoMail-Emails holen", "type": "main", "index": 0 }]]
    },
    "Outlook: InfoMail-Emails holen": {
      "main": [[{ "node": "Code: Emails aufteilen", "type": "main", "index": 0 }]]
    },
    "Code: Emails aufteilen": {
      "main": [[{ "node": "Notion: Bereits erfasst?", "type": "main", "index": 0 }]]
    },
    "Notion: Bereits erfasst?": {
      "main": [[{ "node": "Code: Daten zusammenführen", "type": "main", "index": 0 }]]
    },
    "Code: Daten zusammenführen": {
      "main": [
        [
          { "node": "Neuer Eintrag?", "type": "main", "index": 0 },
          { "node": "Outlook: Kategorie entfernen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Neuer Eintrag?": {
      "main": [
        [{ "node": "Notion: Eintrag anlegen", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorWorkflow": "HSomkpfv9ZqJU9Jn"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "",
  "tags": []
}
