workflows/aktuelle-informationen/workflow_a_publish.json
{
  "name": "Aktuelle Informationen → Confluence Blogpost [PUBLISH]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "2e4c1844-7180-4368-9417-1d17065239af",
      "name": "Alle 15 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        384
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36147c76-2802-807a-a2aa-d10f7d7d910d",
          "mode": "list",
          "cachedResultName": "Aktuelle Informationen",
          "cachedResultUrl": "https://www.notion.so/36147c762802807aa2aad10f7d7d910d"
        },
        "returnAll": true,
        "filterType": "json",
        "filterJson": "{\"and\": [{\"property\": \"Status\", \"select\": {\"equals\": \"Freigegeben\"}}, {\"property\": \"In Confluence anzeigen\", \"checkbox\": {\"equals\": true}}, {\"property\": \"ConfluenceSync\", \"checkbox\": {\"equals\": false}}]}",
        "options": {}
      },
      "id": "bcf6466c-5029-42bb-8c5a-b9344c750042",
      "name": "Notion: Freizugebende Eintraege holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        384,
        384
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst flat = [];\n\nfor (const item of items) {\n  const notionPageId = item.json.id;\n  const props = item.json;\n\n  const titel     = props.property_titel || props.name || 'Kein Titel';\n  const kurztext  = props.property_kurztext || '';\n  const katRaw    = props.property_kategorie;\n  const kategorie = Array.isArray(katRaw) ? katRaw.join(', ') : (katRaw || '');\n  const verAm     = props.property_ver_ffentlicht_am\n    || props.property_veroffentlicht_am\n    || props.property_veroeffentlicht_am;\n  const datum          = verAm?.start || new Date().toISOString().split('T')[0];\n  const currentBlogIDs = props.property_confluence_blog_i_ds\n    || props.property_confluenceblogids\n    || props.property_confluence_blog_ids\n    || '';\n\n  const typ = props.property_typ || 'Individuell';\n\n  const dbKunden   = props.property_db_kunden || [];\n  const kundenIds  = Array.isArray(dbKunden) ? dbKunden : [dbKunden];\n\n  const dbGruppen  = props.property_db_gruppen || [];\n  const gruppenIds = Array.isArray(dbGruppen) ? dbGruppen : [dbGruppen];\n\n  if ((typ === 'Gruppe' || typ === 'Beides') && gruppenIds.filter(Boolean).length === 0) {\n    flat.push({\n      json: {\n        _guard_error: true,\n        _error_reason: `Typ=\"${typ}\" aber DB_Gruppen ist leer`,\n        notionPageId,\n        titel\n      }\n    });\n    continue;\n  }\n  if ((typ === 'Individuell' || typ === 'Beides') && kundenIds.filter(Boolean).length === 0) {\n    flat.push({\n      json: {\n        _guard_error: true,\n        _error_reason: `Typ=\"${typ}\" aber DB_Kunden ist leer`,\n        notionPageId,\n        titel\n      }\n    });\n    continue;\n  }\n\n  if (typ === 'Individuell' || typ === 'Beides') {\n    for (const kundePageId of kundenIds) {\n      if (!kundePageId) continue;\n      flat.push({\n        json: {\n          notionPageId,\n          titel,\n          kurztext,\n          kategorie,\n          datum,\n          currentBlogIDs,\n          empfaengerPageId: kundePageId,\n          empfaengerTyp: 'individuell',\n          _guard_error: false\n        }\n      });\n    }\n  }\n\n  if (typ === 'Gruppe' || typ === 'Beides') {\n    for (const gruppePageId of gruppenIds) {\n      if (!gruppePageId) continue;\n      flat.push({\n        json: {\n          notionPageId,\n          titel,\n          kurztext,\n          kategorie,\n          datum,\n          currentBlogIDs,\n          empfaengerPageId: gruppePageId,\n          empfaengerTyp: 'gruppe',\n          _guard_error: false\n        }\n      });\n    }\n  }\n}\n\nreturn flat;"
      },
      "id": "6b4d5e02-d127-4e87-977b-df940af5bab8",
      "name": "Flatten: Eintraege x Kunden",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7c0758eb-44bc-443d-a975-4b3ea73ccde9",
      "name": "Loop: Ein Paar pro Durchlauf",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        384
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.empfaengerPageId }}",
          "mode": "id"
        }
      },
      "id": "acd76e48-d4cf-48e0-a2df-d3a65a000405",
      "name": "Notion: Kundendaten holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1392,
        256
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const loopItem  = $('Loop: Ein Paar pro Durchlauf').item.json;\nconst notionData = $json;\n\nconst spaceKey = notionData.property_confluence_space_key || '';\n\nconst empfaengerTyp  = loopItem.empfaengerTyp;\nconst isGruppenSpace = spaceKey.startsWith('GP');\nconst isKundenSpace  = spaceKey.startsWith('KP');\n\nif (empfaengerTyp === 'gruppe' && !isGruppenSpace) {\n  throw new Error(\n    `GUARD VERLETZUNG: Typ=Gruppe aber SpaceKey=\"${spaceKey}\" ist kein GP*-Space.` +\n    ` Notion-Seite: ${loopItem.notionPageId}`\n  );\n}\nif (empfaengerTyp === 'individuell' && !isKundenSpace) {\n  throw new Error(\n    `GUARD VERLETZUNG: Typ=Individuell aber SpaceKey=\"${spaceKey}\" ist kein KP*-Space.` +\n    ` Notion-Seite: ${loopItem.notionPageId}`\n  );\n}\n\nreturn {\n  json: {\n    spaceKey,\n    empfaengerTyp,\n    notionPageId:   loopItem.notionPageId,\n    titel:          loopItem.titel,\n    kurztext:       loopItem.kurztext,\n    kategorie:      loopItem.kategorie,\n    datum:          loopItem.datum,\n    currentBlogIDs: loopItem.currentBlogIDs\n  }\n};"
      },
      "id": "6cc889dc-b487-4376-82d7-1e5e8f18fc05",
      "name": "Daten zusammenfuehren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://blboardsolutions.atlassian.net/wiki/rest/api/content",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ (() => {\n  const d = $('Daten zusammenfuehren').item.json;\n  const escHtml = s => String(s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n  const titel     = escHtml(d.titel);\n  const kurztext  = escHtml(d.kurztext);\n  const kategorie = escHtml(d.kategorie);\n  const datum     = escHtml(d.datum);\n  const bodyHtml  = `<h2>${titel}</h2><p>${kurztext}</p>`\n    + (kategorie ? `<p><em>Kategorie: ${kategorie}</em></p>` : '')\n    + `<p><em>Veroeffentlicht am: ${datum}</em></p>`;\n  return JSON.stringify({\n    type: 'blogpost',\n    title: `${d.titel} – ${d.datum}`,\n    space: { key: d.spaceKey },\n    metadata: {\n      labels: [{ prefix: 'global', name: 'aktuelle-info' }]\n    },\n    body: {\n      storage: {\n        value: bodyHtml,\n        representation: 'storage'\n      }\n    }\n  });\n})() }}",
        "options": {}
      },
      "id": "79f99106-6974-424c-a583-9cb67029c8ec",
      "name": "Confluence: Blogpost erstellen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        384
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OncAUjZtrqWedJug",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Neue Blog-ID aus Confluence-Antwort\nconst newBlogId  = $json.id || '';\nconst prev       = $('Daten zusammenfuehren').item.json;\nconst spaceKey   = prev.spaceKey || '';\nconst notionPageId = prev.notionPageId || '';\nconst datum      = prev.datum || '';\n\n// Bestehende Blog-IDs um neuen Eintrag ergaenzen\n// Format: \"KPA:12345,KPB:67890\"\nconst current    = prev.currentBlogIDs || '';\nconst newEntry   = `${spaceKey}:${newBlogId}`;\nconst updatedBlogIDs = current\n  ? `${current},${newEntry}`\n  : newEntry;\n\nreturn {\n  json: {\n    notionPageId,\n    updatedBlogIDs,\n    datum\n  }\n};"
      },
      "id": "fd334f9d-9ac1-4a47-b432-e686916fcd6b",
      "name": "Code: Blog-ID speichern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        384
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionPageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ConfluenceSync|checkbox",
              "checkboxValue": true
            },
            {
              "key": "ConfluenceBlogIDs|rich_text",
              "textContent": "={{ $json.updatedBlogIDs }}"
            },
            {
              "key": "Veröffentlicht am|date",
              "includeTime": false,
              "date": "={{ $json.datum }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5e6f2d55-399a-4aea-8954-7194a27f97ff",
      "name": "Notion: ConfluenceSync setzen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2288,
        384
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8081ef6d-53bb-4164-a72e-9a693f44e1af",
              "leftValue": "={{ $json.datum }}",
              "rightValue": "={{ new Date().toISOString().split('T')[0] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        384
      ],
      "id": "bb1a4e1d-7335-4679-b96f-23eb12709e53",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\n\nconst errors = items.filter(i => i.json._guard_error === true);\n\nif (errors.length > 0) {\n  const errorDetails = errors.map(e =>\n    `• \"${e.json.titel}\" (${e.json.notionPageId}): ${e.json._error_reason}`\n  ).join('\\n');\n\n  return errors.map(e => ({\n    json: {\n      _guard_triggered: true,\n      notionPageId: e.json.notionPageId,\n      titel: e.json.titel,\n      errorReason: e.json._error_reason,\n      errorSummary: errorDetails,\n      timestamp: new Date().toISOString()\n    }\n  }));\n}\n\nreturn items.filter(i => !i.json._guard_error);"
      },
      "id": "8d369251-60a9-4d77-bf8e-399aef40be88",
      "name": "Guard: Fehlerhafte Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d329e8d0-1dd4-4e2f-8085-5ac3f0ab7ecd",
              "leftValue": "={{ $json.empfaengerTyp }}",
              "rightValue": "gruppe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e010bc50-e335-4b27-97c3-75cfaeb4426b",
      "name": "If: Empfaenger-Typ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        384
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.empfaengerPageId }}",
          "mode": "id"
        }
      },
      "id": "0b2f86b9-f289-4e09-9677-9c2c64cdf4ce",
      "name": "Notion: Gruppendaten holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1392,
        512
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Alle 15 Minuten": {
      "main": [
        [
          {
            "node": "Notion: Freizugebende Eintraege holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Freizugebende Eintraege holen": {
      "main": [
        [
          {
            "node": "Flatten: Eintraege x Kunden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten: Eintraege x Kunden": {
      "main": [
        [
          {
            "node": "Guard: Fehlerhafte Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Ein Paar pro Durchlauf": {
      "main": [
        [],
        [
          {
            "node": "If: Empfaenger-Typ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Kundendaten holen": {
      "main": [
        [
          {
            "node": "Daten zusammenfuehren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daten zusammenfuehren": {
      "main": [
        [
          {
            "node": "Confluence: Blogpost erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence: Blogpost erstellen": {
      "main": [
        [
          {
            "node": "Code: Blog-ID speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Blog-ID speichern": {
      "main": [
        [
          {
            "node": "Notion: ConfluenceSync setzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: ConfluenceSync setzen": {
      "main": [
        [
          {
            "node": "Loop: Ein Paar pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop: Ein Paar pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard: Fehlerhafte Items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Empfaenger-Typ": {
      "main": [
        [
          {
            "node": "Notion: Gruppendaten holen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion: Kundendaten holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Gruppendaten holen": {
      "main": [
        [
          {
            "node": "Daten zusammenfuehren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "673b611d-ae8a-480c-b538-c06c6052b91c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "i2IrgNUcVBhJ4CfL",
  "tags": []
}