workflows/termine/workflow_termine_v9_debug.json
{
  "name": "Termine → Confluence Panel [v9-debug]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "f9fc97f1-d887-4310-8c38-67dc1b99913a",
      "name": "Alle 15 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1584,
        2592
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36347c76-2802-80e0-b5c1-cb867c9cc3ce",
          "mode": "list",
          "cachedResultName": "DB Termine",
          "cachedResultUrl": "https://www.notion.so/36347c76280280e0b5c1cb867c9cc3ce"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "1d2606cd-74b4-40ee-92a9-b99984b53f70",
      "name": "Notion: Alle Termine holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1808,
        2592
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Code: Nach Kunden aufteilen (v9)\n// Feldname bestätigt: property_loeschen (kein Umlaut)\n// Loeschen=true → loescheIds (unabhängig von ConfluenceSync)\n// Loeschen=false + needsSync → termine[]\n\nfunction simpleHash(str) {\n  var hash = 5381;\n  for (var i = 0; i < str.length; i++) {\n    hash = ((hash << 5) + hash) + str.charCodeAt(i);\n    hash = hash & hash;\n  }\n  return String(Math.abs(hash));\n}\n\nvar items = $input.all();\nvar today = new Date();\ntoday.setHours(0, 0, 0, 0);\nvar kundeMap = {};\n\nfor (var i = 0; i < items.length; i++) {\n  var props        = items[i].json;\n  var notionPageId = props.id || '';\n\n  var kundenRaw = props.property_kunden || [];\n  var kundenIds = Array.isArray(kundenRaw) ? kundenRaw : [kundenRaw];\n  var validKunden = kundenIds.filter(Boolean);\n  if (validKunden.length === 0) continue;\n\n  // Löschen-Flag – Feldname bestätigt: property_loeschen\n  var loeschen = props.property_loeschen === true;\n\n  if (loeschen) {\n    // Termin aus Confluence-Tabelle entfernen (via data-notion-id)\n    for (var d = 0; d < validKunden.length; d++) {\n      var kId = validKunden[d];\n      if (!kundeMap[kId]) {\n        kundeMap[kId] = { kundePageId: kId, termine: [], loescheIds: [] };\n      }\n      if (kundeMap[kId].loescheIds.indexOf(notionPageId) === -1) {\n        kundeMap[kId].loescheIds.push(notionPageId);\n      }\n    }\n    continue;\n  }\n\n  // Datum prüfen\n  var datumObj = props.property_datum;\n  var datumRaw = null;\n  if (datumObj && datumObj.start) { datumRaw = datumObj.start; }\n  else if (typeof datumObj === 'string' && datumObj.length >= 10) { datumRaw = datumObj; }\n  if (!datumRaw) continue;\n  if (new Date(datumRaw.substring(0, 10)) < today) continue;\n\n  var titel      = props.property_titel || props.name || 'Kein Titel';\n  var ort        = props.property_ort   || '';\n  var datumIso   = datumRaw.substring(0, 10);\n  var dp         = datumIso.split('-');\n  var datumStr   = dp[2] + '.' + dp[1] + '.' + dp[0];\n  var uhrzeitStr = '';\n  var tIdx       = datumRaw.indexOf('T');\n  if (tIdx !== -1) { uhrzeitStr = datumRaw.substring(tIdx + 1, tIdx + 6); }\n\n  var confluenceSync = props.property_confluence_sync === true;\n  var lastSyncHash   = String(props.property_last_sync_hash || '').trim();\n  var currentHash    = simpleHash(datumIso + '|' + titel);\n  var needsSync      = !confluenceSync || (currentHash !== lastSyncHash);\n  if (!needsSync) continue;\n\n  for (var j = 0; j < validKunden.length; j++) {\n    var kp = validKunden[j];\n    if (!kundeMap[kp]) {\n      kundeMap[kp] = { kundePageId: kp, termine: [], loescheIds: [] };\n    }\n    kundeMap[kp].termine.push({\n      datumIso, datumStr, uhrzeitStr, titel, ort, notionPageId, currentHash\n    });\n  }\n}\n\nvar result = [];\nvar keys = Object.keys(kundeMap);\nfor (var ki = 0; ki < keys.length; ki++) {\n  var e = kundeMap[keys[ki]];\n  if (e.termine.length === 0 && e.loescheIds.length === 0) continue;\n  e.termine.sort(function(a,b){ return a.datumIso<b.datumIso?-1:a.datumIso>b.datumIso?1:0; });\n  result.push({ json: e });\n}\nreturn result;\n"
      },
      "id": "7ec4ede8-ea08-4c64-9b71-1316c92a436a",
      "name": "Code: Nach Kunden aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        2592
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "82273178-66cb-4e0d-8ce8-68800af10163",
      "name": "Loop: Ein Kunde pro Durchlauf",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2256,
        2592
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.kundePageId }}",
          "mode": "id"
        }
      },
      "id": "07c51c36-8cd2-4c79-95f8-e457e95f26ee",
      "name": "Notion: Kundendaten holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2480,
        2480
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m01",
              "name": "confluencePageId",
              "value": "={{ $json.property_confluence_page_i_d || $json.property_confluence_page_id || '' }}",
              "type": "string"
            },
            {
              "id": "m02",
              "name": "spaceKey",
              "value": "={{ $json.property_confluence_space_key || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0c258b6-4593-4022-aa56-6752681119f7",
      "name": "Set: Kundendaten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        2480
      ]
    },
    {
      "parameters": {
        "url": "=https://blboardsolutions.atlassian.net/wiki/rest/api/content/{{ $json.confluencePageId }}?expand=body.storage,version,title",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "43e011f7-e975-412d-a42d-97ddf60b411d",
      "name": "Confluence: Seite holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        2480
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OncAUjZtrqWedJug",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================================\n// Code: Tabelle aufbauen (v7)\n// Neu: loescheIds aus loopItem werden aus Tabelle entfernt\n//      (anhand data-notion-id Attribut)\n// Alle anderen Funktionen aus v6 bleiben erhalten.\n// ============================================================\n\nvar page        = $json;\nvar loopItem    = $('Loop: Ein Kunde pro Durchlauf').item.json;\nvar neueTermine = loopItem.termine    || [];\nvar loescheIds  = loopItem.loescheIds || []; // notionPageIds zu löschender Termine\n\nvar esc = function(s) {\n  return String(s || '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n};\nvar unesc = function(s) {\n  return String(s || '')\n    .replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>')\n    .replace(/&quot;/g,'\"').replace(/<[^>]+>/g,'');\n};\n\nvar pageId       = page.id    || '';\nvar pageTitle    = page.title || '';\nvar currentVersion = (page.version && page.version.number) ? page.version.number : 1;\nvar html = (page.body && page.body.storage && page.body.storage.value)\n  ? page.body.storage.value : '';\n\n// ---------------------------------------------------------------\n// Schritt 1: Panel finden\n// ---------------------------------------------------------------\nvar panelTitles = [\n  'N\\u00e4chste Termine','N&auml;chste Termine',\n  'N&#228;chste Termine','N&#xE4;chste Termine','N&#xe4;chste Termine'\n];\nvar titleIdx = -1;\nfor (var ti = 0; ti < panelTitles.length; ti++) {\n  titleIdx = html.indexOf(panelTitles[ti]);\n  if (titleIdx !== -1) break;\n}\nif (titleIdx === -1) throw new Error('Heading \"Nächste Termine\" nicht gefunden. pageId:' + pageId);\n\nvar panelMacroTag = '<ac:structured-macro ac:name=\"panel\"';\nvar panelStart    = html.indexOf(panelMacroTag, titleIdx);\nif (panelStart === -1) throw new Error('Panel-Makro nicht gefunden. pageId:' + pageId);\n\nvar panelEndTag   = '</ac:structured-macro>';\nvar panelEnd      = html.indexOf(panelEndTag, panelStart);\nif (panelEnd === -1) throw new Error('Panel-Ende nicht gefunden. pageId:' + pageId);\nvar panelEnd_full = panelEnd + panelEndTag.length;\nvar panelBlock    = html.substring(panelStart, panelEnd_full);\n\n// ---------------------------------------------------------------\n// Schritt 2: Bestehende Zeilen parsen\n// ---------------------------------------------------------------\nvar today = new Date();\ntoday.setHours(0,0,0,0);\n\nfunction deToIso(s) {\n  var p = String(s||'').trim().split('.');\n  return p.length === 3 ? p[2]+'-'+p[1]+'-'+p[0] : '';\n}\nfunction isoToDate(iso) {\n  var d = new Date(iso); d.setHours(0,0,0,0); return d;\n}\n\n// Set der zu löschenden notionPageIds\nvar loescheSet = {};\nfor (var li = 0; li < loescheIds.length; li++) {\n  if (loescheIds[li]) loescheSet[loescheIds[li]] = true;\n}\n\nvar byNotionId = {}; // notionPageId → terminObj\nvar byKey      = {}; // datumIso|titel → terminObj (Altbestand)\n\nvar trFullPattern = /<tr([^>]*)>([\\s\\S]*?)<\\/tr>/g;\nvar trMatch;\ntrFullPattern.lastIndex = 0;\nwhile ((trMatch = trFullPattern.exec(panelBlock)) !== null) {\n  var trAttrs = trMatch[1];\n  var rowHtml = trMatch[2];\n  if (rowHtml.indexOf('<th') !== -1) continue;\n\n  var notionIdMatch = trAttrs.match(/data-notion-id=\"([^\"]+)\"/);\n  var notionPageId  = notionIdMatch ? notionIdMatch[1] : '';\n\n  // Zu löschende Zeilen überspringen\n  if (notionPageId && loescheSet[notionPageId]) continue;\n\n  var tdValues = [];\n  var tdPat = /<td[^>]*>([\\s\\S]*?)<\\/td>/g;\n  var tdMatch;\n  while ((tdMatch = tdPat.exec(rowHtml)) !== null) {\n    tdValues.push(unesc(tdMatch[1].trim()));\n  }\n  if (tdValues.length < 4) continue;\n\n  var datumIso = deToIso(tdValues[0]);\n  // Vergangene Termine entfernen\n  if (datumIso && isoToDate(datumIso) < today) continue;\n\n  var obj = {\n    datumIso,\n    datumStr:   tdValues[0],\n    uhrzeitStr: tdValues[1],\n    titel:      tdValues[2],\n    ort:        tdValues[3],\n    notionPageId\n  };\n\n  if (notionPageId) { byNotionId[notionPageId] = obj; }\n  else              { byKey[datumIso+'|'+tdValues[2]] = obj; }\n}\n\n// ---------------------------------------------------------------\n// Schritt 3: Neue/geänderte Termine einpflegen\n// ---------------------------------------------------------------\nfor (var ni = 0; ni < neueTermine.length; ni++) {\n  var nt = neueTermine[ni];\n  if (!nt.datumIso || isoToDate(nt.datumIso) < today) continue;\n\n  var newObj = {\n    datumIso:    nt.datumIso,\n    datumStr:    nt.datumStr,\n    uhrzeitStr:  nt.uhrzeitStr,\n    titel:       nt.titel,\n    ort:         nt.ort,\n    notionPageId: nt.notionPageId || ''\n  };\n\n  if (nt.notionPageId) {\n    // Ersetzt bestehende Zeile ODER hängt neu an\n    byNotionId[nt.notionPageId] = newObj;\n  } else if (!byKey[nt.datumIso+'|'+nt.titel]) {\n    byKey[nt.datumIso+'|'+nt.titel] = newObj;\n  }\n}\n\n// ---------------------------------------------------------------\n// Schritt 4: Zusammenführen + sortieren\n// ---------------------------------------------------------------\nvar alleTermine = [];\nvar k1s = Object.keys(byNotionId);\nfor (var k1 = 0; k1 < k1s.length; k1++) alleTermine.push(byNotionId[k1s[k1]]);\nvar k2s = Object.keys(byKey);\nfor (var k2 = 0; k2 < k2s.length; k2++) alleTermine.push(byKey[k2s[k2]]);\nalleTermine.sort(function(a,b){ return a.datumIso<b.datumIso?-1:a.datumIso>b.datumIso?1:0; });\n\n// ---------------------------------------------------------------\n// Schritt 5: Confluence Cloud-Tabelle aufbauen\n// ---------------------------------------------------------------\nvar tableLocalId = 'termine-tbl-' + pageId + '-0001';\nvar headerRow = '<tr>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h1\"><p><strong>Datum</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h2\"><p><strong>Uhrzeit</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h3\"><p><strong>Titel</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h4\"><p><strong>Ort</strong></p></th>'\n  + '</tr>';\n\nvar dataRows = '';\nfor (var ri = 0; ri < alleTermine.length; ri++) {\n  var t     = alleTermine[ri];\n  var rowId = tableLocalId + '-r' + ri;\n  var nAttr = t.notionPageId ? ' data-notion-id=\"'+esc(t.notionPageId)+'\"' : '';\n  dataRows += '<tr ac:local-id=\"'+rowId+'\"'+nAttr+'>'\n    + '<td ac:local-id=\"'+rowId+'-c1\"><p>'+esc(t.datumStr)  +'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c2\"><p>'+esc(t.uhrzeitStr)+'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c3\"><p>'+esc(t.titel)     +'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c4\"><p>'+esc(t.ort)       +'</p></td>'\n    + '</tr>';\n}\n\nvar tableHtml = alleTermine.length > 0\n  ? '<table data-table-width=\"760\" data-layout=\"default\" ac:local-id=\"'+tableLocalId+'\">'\n    + '<tbody>'+headerRow+dataRows+'</tbody></table>'\n  : '<p></p>';\n\nvar newRTB = '<ac:rich-text-body>' + tableHtml + '</ac:rich-text-body>';\n\n// ---------------------------------------------------------------\n// Schritt 6: Panel ersetzen\n// ---------------------------------------------------------------\nvar selfClosing = '<ac:rich-text-body />';\nvar newPanelBlock;\nif (panelBlock.indexOf(selfClosing) !== -1) {\n  newPanelBlock = panelBlock.replace(selfClosing, newRTB);\n} else {\n  var rtbOpen  = '<ac:rich-text-body>';\n  var rtbClose = '</ac:rich-text-body>';\n  var rtbStart = panelBlock.indexOf(rtbOpen);\n  var rtbEnd   = panelBlock.indexOf(rtbClose);\n  if (rtbStart===-1||rtbEnd===-1) throw new Error('ac:rich-text-body nicht gefunden. pageId:'+pageId);\n  newPanelBlock = panelBlock.substring(0,rtbStart) + newRTB\n    + panelBlock.substring(rtbEnd+rtbClose.length);\n}\n\nhtml = html.substring(0,panelStart) + newPanelBlock + html.substring(panelEnd_full);\nreturn { json: { pageId, pageTitle, newVersion: currentVersion+1, updatedHtml: html } };\n"
      },
      "id": "b8fe09ba-c1a4-48db-9de1-ab6a752b3ae6",
      "name": "Code: Tabelle aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        2480
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://blboardsolutions.atlassian.net/wiki/rest/api/content/{{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ version: { number: $json.newVersion }, title: $json.pageTitle, type: 'page', body: { storage: { value: $json.updatedHtml, representation: 'storage' } } }) }}",
        "options": {}
      },
      "id": "d639e538-2206-4bf6-9dc8-a9e9ff925e5c",
      "name": "Confluence: Seite aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3376,
        2480
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OncAUjZtrqWedJug",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// Code: Sync-Items aufbereiten (v8)\n// Mode: runOnceForAllItems\n// Fix: Löschen-Flag wird NICHT zurückgesetzt (manuell gesetzt)\n//      Nur ConfluenceSync=false + LastSyncHash='' für gelöschte Termine\n// ============================================================\n\nvar loopItem   = $('Loop: Ein Kunde pro Durchlauf').item.json;\nvar termine    = loopItem.termine    || [];\nvar loescheIds = loopItem.loescheIds || [];\n\nvar result = [];\n\n// Reguläre Termine: ConfluenceSync=true + Hash setzen\nfor (var i = 0; i < termine.length; i++) {\n  var t = termine[i];\n  if (!t.notionPageId) continue;\n  result.push({\n    json: {\n      notionPageId: t.notionPageId,\n      currentHash:  t.currentHash,\n      _aktion:      'sync'\n    }\n  });\n}\n\n// Gelöschte Termine: nur ConfluenceSync=false + Hash leeren\n// Löschen-Flag wird NICHT angefasst (bleibt true in Notion)\nfor (var d = 0; d < loescheIds.length; d++) {\n  if (!loescheIds[d]) continue;\n  result.push({\n    json: {\n      notionPageId: loescheIds[d],\n      currentHash:  '',\n      _aktion:      'geloescht'\n    }\n  });\n}\n\nif (result.length === 0) {\n  result.push({ json: { notionPageId: '', currentHash: '', _aktion: 'noop' } });\n}\nreturn result;\n"
      },
      "id": "sync-prep-001",
      "name": "Code: Sync-Items aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        2480
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionPageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ConfluenceSync|checkbox",
              "checkboxValue": true
            },
            {
              "key": "LastSyncHash|rich_text",
              "textContent": "={{ $json.currentHash }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-sync-001",
      "name": "Notion: ConfluenceSync setzen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3824,
        2480
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-aktion",
              "leftValue": "={{ $json._aktion }}",
              "rightValue": "sync",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "if-aktion-v7-001",
      "name": "IF: Sync oder Löschen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3600,
        2480
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.notionPageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ConfluenceSync|checkbox",
              "checkboxValue": false
            },
            {
              "key": "LastSyncHash|rich_text",
              "textContent": ""
            }
          ]
        },
        "options": {}
      },
      "id": "notion-loeschen-v7-001",
      "name": "Notion: Sync nach Löschung zurücksetzen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3824,
        2600
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// DEBUG: Output von Code: Nach Kunden aufteilen prüfen\n// Bitte nach dem Test wieder entfernen\nvar items = $input.all();\nvar info = items.map(function(item) {\n  return {\n    kundePageId:    item.json.kundePageId,\n    termineAnzahl:  (item.json.termine   || []).length,\n    loescheAnzahl:  (item.json.loescheIds|| []).length,\n    termineIds:     (item.json.termine   || []).map(function(t){ return t.notionPageId; }),\n    loescheIds:     (item.json.loescheIds|| [])\n  };\n});\n// Nicht werfen – einfach durchleiten mit Debug-Info\nreturn items.map(function(item, i) {\n  item.json._debug = info[i];\n  return item;\n});\n"
      },
      "id": "debug-split-output-001",
      "name": "DEBUG: Split Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        2592
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Alle 15 Minuten": {
      "main": [
        [
          {
            "node": "Notion: Alle Termine holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Alle Termine holen": {
      "main": [
        [
          {
            "node": "Code: Nach Kunden aufteilen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Nach Kunden aufteilen": {
      "main": [
        [
          {
            "node": "DEBUG: Split Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Ein Kunde pro Durchlauf": {
      "main": [
        [],
        [
          {
            "node": "Notion: Kundendaten holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Kundendaten holen": {
      "main": [
        [
          {
            "node": "Set: Kundendaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Kundendaten": {
      "main": [
        [
          {
            "node": "Confluence: Seite holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence: Seite holen": {
      "main": [
        [
          {
            "node": "Code: Tabelle aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Tabelle aufbauen": {
      "main": [
        [
          {
            "node": "Confluence: Seite aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence: Seite aktualisieren": {
      "main": [
        [
          {
            "node": "Code: Sync-Items aufbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Sync-Items aufbereiten": {
      "main": [
        [
          {
            "node": "IF: Sync oder Löschen?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: ConfluenceSync setzen": {
      "main": [
        [
          {
            "node": "Loop: Ein Kunde pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Sync oder Löschen?": {
      "main": [
        [
          {
            "node": "Notion: ConfluenceSync setzen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion: Lösch-Flags zurücksetzen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Sync nach Löschung zurücksetzen": {
      "main": [
        [
          {
            "node": "Loop: Ein Kunde pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEBUG: Split Output": {
      "main": [
        [
          {
            "node": "Loop: Ein Kunde pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ac0078ab-5d50-4d2b-8724-6cbbaecb50c7",
  "meta": {
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "WR1TnrIbrAAEEubE",
  "tags": []
}