workflows/termine/workflow_termine_v11_full_replace.json
{
  "name": "Termine → Confluence Panel [v11]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "trigger-v11",
      "name": "Alle 15 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        400
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36347c76-2802-80e0-b5c1-cb867c9cc3ce",
          "mode": "list",
          "cachedResultName": "DB Termine",
          "cachedResultUrl": "https://www.notion.so/36347c76280280e0b5c1cb867c9cc3ce"
        },
        "returnAll": true,
        "filterType": "json",
        "filterJson": "{\"property\": \"Loeschen\", \"checkbox\": {\"equals\": false}}",
        "options": {}
      },
      "id": "notion-termine-v11",
      "name": "Notion: Aktive Termine holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        384,
        400
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Code: Nach Kunden aufteilen (v11 - Full Replace)\n// Notion liefert bereits gefilterte Termine (Datum >= heute, Loeschen=false)\n// Kein ConfluenceSync, kein Hash, kein Merge nötig\n\nvar items = $input.all();\nif (!items || items.length === 0) return [];\n\nvar today = new Date();\ntoday.setHours(0, 0, 0, 0);\nvar kundeMap = {};\n\nfor (var i = 0; i < items.length; i++) {\n  var props        = items[i].json;\n  if (!props) continue;\n\n  var kundenRaw   = props.property_kunden || [];\n  var kundenIds   = Array.isArray(kundenRaw) ? kundenRaw : [kundenRaw];\n  var validKunden = kundenIds.filter(Boolean);\n  if (validKunden.length === 0) continue;\n\n  // Datum\n  var datumObj = props.property_datum;\n  var datumRaw = null;\n  if (datumObj && datumObj.start)                                 { datumRaw = datumObj.start; }\n  else if (typeof datumObj === 'string' && datumObj.length >= 10) { datumRaw = datumObj; }\n  if (!datumRaw) continue;\n  if (new Date(datumRaw.substring(0, 10)) < today) continue;\n\n  var datumIso   = datumRaw.substring(0, 10);\n  var dp         = datumIso.split('-');\n  var datumStr   = dp[2] + '.' + dp[1] + '.' + dp[0];\n  var uhrzeitStr = '';\n  var tIdx       = datumRaw.indexOf('T');\n  if (tIdx !== -1) { uhrzeitStr = datumRaw.substring(tIdx + 1, tIdx + 6); }\n\n  var titel = String(props.property_titel || props.name || 'Kein Titel');\n  var ort   = String(props.property_ort   || '');\n\n  for (var j = 0; j < validKunden.length; j++) {\n    var kp = validKunden[j];\n    if (!kundeMap[kp]) {\n      kundeMap[kp] = { kundePageId: kp, termine: [] };\n    }\n    kundeMap[kp].termine.push({ datumIso, datumStr, uhrzeitStr, titel, ort });\n  }\n}\n\nvar result = [];\nvar keys = Object.keys(kundeMap);\nfor (var ki = 0; ki < keys.length; ki++) {\n  var e = kundeMap[keys[ki]];\n  e.termine.sort(function(a,b){ return a.datumIso<b.datumIso?-1:a.datumIso>b.datumIso?1:0; });\n  result.push({ json: e });\n}\nreturn result;\n"
      },
      "id": "code-split-v11",
      "name": "Code: Nach Kunden aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-v11",
      "name": "Loop: Ein Kunde pro Durchlauf",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        400
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.kundePageId }}",
          "mode": "id"
        }
      },
      "id": "notion-kundendaten-v11",
      "name": "Notion: Kundendaten holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1056,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m01",
              "name": "confluencePageId",
              "value": "={{ $json.property_confluence_page_i_d || $json.property_confluence_page_id || '' }}",
              "type": "string"
            },
            {
              "id": "m02",
              "name": "spaceKey",
              "value": "={{ $json.property_confluence_space_key || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-kundendaten-v11",
      "name": "Set: Kundendaten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://blboardsolutions.atlassian.net/wiki/rest/api/content/{{ $json.confluencePageId }}?expand=body.storage,version,title",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "confluence-get-v11",
      "name": "Confluence: Seite holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OncAUjZtrqWedJug",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n// Code: Tabelle aufbauen (v11 - Full Replace)\n// Panel-Inhalt wird komplett durch aktuelle Notion-Termine ersetzt\n// Kein Parsen bestehender Zeilen nötig\n\nvar page     = $json;\nvar loopItem = $('Loop: Ein Kunde pro Durchlauf').item.json;\nvar termine  = loopItem.termine || [];\n\nvar esc = function(s) {\n  return String(s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n};\n\nvar pageId       = page.id    || '';\nvar pageTitle    = page.title || '';\nvar currentVersion = (page.version && page.version.number) ? page.version.number : 1;\nvar html = (page.body && page.body.storage && page.body.storage.value) ? page.body.storage.value : '';\n\n// Panel finden\nvar panelTitles = [\n  'N\\u00e4chste Termine','N&auml;chste Termine',\n  'N&#228;chste Termine','N&#xE4;chste Termine','N&#xe4;chste Termine'\n];\nvar titleIdx = -1;\nfor (var ti = 0; ti < panelTitles.length; ti++) {\n  titleIdx = html.indexOf(panelTitles[ti]);\n  if (titleIdx !== -1) break;\n}\nif (titleIdx === -1) throw new Error('Heading \"Nächste Termine\" nicht gefunden. pageId:' + pageId);\n\nvar panelMacroTag = '<ac:structured-macro ac:name=\"panel\"';\nvar panelStart    = html.indexOf(panelMacroTag, titleIdx);\nif (panelStart === -1) throw new Error('Panel-Makro nicht gefunden. pageId:' + pageId);\n\nvar panelEndTag   = '</ac:structured-macro>';\nvar panelEnd      = html.indexOf(panelEndTag, panelStart);\nif (panelEnd === -1) throw new Error('Panel-Ende nicht gefunden. pageId:' + pageId);\nvar panelEnd_full = panelEnd + panelEndTag.length;\nvar panelBlock    = html.substring(panelStart, panelEnd_full);\n\n// Neue Tabelle aufbauen (Confluence Cloud-Format)\nvar tableLocalId = 'termine-tbl-' + pageId + '-0001';\nvar headerRow = '<tr>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h1\"><p><strong>Datum</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h2\"><p><strong>Uhrzeit</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h3\"><p><strong>Titel</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h4\"><p><strong>Ort</strong></p></th>'\n  + '</tr>';\n\nvar dataRows = '';\nfor (var ri = 0; ri < termine.length; ri++) {\n  var t     = termine[ri];\n  var rowId = tableLocalId + '-r' + ri;\n  dataRows += '<tr ac:local-id=\"'+rowId+'\">'\n    + '<td ac:local-id=\"'+rowId+'-c1\"><p>'+esc(t.datumStr)  +'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c2\"><p>'+esc(t.uhrzeitStr)+'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c3\"><p>'+esc(t.titel)     +'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c4\"><p>'+esc(t.ort)       +'</p></td>'\n    + '</tr>';\n}\n\nvar tableHtml = termine.length > 0\n  ? '<table data-table-width=\"760\" data-layout=\"default\" ac:local-id=\"'+tableLocalId+'\">'\n    + '<tbody>'+headerRow+dataRows+'</tbody></table>'\n  : '<p></p>';\n\nvar newRTB = '<ac:rich-text-body>' + tableHtml + '</ac:rich-text-body>';\n\n// Panel ersetzen (self-closing oder befüllt)\nvar newPanelBlock;\nvar selfClosing = '<ac:rich-text-body />';\nif (panelBlock.indexOf(selfClosing) !== -1) {\n  newPanelBlock = panelBlock.replace(selfClosing, newRTB);\n} else {\n  var rtbOpen  = '<ac:rich-text-body>';\n  var rtbClose = '</ac:rich-text-body>';\n  var rtbStart = panelBlock.indexOf(rtbOpen);\n  var rtbEnd   = panelBlock.indexOf(rtbClose);\n  if (rtbStart===-1||rtbEnd===-1) throw new Error('ac:rich-text-body nicht gefunden. pageId:'+pageId);\n  newPanelBlock = panelBlock.substring(0,rtbStart) + newRTB\n    + panelBlock.substring(rtbEnd+rtbClose.length);\n}\n\nhtml = html.substring(0,panelStart) + newPanelBlock + html.substring(panelEnd_full);\nreturn { json: { pageId, pageTitle, newVersion: currentVersion+1, updatedHtml: html } };\n"
      },
      "id": "code-tabelle-v11",
      "name": "Code: Tabelle aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://blboardsolutions.atlassian.net/wiki/rest/api/content/{{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ version: { number: $json.newVersion }, title: $json.pageTitle, type: 'page', body: { storage: { value: $json.updatedHtml, representation: 'storage' } } }) }}",
        "options": {}
      },
      "id": "confluence-put-v11",
      "name": "Confluence: Seite aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OncAUjZtrqWedJug",
          "name": "Unnamed credential 2"
        }
      }
    }
  ],
  "connections": {
    "Alle 15 Minuten": {
      "main": [
        [
          {
            "node": "Notion: Aktive Termine holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Aktive Termine holen": {
      "main": [
        [
          {
            "node": "Code: Nach Kunden aufteilen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Nach Kunden aufteilen": {
      "main": [
        [
          {
            "node": "Loop: Ein Kunde pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Ein Kunde pro Durchlauf": {
      "main": [
        [],
        [
          {
            "node": "Notion: Kundendaten holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Kundendaten holen": {
      "main": [
        [
          {
            "node": "Set: Kundendaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Kundendaten": {
      "main": [
        [
          {
            "node": "Confluence: Seite holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence: Seite holen": {
      "main": [
        [
          {
            "node": "Code: Tabelle aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Tabelle aufbauen": {
      "main": [
        [
          {
            "node": "Confluence: Seite aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence: Seite aktualisieren": {
      "main": [
        [
          {
            "node": "Loop: Ein Kunde pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0d5daf07-aa30-4cd5-a6f2-51062d5bb930",
  "meta": {
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "TermineV11FullReplace",
  "tags": []
}