workflows/termine/workflow_termine_v14_debug2.json
{
  "name": "Termine → Confluence Panel [v14c]",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "trigger-v12",
      "name": "Alle 15 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        400
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2f847c76-2802-80d2-9337-ed2a1f1b7256",
          "mode": "id",
          "cachedResultName": "DB Kunden",
          "cachedResultUrl": "https://www.notion.so/2f847c76280280d29337ed2a1f1b7256"
        },
        "returnAll": true,
        "filterType": "json",
        "filterJson": "{\"property\": \"Confluence PageID\", \"rich_text\": {\"is_not_empty\": true}}",
        "options": {}
      },
      "id": "notion-kunden-v12",
      "name": "Notion: Alle Kunden holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        384,
        280
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36347c76-2802-80e0-b5c1-cb867c9cc3ce",
          "mode": "list",
          "cachedResultName": "DB Termine",
          "cachedResultUrl": "https://www.notion.so/36347c76280280e0b5c1cb867c9cc3ce"
        },
        "returnAll": true,
        "filterType": "json",
        "filterJson": "{\"property\": \"Loeschen\", \"checkbox\": {\"equals\": false}}",
        "options": {}
      },
      "id": "notion-termine-v12",
      "name": "Notion: Aktive Termine holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        384,
        520
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Code: Empfänger-Map aufbauen (v14)\n// _typ='kunde'  → direkte Kunden-Empfänger\n// _typ='gruppe' → Gruppen-Empfänger + ihre Mitglieder mit eigenem Space\n// _typ='termin' → Termine mit Kunden- und Gruppen-Relationen\n//\n// Empfänger-Map: confluencePageId → { confluencePageId, termine[] }\n// Duplikat-Schutz: gleicher Termin + gleiche PageID = nur 1x\n\nvar today = new Date();\ntoday.setHours(0, 0, 0, 0);\nvar alleItems = $input.all();\n\n// ── Schritt 1: Kunden-Map aufbauen ──────────────────────────\n// kundePageId → { confluencePageId, spaceKey }\nvar kundeMap = {};\nfor (var k = 0; k < alleItems.length; k++) {\n  var item = alleItems[k].json;\n  if (item._typ !== 'kunde') continue;\n  if (!item._confluencePageId) continue;\n  kundeMap[item._pageId] = {\n    confluencePageId: item._confluencePageId,\n    spaceKey:         item._spaceKey || ''\n  };\n}\n\n// ── Schritt 2: Gruppen-Map aufbauen ─────────────────────────\n// gruppePageId → { confluencePageId, spaceKey, mitglieder[] }\nvar gruppeMap = {};\nfor (var g = 0; g < alleItems.length; g++) {\n  var item = alleItems[g].json;\n  if (item._typ !== 'gruppe') continue;\n  if (!item._confluencePageId) continue;\n  gruppeMap[item._pageId] = {\n    confluencePageId: item._confluencePageId,\n    spaceKey:         item._spaceKey    || '',\n    mitglieder:       item._mitglieder  || []\n  };\n}\n\n// ── Schritt 3: Empfänger-Map aufbauen ───────────────────────\n// Key: confluencePageId (eindeutig pro Space)\n// Value: { confluencePageId, termine[], termineKeys{} }\nvar empfaengerMap = {};\n\nfunction getOrCreate(confPageId) {\n  if (!empfaengerMap[confPageId]) {\n    empfaengerMap[confPageId] = {\n      confluencePageId: confPageId,\n      termine:          [],\n      _termineKeys:     {}\n    };\n  }\n  return empfaengerMap[confPageId];\n}\n\nfunction addTermin(confPageId, termin) {\n  if (!confPageId) return;\n  var emp    = getOrCreate(confPageId);\n  var dupKey = termin.datumIso + '|' + termin.titel;\n  if (emp._termineKeys[dupKey]) return; // Duplikat-Schutz\n  emp._termineKeys[dupKey] = true;\n  emp.termine.push(termin);\n}\n\n// Alle Kunden mit Confluence-Seite als Empfänger anlegen (auch ohne Termine)\nvar kundeKeys = Object.keys(kundeMap);\nfor (var ki = 0; ki < kundeKeys.length; ki++) {\n  getOrCreate(kundeMap[kundeKeys[ki]].confluencePageId);\n}\n// Alle Gruppen mit Confluence-Seite als Empfänger anlegen\nvar gruppeKeys = Object.keys(gruppeMap);\nfor (var gi = 0; gi < gruppeKeys.length; gi++) {\n  getOrCreate(gruppeMap[gruppeKeys[gi]].confluencePageId);\n}\n\n// ── Schritt 4: Termine zuordnen ─────────────────────────────\nfor (var t = 0; t < alleItems.length; t++) {\n  var item = alleItems[t].json;\n  if (item._typ !== 'termin') continue;\n\n  var datumIso = item._datumIso || '';\n  if (!datumIso || new Date(datumIso) < today) continue;\n\n  var termin = {\n    datumIso:   datumIso,\n    datumStr:   item._datumStr   || '',\n    uhrzeitStr: item._uhrzeitStr || '',\n    titel:      item._titel      || '',\n    ort:        item._ort        || ''\n  };\n\n  // Direkte Kunden-Empfänger\n  var kundenIds = item._kundenIds || [];\n  for (var ki2 = 0; ki2 < kundenIds.length; ki2++) {\n    var kId = kundenIds[ki2];\n    if (!kId || !kundeMap[kId]) continue;\n    addTermin(kundeMap[kId].confluencePageId, termin);\n  }\n\n  // Gruppen-Empfänger\n  var gruppenIds = item._gruppenIds || [];\n  for (var gi2 = 0; gi2 < gruppenIds.length; gi2++) {\n    var gId = gruppenIds[gi2];\n    if (!gId || !gruppeMap[gId]) continue;\n    var gruppe = gruppeMap[gId];\n\n    // 1. Termin in Gruppen-Space\n    addTermin(gruppe.confluencePageId, termin);\n\n    // 2. Termin in individuelle Kunden-Spaces der Mitglieder\n    for (var mi = 0; mi < gruppe.mitglieder.length; mi++) {\n      var mId = gruppe.mitglieder[mi];\n      if (!mId || !kundeMap[mId]) continue; // nur Mitglieder mit eigenem Space\n      addTermin(kundeMap[mId].confluencePageId, termin);\n    }\n  }\n}\n\n// ── Schritt 5: Ergebnis aufbauen ────────────────────────────\nvar result = [];\nvar empKeys = Object.keys(empfaengerMap);\nfor (var ei = 0; ei < empKeys.length; ei++) {\n  var emp = empfaengerMap[empKeys[ei]];\n  delete emp._termineKeys; // interne Hilfsstruktur entfernen\n  emp.termine.sort(function(a,b){\n    return a.datumIso < b.datumIso ? -1 : a.datumIso > b.datumIso ? 1 : 0;\n  });\n  result.push({ json: emp });\n}\nreturn result;\n"
      },
      "id": "code-merge-v12",
      "name": "Code: Kunden + Termine zusammenführen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-v12",
      "name": "Loop: Ein Kunde pro Durchlauf",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://blboardsolutions.atlassian.net/wiki/rest/api/content/{{ $json.confluencePageId }}?expand=body.storage,version,title",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "confluence-get-v12",
      "name": "Confluence: Seite holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OncAUjZtrqWedJug",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nvar page     = $json;\nvar loopItem = $('Loop: Ein Kunde pro Durchlauf').item.json;\nvar termine  = loopItem.termine || [];\n\nvar esc = function(s) {\n  return String(s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n};\n\nvar pageId       = page.id    || '';\nvar pageTitle    = page.title || '';\nvar currentVersion = (page.version && page.version.number) ? page.version.number : 1;\nvar html = (page.body && page.body.storage && page.body.storage.value) ? page.body.storage.value : '';\n\nvar panelTitles = [\n  'N\\u00e4chste Termine','N&auml;chste Termine',\n  'N&#228;chste Termine','N&#xE4;chste Termine','N&#xe4;chste Termine'\n];\nvar titleIdx = -1;\nfor (var ti = 0; ti < panelTitles.length; ti++) {\n  titleIdx = html.indexOf(panelTitles[ti]);\n  if (titleIdx !== -1) break;\n}\nif (titleIdx === -1) throw new Error('Heading \"Nächste Termine\" nicht gefunden. pageId:' + pageId);\n\nvar panelMacroTag = '<ac:structured-macro ac:name=\"panel\"';\nvar panelStart    = html.indexOf(panelMacroTag, titleIdx);\nif (panelStart === -1) throw new Error('Panel-Makro nicht gefunden. pageId:' + pageId);\n\nvar panelEndTag   = '</ac:structured-macro>';\nvar panelEnd      = html.indexOf(panelEndTag, panelStart);\nif (panelEnd === -1) throw new Error('Panel-Ende nicht gefunden. pageId:' + pageId);\nvar panelEnd_full = panelEnd + panelEndTag.length;\nvar panelBlock    = html.substring(panelStart, panelEnd_full);\n\nvar tableLocalId = 'termine-tbl-' + pageId + '-0001';\nvar headerRow = '<tr>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h1\"><p><strong>Datum</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h2\"><p><strong>Uhrzeit</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h3\"><p><strong>Titel</strong></p></th>'\n  + '<th ac:local-id=\"'+tableLocalId+'-h4\"><p><strong>Ort</strong></p></th>'\n  + '</tr>';\n\nvar dataRows = '';\nfor (var ri = 0; ri < termine.length; ri++) {\n  var t = termine[ri];\n  var rowId = tableLocalId + '-r' + ri;\n  dataRows += '<tr ac:local-id=\"'+rowId+'\">'\n    + '<td ac:local-id=\"'+rowId+'-c1\"><p>'+esc(t.datumStr)  +'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c2\"><p>'+esc(t.uhrzeitStr)+'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c3\"><p>'+esc(t.titel)     +'</p></td>'\n    + '<td ac:local-id=\"'+rowId+'-c4\"><p>'+esc(t.ort)       +'</p></td>'\n    + '</tr>';\n}\n\nvar tableHtml = termine.length > 0\n  ? '<table data-table-width=\"760\" data-layout=\"default\" ac:local-id=\"'+tableLocalId+'\">'\n    + '<tbody>'+headerRow+dataRows+'</tbody></table>'\n  : '<p></p>';\n\nvar newRTB = '<ac:rich-text-body>' + tableHtml + '</ac:rich-text-body>';\n\nvar newPanelBlock;\nvar selfClosing = '<ac:rich-text-body />';\nif (panelBlock.indexOf(selfClosing) !== -1) {\n  newPanelBlock = panelBlock.replace(selfClosing, newRTB);\n} else {\n  var rtbOpen  = '<ac:rich-text-body>';\n  var rtbClose = '</ac:rich-text-body>';\n  var rtbStart = panelBlock.indexOf(rtbOpen);\n  var rtbEnd   = panelBlock.indexOf(rtbClose);\n  if (rtbStart===-1||rtbEnd===-1) throw new Error('ac:rich-text-body nicht gefunden. pageId:'+pageId);\n  newPanelBlock = panelBlock.substring(0,rtbStart) + newRTB\n    + panelBlock.substring(rtbEnd+rtbClose.length);\n}\nhtml = html.substring(0,panelStart) + newPanelBlock + html.substring(panelEnd_full);\nreturn { json: { pageId, pageTitle, newVersion: currentVersion+1, updatedHtml: html } };\n"
      },
      "id": "code-tabelle-v12",
      "name": "Code: Tabelle aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://blboardsolutions.atlassian.net/wiki/rest/api/content/{{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ version: { number: $json.newVersion }, title: $json.pageTitle, type: 'page', body: { storage: { value: $json.updatedHtml, representation: 'storage' } } }) }}",
        "options": {}
      },
      "id": "confluence-put-v12",
      "name": "Confluence: Seite aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "OncAUjZtrqWedJug",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\n// Code: Kunden normalisieren\n// Liest Notion-Kunden-Daten und normalisiert Feldnamen\nvar items = $input.all();\nif (!items || items.length === 0) return [];\n\nreturn items.map(function(item) {\n  var p = item.json;\n  var confPageId = p.property_confluence_page_i_d\n    || p.property_confluence_page_id\n    || p.property_confluencepageid\n    || '';\n  var spaceKey = p.property_confluence_space_key\n    || p.property_confluencespacekey\n    || p.property_confluence_spacekey\n    || '';\n  return {\n    json: {\n      _typ:             'kunde',\n      _pageId:          p.id || '',\n      _confluencePageId: confPageId,\n      _spaceKey:        spaceKey\n    }\n  };\n}).filter(function(i) { return i.json._confluencePageId !== ''; });\n"
      },
      "id": "code-set-kunden-v13",
      "name": "Code: Kunden normalisieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nvar items = $input.all();\nif (!items || items.length === 0) return [];\n\n// Debug: ersten Termin mit DB Gruppen Relation zeigen\nfor (var i = 0; i < items.length; i++) {\n  var p = items[i].json;\n  var titel = p.property_titel || p.name || '';\n  if (titel.indexOf('Unternehmerboard') !== -1) {\n    throw new Error('Termin: ' + titel + ' | gruppen keys: ' + \n      Object.keys(p).filter(function(k){ return k.toLowerCase().indexOf('grupp') !== -1; }).join(' | ') +\n      ' | db_gruppen raw: ' + JSON.stringify(p.property_db_gruppen || 'NICHT GEFUNDEN') +\n      ' | alle keys: ' + Object.keys(p).filter(function(k){ return k.indexOf('property') === 0; }).join(' | ')\n    );\n  }\n}\nreturn [];\n"
      },
      "id": "code-set-termine-v13",
      "name": "Code: Termine normalisieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        520
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-v14",
      "name": "Merge: Kunden + Termine + Gruppen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        832,
        400
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36647c76-2802-8085-a36f-ff0f451b6c3d",
          "mode": "id",
          "cachedResultName": "DB Gruppen",
          "cachedResultUrl": "https://www.notion.so/36647c7628028085a36fff0f451b6c3d"
        },
        "returnAll": true,
        "filterType": "none",
        "options": {}
      },
      "id": "notion-gruppen-v14",
      "name": "Notion: Alle Gruppen holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        384,
        680
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nvar items = $input.all();\nif (!items || items.length === 0) return [];\n\nreturn items.map(function(item) {\n  var p = item.json;\n\n  var confPageId = p.property_confluence_page_id || '';\n  var spaceKey   = p.property_confluence_space_key || '';\n  var mitglieder = p.property_db_kunden || [];\n  if (!Array.isArray(mitglieder)) mitglieder = [mitglieder];\n  var aktiv = p.property_aktiv !== false;\n\n  return {\n    json: {\n      _typ:              'gruppe',\n      _pageId:           p.id || '',\n      _confluencePageId: String(confPageId).trim(),\n      _spaceKey:         String(spaceKey).trim(),\n      _mitglieder:       mitglieder.filter(Boolean),\n      _aktiv:            aktiv\n    }\n  };\n}).filter(function(i) {\n  return i.json._confluencePageId !== '' && i.json._aktiv;\n});\n"
      },
      "id": "code-gruppen-norm-v14",
      "name": "Code: Gruppen normalisieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        680
      ]
    }
  ],
  "connections": {
    "Alle 15 Minuten": {
      "main": [
        [
          {
            "node": "Notion: Alle Kunden holen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion: Aktive Termine holen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion: Alle Gruppen holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Alle Kunden holen": {
      "main": [
        [
          {
            "node": "Code: Kunden normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Aktive Termine holen": {
      "main": [
        [
          {
            "node": "Code: Termine normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Alle Gruppen holen": {
      "main": [
        [
          {
            "node": "Code: Gruppen normalisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Kunden normalisieren": {
      "main": [
        [
          {
            "node": "Merge: Kunden + Termine + Gruppen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Termine normalisieren": {
      "main": [
        [
          {
            "node": "Merge: Kunden + Termine + Gruppen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code: Gruppen normalisieren": {
      "main": [
        [
          {
            "node": "Merge: Kunden + Termine + Gruppen",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge: Kunden + Termine + Gruppen": {
      "main": [
        [
          {
            "node": "Code: Kunden + Termine zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Kunden + Termine zusammenführen": {
      "main": [
        [
          {
            "node": "Loop: Ein Kunde pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: Ein Kunde pro Durchlauf": {
      "main": [
        [],
        [
          {
            "node": "Confluence: Seite holen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence: Seite holen": {
      "main": [
        [
          {
            "node": "Code: Tabelle aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Tabelle aufbauen": {
      "main": [
        [
          {
            "node": "Confluence: Seite aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confluence: Seite aktualisieren": {
      "main": [
        [
          {
            "node": "Loop: Ein Kunde pro Durchlauf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c959c2d0-3aa8-487e-bedd-6f61361c8ef0",
  "meta": {
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "TermineV12AllKunden",
  "tags": []
}