workflows/termine/workflow_termine_confluence.json
{
  "name": "Termine → Confluence Panel",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 15}]
        }
      },
      "id": "a1b2c3d4-e001-4000-8000-000000000001",
      "name": "Alle 15 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [160, 400]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "36347c76-2802-80e0-b5c1-cb867c9cc3ce",
          "mode": "list",
          "cachedResultName": "DB Termine",
          "cachedResultUrl": "https://www.notion.so/36347c76280280e0b5c1cb867c9cc3ce"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "a1b2c3d4-e002-4000-8000-000000000002",
      "name": "Notion: Alle Termine holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [384, 400],
      "credentials": {
        "notionApi": {"id": "NnTc9kDS62fncKVA", "name": "Notion account"}
      }
    },
    {
      "parameters": {
        "jsCode": "// Termine nach Kunden gruppieren – ein Output-Item pro Kunde mit allen seinen Terminen.\n// Nur Termine mit Datum >= heute werden beruecksichtigt.\nvar items = $input.all();\nvar today = new Date();\ntoday.setHours(0, 0, 0, 0);\nvar kundeMap = {};\n\nfor (var i = 0; i < items.length; i++) {\n  var props = items[i].json;\n  var datumObj = props.property_datum;\n  var datumRaw = null;\n  if (datumObj && datumObj.start) { datumRaw = datumObj.start; }\n  else if (typeof datumObj === 'string' && datumObj.length >= 10) { datumRaw = datumObj; }\n  if (!datumRaw) continue;\n\n  var terminDate = new Date(datumRaw.substring(0, 10));\n  if (terminDate < today) continue;\n\n  var titel = props.property_titel || props.name || 'Kein Titel';\n  var ort = props.property_ort || '';\n  var datumIso = datumRaw.substring(0, 10);\n  var dp = datumIso.split('-');\n  var datumStr = dp[2] + '.' + dp[1] + '.' + dp[0];\n  var uhrzeitStr = '';\n  var tIdx = datumRaw.indexOf('T');\n  if (tIdx !== -1) { uhrzeitStr = datumRaw.substring(tIdx + 1, tIdx + 6); }\n\n  var kundenRaw = props.property_kunden || [];\n  var kundenIds = Array.isArray(kundenRaw) ? kundenRaw : [kundenRaw];\n\n  for (var j = 0; j < kundenIds.length; j++) {\n    var kundePageId = kundenIds[j];\n    if (!kundePageId) continue;\n    if (!kundeMap[kundePageId]) { kundeMap[kundePageId] = { kundePageId: kundePageId, termine: [] }; }\n    kundeMap[kundePageId].termine.push({ datumIso: datumIso, datumStr: datumStr, uhrzeitStr: uhrzeitStr, titel: titel, ort: ort });\n  }\n}\n\nvar result = [];\nvar kundeIds = Object.keys(kundeMap);\nfor (var ki = 0; ki < kundeIds.length; ki++) {\n  var entry = kundeMap[kundeIds[ki]];\n  entry.termine.sort(function(a, b) { return a.datumIso < b.datumIso ? -1 : a.datumIso > b.datumIso ? 1 : 0; });\n  result.push({ json: entry });\n}\nreturn result;"
      },
      "id": "a1b2c3d4-e003-4000-8000-000000000003",
      "name": "Code: Nach Kunden aufteilen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [608, 400]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-e004-4000-8000-000000000004",
      "name": "Loop: Ein Kunde pro Durchlauf",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [832, 400]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.kundePageId }}",
          "mode": "id"
        }
      },
      "id": "a1b2c3d4-e005-4000-8000-000000000005",
      "name": "Notion: Kundendaten holen",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1056, 300],
      "credentials": {
        "notionApi": {"id": "NnTc9kDS62fncKVA", "name": "Notion account"}
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "m01",
              "name": "confluencePageId",
              "value": "={{ $json.property_confluence_page_i_d || $json.property_confluence_page_id || '' }}",
              "type": "string"
            },
            {
              "id": "m02",
              "name": "spaceKey",
              "value": "={{ $json.property_confluence_space_key || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-e006-4000-8000-000000000006",
      "name": "Set: Kundendaten",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://blboardsolutions.atlassian.net/wiki/rest/api/content/{{ $json.confluencePageId }}?expand=body.storage,version,title",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "a1b2c3d4-e007-4000-8000-000000000007",
      "name": "Confluence: Seite holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1504, 300],
      "credentials": {
        "httpBasicAuth": {"id": "OncAUjZtrqWedJug", "name": "Unnamed credential 2"}
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Tabelle im 'Naechste Termine' Panel komplett neu aufbauen.\n// Alle aktuellen Termine des Kunden kommen aus dem Loop-Item (nicht aus dem HTML).\n// Kein HTML-Kommentar-Tracking noetig.\nvar page = $json;\nvar loopItem = $('Loop: Ein Kunde pro Durchlauf').item.json;\nvar termine = loopItem.termine || [];\n\nvar esc = function(s) { return String(s || '').replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;'); };\n\nvar pageId = page.id || '';\nvar pageTitle = page.title || '';\nvar currentVersion = (page.version && page.version.number) ? page.version.number : 1;\nvar html = (page.body && page.body.storage && page.body.storage.value) ? page.body.storage.value : '';\n\n// Alle <ac:rich-text-body> Abschnitte sammeln\nvar rtbOpen = '<ac:rich-text-body>';\nvar rtbClose = '</ac:rich-text-body>';\nvar allSections = [];\nvar sp = 0;\nwhile (true) {\n  var oi = html.indexOf(rtbOpen, sp);\n  if (oi === -1) break;\n  var s = oi + rtbOpen.length;\n  var e = html.indexOf(rtbClose, s);\n  if (e === -1) break;\n  allSections.push({ start: s, end: e });\n  sp = e + rtbClose.length;\n}\n\n// Titel suchen (mehrere Encodings)\nvar panelTitles = ['N\\u00e4chste Termine', 'N&auml;chste Termine', 'N&#228;chste Termine', 'N&#xE4;chste Termine', 'N&#xe4;chste Termine', 'Termine'];\nvar titleIdx = -1;\nfor (var ti = 0; ti < panelTitles.length; ti++) {\n  titleIdx = html.indexOf(panelTitles[ti]);\n  if (titleIdx !== -1) break;\n}\n\nvar bodyStart = -1;\nvar bodyEnd = -1;\n\n// Methode 1a: Section die titleIdx ENTHAELT (Titel ist Heading im Body)\nif (titleIdx !== -1) {\n  for (var si = 0; si < allSections.length; si++) {\n    if (allSections[si].start <= titleIdx && titleIdx < allSections[si].end) {\n      bodyStart = allSections[si].start; bodyEnd = allSections[si].end; break;\n    }\n  }\n}\n// Methode 1b: Erste Section NACH titleIdx\nif (bodyStart === -1 && titleIdx !== -1) {\n  for (var si1b = 0; si1b < allSections.length; si1b++) {\n    if (allSections[si1b].start > titleIdx) {\n      bodyStart = allSections[si1b].start; bodyEnd = allSections[si1b].end; break;\n    }\n  }\n}\n// Methode 2: Section mit Datum+Uhrzeit-Headern (vorhandene Tabelle)\nif (bodyStart === -1) {\n  for (var si2 = 0; si2 < allSections.length; si2++) {\n    var sc2 = html.substring(allSections[si2].start, allSections[si2].end);\n    if (sc2.indexOf('>Datum<') !== -1 && sc2.indexOf('>Uhrzeit<') !== -1) {\n      bodyStart = allSections[si2].start; bodyEnd = allSections[si2].end; break;\n    }\n  }\n}\n// Methode 3: ac:layout-cell das titleIdx enthaelt\nif (bodyStart === -1 && titleIdx !== -1) {\n  var cellOpen = '<ac:layout-cell>';\n  var cellClose = '</ac:layout-cell>';\n  var cp = 0;\n  while (true) {\n    var ci = html.indexOf(cellOpen, cp);\n    if (ci === -1) break;\n    var cs = ci + cellOpen.length;\n    var ce = html.indexOf(cellClose, cs);\n    if (ce === -1) break;\n    if (cs <= titleIdx && titleIdx < ce) { bodyStart = cs; bodyEnd = ce; break; }\n    cp = ce + cellClose.length;\n  }\n}\n\nif (bodyStart === -1 || bodyEnd === -1) {\n  var tIdx2 = html.indexOf('Termine');\n  var ctx = tIdx2 !== -1 ? html.substring(Math.max(0, tIdx2 - 200), Math.min(html.length, tIdx2 + 400)) : 'nicht_gefunden';\n  throw new Error('Panel nicht gefunden. pageId:' + pageId + ' sections:' + allSections.length + ' titleIdx:' + titleIdx + ' || ' + ctx);\n}\n\n// Heading (h1/h2/h3) erhalten, Rest ersetzen\nvar bodyContent = html.substring(bodyStart, bodyEnd);\nvar headingPart = '';\nvar headingTags = ['</h1>', '</h2>', '</h3>'];\nfor (var ht = 0; ht < headingTags.length; ht++) {\n  var hEnd = bodyContent.indexOf(headingTags[ht]);\n  if (hEnd !== -1) { headingPart = bodyContent.substring(0, hEnd + headingTags[ht].length); break; }\n}\n\n// Tabelle komplett neu aufbauen aus termine[]\nvar headerRow = '<tr><th>Datum</th><th>Uhrzeit</th><th>Titel</th><th>Ort</th></tr>';\nvar dataRows = '';\nfor (var ri = 0; ri < termine.length; ri++) {\n  var t = termine[ri];\n  dataRows += '<tr><td>' + esc(t.datumStr) + '</td><td>' + esc(t.uhrzeitStr) + '</td><td>' + esc(t.titel) + '</td><td>' + esc(t.ort) + '</td></tr>';\n}\n\nvar tableHtml = termine.length > 0 ? '<table><tbody>' + headerRow + dataRows + '</tbody></table>' : '';\nvar newBodyContent = headingPart + tableHtml;\n\nhtml = html.substring(0, bodyStart) + newBodyContent + html.substring(bodyEnd);\n\nreturn { json: { pageId: pageId, pageTitle: pageTitle, newVersion: currentVersion + 1, updatedHtml: html } };"
      },
      "id": "a1b2c3d4-e008-4000-8000-000000000008",
      "name": "Code: Tabelle aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1728, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://blboardsolutions.atlassian.net/wiki/rest/api/content/{{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ version: { number: $json.newVersion }, title: $json.pageTitle, type: 'page', body: { storage: { value: $json.updatedHtml, representation: 'storage' } } }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-e009-4000-8000-000000000009",
      "name": "Confluence: Seite aktualisieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1952, 300],
      "credentials": {
        "httpBasicAuth": {"id": "OncAUjZtrqWedJug", "name": "Unnamed credential 2"}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Alle 15 Minuten": {
      "main": [[{"node": "Notion: Alle Termine holen", "type": "main", "index": 0}]]
    },
    "Notion: Alle Termine holen": {
      "main": [[{"node": "Code: Nach Kunden aufteilen", "type": "main", "index": 0}]]
    },
    "Code: Nach Kunden aufteilen": {
      "main": [[{"node": "Loop: Ein Kunde pro Durchlauf", "type": "main", "index": 0}]]
    },
    "Loop: Ein Kunde pro Durchlauf": {
      "main": [
        [],
        [{"node": "Notion: Kundendaten holen", "type": "main", "index": 0}]
      ]
    },
    "Notion: Kundendaten holen": {
      "main": [[{"node": "Set: Kundendaten", "type": "main", "index": 0}]]
    },
    "Set: Kundendaten": {
      "main": [[{"node": "Confluence: Seite holen", "type": "main", "index": 0}]]
    },
    "Confluence: Seite holen": {
      "main": [[{"node": "Code: Tabelle aufbauen", "type": "main", "index": 0}]]
    },
    "Code: Tabelle aufbauen": {
      "main": [[{"node": "Confluence: Seite aktualisieren", "type": "main", "index": 0}]]
    },
    "Confluence: Seite aktualisieren": {
      "main": [[{"node": "Loop: Ein Kunde pro Durchlauf", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1", "binaryMode": "separate"},
  "versionId": "c4d5e6f7-a8b9-4000-9000-000000000006",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "TermineConfluenceSync01",
  "tags": []
}
