workflows/Hubspot/hubspot_email_update.json
{
  "name": "Email_HubSpot_Update",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "from",
          "toRecipients",
          "internetMessageId",
          "subject",
          "bodyPreview",
          "flag",
          "createdDateTime"
        ],
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "0ca268e4-69ec-424d-b368-961ef7887f91",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-contact-email",
              "name": "contactEmail",
              "value": "={{ ($json.from.emailAddress.address || '').indexOf('@') !== -1 ? $json.from.emailAddress.address : (($json.toRecipients || [])[0] || {}).emailAddress?.address || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [208, 0],
      "id": "f1a2b3c4-d5e6-4000-8000-000000000001",
      "name": "Set: Kontakt-Email ermitteln"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.contactEmail }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [416, -96],
      "id": "62c40793-07cf-4973-8b76-f60dc253def7",
      "name": "Search contacts",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "zGX2k1SKubP15OOY",
          "name": "HubSpot account 4"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "email",
        "metadata": {
          "html": "=<h3>Eingehende E-Mail</h3><p>Betreff: {{ $('Microsoft Outlook Trigger').item.json.subject }}</p><p>{{ $('Microsoft Outlook Trigger').item.json.bodyPreview }}</p><p>{{ $('Microsoft Outlook Trigger').item.json.createdDateTime }}"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $('Search contacts').item.json.id }}"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [832, -192],
      "id": "e0475759-b638-49b2-ba70-70f6f40ac4d1",
      "name": "Create an engagement",
      "credentials": {
        "hubspotAppToken": {
          "id": "zGX2k1SKubP15OOY",
          "name": "HubSpot account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "49b8b9b8-a516-4fac-8673-7d7d690d71d1",
              "leftValue": "={{ $('Microsoft Outlook Trigger').item.json.flag.flagStatus }}",
              "rightValue": "flagged",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1040, -192],
      "id": "d0f3a60d-a1f4-42ba-912c-b1c0c3857565",
      "name": "If-flagged"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f34b08e-69f5-43d2-be26-a006ffb75554",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [624, -96],
      "id": "b9cf05fc-8c85-48cf-99ac-e1a266e411c4",
      "name": "If-id"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "dueDate": "={{ $('Microsoft Outlook Trigger').item.json.flag.dueDate.dateTime }}",
        "metadata": {
          "body": "={{ $('Microsoft Outlook Trigger').item.json.bodyPreview }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{ $('Microsoft Outlook Trigger').item.json.subject }}"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $('Search contacts').item.json.id }}"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [1248, -304],
      "id": "b4079c82-1e09-4079-a44d-ccb048e4c7c4",
      "name": "Create an engagement1",
      "credentials": {
        "hubspotAppToken": {
          "id": "zGX2k1SKubP15OOY",
          "name": "HubSpot account 4"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "task",
        "dueDate": "={{ $('Set').item.json.sentDateTime }}",
        "metadata": {
          "body": "={{ $('Set').item.json.bodyPreview }}",
          "forObjectType": "CONTACT",
          "status": "NOT_STARTED",
          "subject": "={{ $('Set').item.json.subject }}"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $('Search contacts').item.json.id }}"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [1680, 576],
      "id": "f3692276-f63f-489f-9254-4eed29ac0e4c",
      "name": "Create an engagement3",
      "credentials": {
        "hubspotAppToken": {
          "id": "zGX2k1SKubP15OOY",
          "name": "HubSpot account 4"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-240, 560],
      "id": "27b4a5ec-60f5-4f82-b46b-fe69e953c757",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders/AQMkADM0NzFkNDAzLTMxNDItNGNhOC1hZDQyLTcxM2Y0ZDdmYmFiNQAuAAADosScSFkDYUG7FZOJbLMzpgEAids1UVQBH0GRdF6SMZxTjgAAAgEJAAAA/messages?$filter=isRead eq false&$orderby=sentDateTime desc&$top=10&$select=id,subject,bodyPreview,sentDateTime,toRecipients,flag,isRead",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-32, 560],
      "id": "95580be4-7b27-4c7c-a471-b0a056c4908a",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "sImktOVEKXeoGk89",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.flatMap(item => {\n  const messages = item.json.value ?? [];\n  return messages\n    .filter(msg => msg.isRead === false)\n    .map(msg => ({ json: msg }));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, 560],
      "id": "e6040642-0c63-40bc-8491-f01e18aba034",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c563df5f-d059-41cb-80d2-810629efc18a",
              "name": "recipient_email",
              "value": "={{ $json.toRecipients[0].emailAddress.address }}",
              "type": "string"
            },
            {
              "id": "69fd74dd-1094-4d91-abc8-3677bcb9b549",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "3530250c-3908-4282-a52a-9574a4305a72",
              "name": "bodyPreview",
              "value": "={{ $json.bodyPreview }}",
              "type": "string"
            },
            {
              "id": "6ca9ca38-5956-4aee-9cfe-41d949dc231b",
              "name": "flag",
              "value": "={{ $json.flag.flagStatus }}",
              "type": "string"
            },
            {
              "id": "39f1ed7c-b3d5-479a-80cd-d8fe8af5f1e7",
              "name": "SentDateTime",
              "value": "={{ $json.sentDateTime }}",
              "type": "string"
            },
            {
              "id": "0f19e3da-c0b9-4812-8321-47bbd3a7999c",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [336, 560],
      "id": "4d266d6a-0f13-4966-9666-a39b41e67297",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.recipient_email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [528, 560],
      "id": "03163b5b-e185-44f7-b293-f6a0a44bec26",
      "name": "HubSpot - Kontakt suchen",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "zGX2k1SKubP15OOY",
          "name": "HubSpot account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f34b08e-69f5-43d2-be26-a006ffb75554",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [784, 560],
      "id": "abd6b19f-3241-4bf5-88ec-1beb2966aa99",
      "name": "IF - Kontakt gefunden?"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "type": "email",
        "metadata": {
          "html": "=<h3>Gesendete E-Mail</h3>\n<p>An: {{ $('Edit Fields').item.json.recipient_email }}</p>\n<p>Betreff: {{ $('Edit Fields').item.json.subject }}</p>\n<p>{{ $('Edit Fields').item.json.bodyPreview }}</p>\n<p>{{ $('Edit Fields').item.json.SentDateTime }}</p>"
        },
        "additionalFields": {
          "associations": {
            "contactIds": "={{ $('HubSpot - Kontakt suchen').item.json.id }}"
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [1056, 544],
      "id": "0a6472ba-11bd-43cc-a9dd-f2399d50ea58",
      "name": "Engagement erstellen - Gesendete Email",
      "credentials": {
        "hubspotAppToken": {
          "id": "zGX2k1SKubP15OOY",
          "name": "HubSpot account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "49b8b9b8-a516-4fac-8673-7d7d690d71d1",
              "leftValue": "={{ $('Edit Fields').item.json.flag }}",
              "rightValue": "flagged",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1472, 592],
      "id": "541f1dda-5ebd-4456-ba3b-8f5e9308dabc",
      "name": "If-flagged Email markiert?"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [608, 224],
      "id": "3045089b-521e-46c1-ab25-9f728d68f7f4",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "sImktOVEKXeoGk89",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fiveMinutesAgo = new Date(Date.now() - 10 * 60 * 1000);\n//filtert alle emails die nicht als gelesen markiert sind und in den letzten 10 minuten gesendet wurden\nreturn items.flatMap(item => {\n  const messages = item.json.value ?? [];\n  return messages\n    .filter(msg => !msg.isRead && new Date(msg.sentDateTime) > fiveMinutesAgo)\n    .map(msg => ({ json: msg }));\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 848],
      "id": "da4bec90-159e-402c-8700-c00b1e477b6c",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://graph.microsoft.com/v1.0/me/messages/{{ $('Edit Fields').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"isRead\": true }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1264, 544],
      "id": "15d2f351-1aac-4c76-8dc3-093036b58500",
      "name": "Email als Gelesen markieren",
      "credentials": {
        "oAuth2Api": {
          "id": "sImktOVEKXeoGk89",
          "name": "Unnamed credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Set: Kontakt-Email ermitteln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Kontakt-Email ermitteln": {
      "main": [
        [
          {
            "node": "Search contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search contacts": {
      "main": [
        [
          {
            "node": "If-id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an engagement": {
      "main": [
        [
          {
            "node": "If-flagged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-id": {
      "main": [
        [
          {
            "node": "Create an engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-flagged": {
      "main": [
        [
          {
            "node": "Create an engagement1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an engagement1": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HubSpot - Kontakt suchen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Kontakt suchen": {
      "main": [
        [
          {
            "node": "IF - Kontakt gefunden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Kontakt gefunden?": {
      "main": [
        [
          {
            "node": "Engagement erstellen - Gesendete Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Engagement erstellen - Gesendete Email": {
      "main": [
        [
          {
            "node": "Email als Gelesen markieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If-flagged Email markiert?": {
      "main": [
        [
          {
            "node": "Create an engagement3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email als Gelesen markieren": {
      "main": [
        [
          {
            "node": "If-flagged Email markiert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "HSomkpfv9ZqJU9Jn",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "4a1e2f3c-b0d1-4000-8000-000000000002",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "NZrt0CP1h019SZAL",
  "tags": []
}
