workflows/Hubspot/hubspot_import.json
{
  "name": "HubSpot Import – Rems Murr Regional",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HubSpot Kontakt-Import",
        "formDescription": "Excel-Datei (.xlsx) hochladen um Kontakte in HubSpot zu importieren.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Kontaktliste",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "HubSpot Listen-ID",
              "placeholder": "z.B. 45",
              "requiredField": true
            },
            {
              "fieldLabel": "Leadtyp",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Unternehmerboard" },
                  { "option": "Dozent" },
                  { "option": "Coaching" },
                  { "option": "Beratung" },
                  { "option": "Mentoring" },
                  { "option": "Partner" }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Import starten"
        }
      },
      "id": "8719ceaa-933a-46fd-af0e-bb22c51d084d",
      "name": "Upload Formular",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [-304, -400],
      "webhookId": "34aff55b-09e3-4bf5-8094-6362e5e5b357"
    },
    {
      "parameters": {
        "binaryPropertyName": "Kontaktliste",
        "options": {
          "headerRow": true,
          "range": ""
        }
      },
      "id": "eac6df08-d5a3-482c-9b9f-908ed21486d0",
      "name": "Tabelle einlesen",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [-80, -400]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// SCHRITT: Metadaten auslesen + Kontakte mappen\n// ============================================================\n// Leadtyp + Listen-ID kommen aus dem Upload-Formular.\n// Alle Excel-Zeilen sind Kontaktdaten (keine Metadaten-Zeilen).\n// ============================================================\n\nconst allItems = items.map(i => i.json);\n\n// --- Metadaten aus Formular ---\nconst leadtypValue = $('Upload Formular').first().json['Leadtyp'] || 'Unternehmerboard';\nconst listId = $('Upload Formular').first().json['HubSpot Listen-ID'] || '';\n\n// --- Segmentname (optional, aus erster Zeile wenn vorhanden) ---\nconst segmentnameValue = '';\n\n// --- Alle Zeilen sind Kontaktdaten ---\nconst contactRows = allItems;\n\n// branchen: HubSpot akzeptiert nur diese Werte (inkl. Tippfehler \"Elektrontechnik\")\nconst VALID_BRANCHEN = ['Werbung/Design','Coaching','Personal','Health','Logistik','B2B Services','Handwerk','Elektrontechnik','Immobilien','Maschinenbau','Handel','Chemie','Consulting','Bau','Architektur-Design','Software','Produktion'];\nconst BRANCHEN_ALIASES = {\n  'elektrotechnik':   'Elektrontechnik',\n  'elektro':          'Elektrontechnik',\n  'it':               'Software',\n  'informatik':       'Software',\n  'architektur':      'Architektur-Design',\n  'werbung':          'Werbung/Design',\n  'design':           'Werbung/Design',\n  'hr':               'Personal',\n  'gesundheit':       'Health',\n  'transport':        'Logistik',\n  'dienstleistungen': 'B2B Services',\n};\nfunction mapBranchen(raw) {\n  const v = (raw || '').toString().trim();\n  if (!v) return '';\n  if (VALID_BRANCHEN.includes(v)) return v;\n  const lower = v.toLowerCase();\n  const ciMatch = VALID_BRANCHEN.find(b => b.toLowerCase() === lower);\n  if (ciMatch) return ciMatch;\n  return BRANCHEN_ALIASES[lower] || '';\n}\n\n// numemployees: HubSpot akzeptiert nur diese Werte\nconst VALID_EMPLOYEES = ['1-5','5-25','25-50','50-100','100-500','500-1000','1000+'];\nfunction mapNumEmployees(raw) {\n  const v = (raw || '').toString().trim();\n  if (!v) return '';\n  if (VALID_EMPLOYEES.includes(v)) return v;\n  const match = v.match(/(\\d+)/);\n  if (!match) return '';\n  const n = parseInt(match[1], 10);\n  if (n <= 5)   return '1-5';\n  if (n <= 25)  return '5-25';\n  if (n <= 50)  return '25-50';\n  if (n <= 100) return '50-100';\n  if (n <= 500) return '100-500';\n  if (n <= 1000) return '500-1000';\n  return '1000+';\n}\n\nconst result = [];\n\nfor (const row of contactRows) {\n  // Nur Zeilen mit gültiger E-Mail verarbeiten\n  const email = (row['email'] || '').toString().trim();\n  if (!email) continue;\n\n  // Telefonnummer bereinigen: führendes ' entfernen (Excel-Artefakt)\n  let phone = (row['phone'] || '').toString().trim();\n  if (phone.startsWith(\"'\")) phone = phone.slice(1);\n\n  const branchenVal     = mapBranchen(row['industry']);\n  const numemployeesVal = mapNumEmployees(row['companySize']);\n\n  const mapped = {\n    // ── HubSpot Standard-Felder ──────────────────────────────\n    email:           email,\n    firstname:       (row['firstName'] || '').toString().trim(),\n    lastname:        (row['lastName']  || '').toString().trim(),\n    phone:           phone,\n    hs_linkedin_url: (row['linkedinUrl']   || '').toString().trim(),\n    jobtitle:        (row['jobTitle']      || '').toString().trim(),\n    company:         (row['companyName']    || '').toString().trim(),\n    website:         (row['companyWebsite'] || row['companyDomain'] || '').toString().trim(),\n    // ── Custom-Property ─────────────────────────────────────\n    leadtyp:         leadtypValue,\n    // ── Interne Felder für Rückschreiben der HubSpot-ID ──────\n    _segmentname:    segmentnameValue,\n    _source_id:      (row['_id'] || '').toString().trim(),\n    _listId:         listId,\n  };\n  // Enum-Felder nur setzen wenn gemappt (leerer Wert → HubSpot-Validierungsfehler)\n  if (branchenVal)     mapped.branchen     = branchenVal;\n  if (numemployeesVal) mapped.numemployees = numemployeesVal;\n\n  result.push({ json: mapped });\n}\n\nreturn result;\n"
      },
      "id": "fd07d6f2-356f-4161-a606-01ee0d908bb4",
      "name": "Daten mappen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, -400]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "firstname",
                "value": "={{ $json.firstname }}"
              },
              {
                "property": "lastname",
                "value": "={{ $json.lastname }}"
              },
              {
                "property": "phone",
                "value": "={{ $json.phone }}"
              },
              {
                "property": "hs_linkedin_url",
                "value": "={{ $json.hs_linkedin_url }}"
              },
              {
                "property": "jobtitle",
                "value": "={{ $json.jobtitle }}"
              },
              {
                "property": "company",
                "value": "={{ $json.company }}"
              },
              {
                "property": "website",
                "value": "={{ $json.website }}"
              },
              {
                "property": "branchen",
                "value": "={{ $json.branchen }}"
              },
              {
                "property": "numemployees",
                "value": "={{ $json.numemployees }}"
              },
              {
                "property": "leadtyp",
                "value": "={{ $json.leadtyp }}"
              }
            ]
          },
          "leadStatus": "NEW"
        },
        "options": {}
      },
      "id": "5d6379eb-97b7-40a2-8128-5e3ef2213f65",
      "name": "HubSpot Kontakt Upsert",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [368, -400],
      "credentials": {
        "hubspotAppToken": {
          "id": "8bKwr1vaf9OfVi2R",
          "name": "HubSpot Service Key account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "c7d8e9f0-1234-4000-8000-aabbccddeeff",
      "name": "Loop: List Add",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [600, -400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v3/lists/{{ $('Upload Formular').first().json['HubSpot Listen-ID'] }}/memberships/add",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify([String($json.hs_object_id || $json.vid || '')]) }}",
        "options": {}
      },
      "id": "be78d48c-feaf-40f4-b892-d443cfc128b6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [820, -400],
      "credentials": {
        "hubspotAppToken": {
          "id": "zGX2k1SKubP15OOY",
          "name": "HubSpot account 4"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 2,
        "unit": "seconds"
      },
      "id": "a1b2c3d4-5678-4000-8000-112233445566",
      "name": "Warte: Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [820, -240],
      "webhookId": "b9c8d7e6-f5a4-4000-8000-aabbccddeeff"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "d5e57012-7f48-4705-a0fa-feadced4daac",
      "name": "Alle IDs sammeln",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1040, -400]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// HubSpot IDs als CSV ausgeben (für Rückschreiben in Spalte DE)\n// ============================================================\n// Gibt eine CSV-Datei aus mit: email, hubspotId\n// Diese kann genutzt werden, um manuell oder per VLOOKUP\n// die IDs in die Originaldatei (Spalte DE / hubspotId) einzutragen.\n// ============================================================\n\nconst allData = items[0].json.data;\n\nif (!Array.isArray(allData)) {\n  return [{ json: { info: 'Keine Daten zum Exportieren' } }];\n}\n\nlet csvLines = ['email,hubspotId'];\n\nfor (const row of allData) {\n  const email = (row.email || '').replace(/,/g, '');\n  const hsId  = (row.id    || '').toString();\n  csvLines.push(`${email},${hsId}`);\n}\n\nreturn [{\n  json: {\n    totalImported: csvLines.length - 1,\n    message: `${csvLines.length - 1} Kontakte erfolgreich importiert`,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csvLines.join('\\n')).toString('base64'),\n      mimeType: 'text/csv',\n      fileExtension: 'csv',\n      fileName: 'hubspot_ids_rueckschreiben.csv',\n    }\n  }\n}];\n"
      },
      "id": "a232c781-59e7-4b76-a27a-c7f61dff6c73",
      "name": "ID-Export vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, -400]
    },
    {
      "parameters": {
        "toRecipients": "wolfgang.baierl@blboardsolutions.de",
        "subject": "HubSpot Import abgeschlossen",
        "bodyContent": "Alle Daten wurden übertragen\n",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1488, -400],
      "id": "364510f7-6757-4f96-abed-307cb6aed966",
      "name": "Send a message",
      "webhookId": "a742fd01-9baa-4b1e-b782-ed8b2b7c790c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Formular": {
      "main": [
        [{"node": "Tabelle einlesen", "type": "main", "index": 0}]
      ]
    },
    "Tabelle einlesen": {
      "main": [
        [{"node": "Daten mappen", "type": "main", "index": 0}]
      ]
    },
    "Daten mappen": {
      "main": [
        [{"node": "HubSpot Kontakt Upsert", "type": "main", "index": 0}]
      ]
    },
    "HubSpot Kontakt Upsert": {
      "main": [
        [{"node": "Loop: List Add", "type": "main", "index": 0}]
      ]
    },
    "Loop: List Add": {
      "main": [
        [{"node": "HTTP Request", "type": "main", "index": 0}],
        [{"node": "Alle IDs sammeln", "type": "main", "index": 0}]
      ]
    },
    "HTTP Request": {
      "main": [
        [{"node": "Warte: Rate Limit", "type": "main", "index": 0}]
      ]
    },
    "Warte: Rate Limit": {
      "main": [
        [{"node": "Loop: List Add", "type": "main", "index": 0}]
      ]
    },
    "Alle IDs sammeln": {
      "main": [
        [{"node": "ID-Export vorbereiten", "type": "main", "index": 0}]
      ]
    },
    "ID-Export vorbereiten": {
      "main": [
        [{"node": "Send a message", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e3249410-3e2a-401b-ba55-93a9ef83e016",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "RtE3X7Vnlk9oQFUy",
  "tags": []
}
