workflows/Hubspot/hubspot_newmember.json
{
  "name": "Hubspot_NewMember",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        -16
      ],
      "id": "2812c1b8-6dcb-498e-825f-330bf0e4aae7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filtersUI": {
          "values": {
            "filters": {
              "custom": "categories/any(c: c eq 'Hubspot')"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -560,
        -16
      ],
      "id": "1b122da8-1a35-4229-b869-4e802a9bc69f",
      "name": "Get many messages",
      "webhookId": "069f993e-607e-4111-8a12-236c6e0f9fdd",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d58836d-b2f3-45bd-b7cb-8ae0aa4879c9",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        272
      ],
      "id": "6c542364-da80-47f2-af52-253f32086ba0",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        48,
        -16
      ],
      "id": "7bd05b06-d60f-4f3b-9736-fe6d86eb4171",
      "name": "Search contacts",
      "credentials": {
        "hubspotAppToken": {
          "id": "8bKwr1vaf9OfVi2R",
          "name": "HubSpot Service Key account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "536a3ab6-2cd1-49ae-9da7-560697c0bfc0",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        -16
      ],
      "id": "3df37849-94b9-428f-bd12-25c49ee960fa",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Search contacts').item.json.properties.email }}",
        "additionalFields": {
          "companyName": "={{ $('Code in JavaScript').item.json.company }}",
          "firstName": "={{ $('Code in JavaScript').item.json.firstname }}",
          "phoneNumber": "={{ $('Code in JavaScript').item.json.phone }}",
          "websiteUrl": "={{ $('Code in JavaScript').item.json.website }}",
          "workEmail": "={{ $('Code in JavaScript').item.json.email }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        464,
        -112
      ],
      "id": "f7fc6940-6809-44ab-b6b3-1ee3f7accb03",
      "name": "Create or update a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "8bKwr1vaf9OfVi2R",
          "name": "HubSpot Service Key account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction stripHtml(html = '') {\n  return html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction parseName(displayName = '') {\n  const parts = displayName.split(',').map(s => s.trim()).filter(Boolean);\n  if (parts.length >= 2) {\n    return { lastname: parts[0], firstname: parts[1] };\n  }\n  const ws = displayName.trim().split(/\\s+/);\n  return { firstname: ws[0] || '', lastname: ws.slice(1).join(' ') || '' };\n}\n\nreturn items.map(item => {\n  const displayName = item.json?.from?.emailAddress?.name || '';\n  const email = item.json?.from?.emailAddress?.address || '';\n  const { firstname, lastname } = parseName(displayName);\n\n  const htmlBody = item.json?.body?.content || '';\n  const text = stripHtml(htmlBody);\n\n  const websiteMatch = text.match(/\\b(https?:\\/\\/[^\\s]+|www\\.[^\\s]+)\\b/i);\n  const internet_address = websiteMatch ? websiteMatch[1].replace(/[.,;)]$/, '') : '';\n\n  let company_name = '';\n  const companyMatch = text.match(/Fraunhofer-Institut für Produktionstechnik\\s+und\\s+Automatisierung\\s+IPA/i);\n  if (companyMatch) {\n    company_name = 'Fraunhofer-Institut für Produktionstechnik und Automatisierung IPA';\n  }\n\n  const telMatch = text.match(/Tel\\.\\s*([+0-9][0-9\\s\\-\\/]{6,})/i);\n  const mobilMatch = text.match(/Mobil\\s*([+0-9][0-9\\s\\-\\/]{6,})/i);\n\n  const phone = telMatch ? telMatch[1].trim() : '';\n  const mobilephone = mobilMatch ? mobilMatch[1].trim() : '';\n\n  return {\n    json: {\n      email,\n      firstname,\n      lastname,\n      phone,\n      mobilephone,\n      website: internet_address,\n      company: company_name\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -16
      ],
      "id": "67939eef-c76a-4237-8f4c-998f7b66fc88",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "output": "raw",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -352,
        -16
      ],
      "id": "d14b012d-1a00-4103-8d61-87491bee2796",
      "name": "Get a message",
      "webhookId": "4baab36e-238a-4080-bcb7-0fea1f94f621",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Search contacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "06d7e3ca-f9e3-40a7-b43c-e9fb916e3c05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "DvvisFza9vytSq6X",
  "tags": []
}