workflows/Hubspot/hubspot_import.json
{
  "name": "HubSpot Import – Rems Murr Regional",
  "nodes": [
    {
      "parameters": {
        "formTitle": "HubSpot Kontakt-Import",
        "formDescription": "Excel-Datei (.xlsx) hochladen um Kontakte in HubSpot zu importieren.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Kontaktliste",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "HubSpot Listen-ID",
              "placeholder": "z.B. 45",
              "requiredField": true
            },
            {
              "fieldLabel": "Leadtyp",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Unternehmerboard" },
                  { "option": "Dozent" },
                  { "option": "Coaching" },
                  { "option": "Beratung" },
                  { "option": "Mentoring" },
                  { "option": "Partner" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Testmodus (nur erste 5 Kontakte)",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Nein" },
                  { "option": "Ja" }
                ]
              },
              "requiredField": false
            }
          ]
        },
        "options": {
          "buttonLabel": "Import starten"
        }
      },
      "id": "8719ceaa-933a-46fd-af0e-bb22c51d084d",
      "name": "Upload Formular",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [-304, -400],
      "webhookId": "34aff55b-09e3-4bf5-8094-6362e5e5b357"
    },
    {
      "parameters": {
        "binaryPropertyName": "Kontaktliste",
        "options": { "headerRow": true, "range": "" }
      },
      "id": "eac6df08-d5a3-482c-9b9f-908ed21486d0",
      "name": "Tabelle einlesen",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [-80, -400]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// Kontakte aus Excel mappen + Testmodus (5 Kontakte)\n// ============================================================\nconst allItems = items.map(i => i.json);\n\nconst leadtypValue = $('Upload Formular').first().json['Leadtyp'] || 'Unternehmerboard';\nconst listId       = $('Upload Formular').first().json['HubSpot Listen-ID'] || '';\nconst testmodus    = ($('Upload Formular').first().json['Testmodus (nur erste 5 Kontakte)'] || 'Nein') === 'Ja';\n\nconst VALID_BRANCHEN = ['Werbung/Design','Coaching','Personal','Health','Logistik','B2B Services','Handwerk','Elektrontechnik','Immobilien','Maschinenbau','Handel','Chemie','Consulting','Bau','Architektur-Design','Software','Produktion'];\nconst BRANCHEN_ALIASES = {\n  'elektrotechnik':'Elektrontechnik','elektro':'Elektrontechnik',\n  'it':'Software','informatik':'Software',\n  'architektur':'Architektur-Design','werbung':'Werbung/Design','design':'Werbung/Design',\n  'hr':'Personal','gesundheit':'Health','transport':'Logistik','dienstleistungen':'B2B Services',\n};\nfunction mapBranchen(raw) {\n  const v = (raw||'').toString().trim();\n  if (!v) return '';\n  if (VALID_BRANCHEN.includes(v)) return v;\n  const lower = v.toLowerCase();\n  return VALID_BRANCHEN.find(b=>b.toLowerCase()===lower) || BRANCHEN_ALIASES[lower] || '';\n}\n\nconst VALID_EMPLOYEES = ['1-5','5-25','25-50','50-100','100-500','500-1000','1000+'];\nfunction mapNumEmployees(raw) {\n  const v = (raw||'').toString().trim();\n  if (!v) return '';\n  if (VALID_EMPLOYEES.includes(v)) return v;\n  const match = v.match(/(\\d+)/);\n  if (!match) return '';\n  const n = parseInt(match[1],10);\n  if (n<=5) return '1-5'; if (n<=25) return '5-25'; if (n<=50) return '25-50';\n  if (n<=100) return '50-100'; if (n<=500) return '100-500'; if (n<=1000) return '500-1000';\n  return '1000+';\n}\n\nconst result = [];\nfor (const row of allItems) {\n  const email = (row['email']||'').toString().trim();\n  if (!email) continue;\n\n  let phone = (row['phone']||'').toString().trim();\n  if (phone.startsWith(\"'\")) phone = phone.slice(1);\n\n  const branchenVal     = mapBranchen(row['industry']);\n  const numemployeesVal = mapNumEmployees(row['companySize']);\n\n  const mapped = {\n    email,\n    firstname:       (row['firstName']    ||'').toString().trim(),\n    lastname:        (row['lastName']     ||'').toString().trim(),\n    phone,\n    hs_linkedin_url: (row['linkedinUrl']  ||'').toString().trim(),\n    jobtitle:        (row['jobTitle']     ||'').toString().trim(),\n    company:         (row['companyName']  ||'').toString().trim(),\n    website:         (row['companyWebsite']||row['website']||row['companyDomain']||'').toString().trim(),\n    leadtyp:         leadtypValue,\n    _listId:         listId,\n  };\n  if (branchenVal)     mapped.branchen     = branchenVal;\n  if (numemployeesVal) mapped.numemployees = numemployeesVal;\n\n  result.push({ json: mapped });\n  if (testmodus && result.length >= 5) break;\n}\n\nreturn result;\n"
      },
      "id": "fd07d6f2-356f-4161-a606-01ee0d908bb4",
      "name": "Daten mappen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [144, -400]
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              { "property": "firstname",       "value": "={{ $json.firstname }}" },
              { "property": "lastname",        "value": "={{ $json.lastname }}" },
              { "property": "phone",           "value": "={{ $json.phone }}" },
              { "property": "hs_linkedin_url", "value": "={{ $json.hs_linkedin_url }}" },
              { "property": "jobtitle",        "value": "={{ $json.jobtitle }}" },
              { "property": "company",         "value": "={{ $json.company }}" },
              { "property": "website",         "value": "={{ $json.website }}" },
              { "property": "branchen",        "value": "={{ $json.branchen }}" },
              { "property": "numemployees",    "value": "={{ $json.numemployees }}" },
              { "property": "leadtyp",         "value": "={{ $json.leadtyp }}" }
            ]
          },
          "leadStatus": "NEW"
        },
        "options": {}
      },
      "id": "5d6379eb-97b7-40a2-8128-5e3ef2213f65",
      "name": "HubSpot Kontakt Upsert",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [368, -400],
      "credentials": {
        "hubspotAppToken": {
          "id": "8bKwr1vaf9OfVi2R",
          "name": "HubSpot Service Key account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "d5e57012-7f48-4705-a0fa-feadced4daac",
      "name": "Alle IDs sammeln",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [592, -400]
    },
    {
      "parameters": {
        "jsCode": "// Extrahiert alle HubSpot-IDs und bereitet den Segment-Add vor.\n// Ein einziger API-Call fügt alle Kontakte gleichzeitig hinzu.\nconst allData = items[0].json.data || [];\nconst listId  = $('Upload Formular').first().json['HubSpot Listen-ID'] || '';\n\nif (!allData.length) {\n  throw new Error('Keine Kontakte vom Upsert zurückgegeben. Prüfe den HubSpot Kontakt Upsert Node.');\n}\n\n// Alle bekannten ID-Felder des HubSpot v2 Node-Outputs durchprobieren\nconst ids = [];\nfor (const row of allData) {\n  const id = (row['hs_object_id'] || row['vid'] || '').toString().trim();\n  if (id) ids.push(id);\n}\n\nif (!ids.length) {\n  // Debug: Zeige welche Felder verfügbar sind\n  const sampleKeys = Object.keys(allData[0] || {}).slice(0, 30).join(', ');\n  throw new Error(\n    'Keine HubSpot-ID in Upsert-Output gefunden.' +\n    ' Kontaktanzahl: ' + allData.length +\n    '. Verfügbare Felder: ' + sampleKeys\n  );\n}\n\nreturn [{ json: { listId, contactIds: ids, count: ids.length } }];\n"
      },
      "id": "e1f2a3b4-5c6d-4000-8000-99aabbccddee",
      "name": "Code: Segment Add",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [816, -400]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.hubapi.com/crm/v3/lists/{{ $json.listId }}/memberships/add",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.contactIds) }}",
        "options": {}
      },
      "id": "be78d48c-feaf-40f4-b892-d443cfc128b6",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1040, -400],
      "credentials": {
        "hubspotAppToken": {
          "id": "zGX2k1SKubP15OOY",
          "name": "HubSpot account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CSV mit email + hubspotId für Rückschreiben in die Quelldatei\nconst allData = $('Alle IDs sammeln').first().json.data || [];\n\nlet csvLines = ['email,hubspotId'];\nfor (const row of allData) {\n  const email = (row.email || '').replace(/,/g, '');\n  const hsId  = (row.hs_object_id || row.vid || row.id || '').toString();\n  csvLines.push(`${email},${hsId}`);\n}\n\nreturn [{\n  json: {\n    totalImported: csvLines.length - 1,\n    message: `${csvLines.length - 1} Kontakte importiert und Segment hinzugefügt`,\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csvLines.join('\\n')).toString('base64'),\n      mimeType: 'text/csv',\n      fileExtension: 'csv',\n      fileName: 'hubspot_ids_rueckschreiben.csv',\n    }\n  }\n}];\n"
      },
      "id": "a232c781-59e7-4b76-a27a-c7f61dff6c73",
      "name": "ID-Export vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1264, -400]
    },
    {
      "parameters": {
        "toRecipients": "wolfgang.baierl@blboardsolutions.de",
        "subject": "HubSpot Import abgeschlossen",
        "bodyContent": "={{ $json.message }}\n",
        "additionalFields": {
          "attachments": {
            "attachments": [
              { "binaryPropertyName": "data" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1488, -400],
      "id": "364510f7-6757-4f96-abed-307cb6aed966",
      "name": "Send a message",
      "webhookId": "a742fd01-9baa-4b1e-b782-ed8b2b7c790c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "yGyJLxRrxa4zgBmg",
          "name": "Microsoft Outlook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Formular": {
      "main": [
        [{"node": "Tabelle einlesen", "type": "main", "index": 0}]
      ]
    },
    "Tabelle einlesen": {
      "main": [
        [{"node": "Daten mappen", "type": "main", "index": 0}]
      ]
    },
    "Daten mappen": {
      "main": [
        [{"node": "HubSpot Kontakt Upsert", "type": "main", "index": 0}]
      ]
    },
    "HubSpot Kontakt Upsert": {
      "main": [
        [{"node": "Alle IDs sammeln", "type": "main", "index": 0}]
      ]
    },
    "Alle IDs sammeln": {
      "main": [
        [{"node": "Code: Segment Add", "type": "main", "index": 0}]
      ]
    },
    "Code: Segment Add": {
      "main": [
        [{"node": "HTTP Request", "type": "main", "index": 0}]
      ]
    },
    "HTTP Request": {
      "main": [
        [{"node": "ID-Export vorbereiten", "type": "main", "index": 0}]
      ]
    },
    "ID-Export vorbereiten": {
      "main": [
        [{"node": "Send a message", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e3249410-3e2a-401b-ba55-93a9ef83e016",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "RtE3X7Vnlk9oQFUy",
  "tags": []
}
