workflows/linkedin-redaktionsplan/n8n_workflow_image_prompt.json
{
  "name": "LinkedIn – Image-Prompt Optimierung (wöchentlich)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "f6000001-0001-0001-0001-000000000001",
      "name": "Jeden Donnerstag 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "notes": "Läuft jeden Donnerstag 09:00. Optimiert rohe Bildideen zu vollständigen DALL-E 3 Prompts."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/35147c76280280e38851fd4736f81c35/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"and\": [\n      { \"property\": \"Status\", \"select\": { \"equals\": \"Geplant\" } },\n      { \"property\": \"ImagePrompt\", \"rich_text\": { \"is_not_empty\": true } },\n      { \"property\": \"Bildprompt Final\", \"rich_text\": { \"is_empty\": true } }\n    ]\n  },\n  \"sorts\": [{ \"property\": \"Geplant für\", \"direction\": \"ascending\" }],\n  \"page_size\": 20\n}",
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000002",
      "name": "Posts mit ImagePrompt laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      },
      "notes": "Lädt Posts mit Status=Geplant, die einen rohen ImagePrompt haben, aber noch keinen fertigen Bildprompt (Feld 'Bildprompt Final' leer)."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.results && $json.results.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000003",
      "name": "Posts mit Prompt gefunden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "notes": "Wenn keine Posts mit offenem ImagePrompt → Workflow endet still."
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\n\nconst posts = results.map(page => {\n  const props = page.properties;\n  const titel = props?.['Titel']?.title?.[0]?.plain_text || 'Ohne Titel';\n  const image_prompt = props?.['ImagePrompt']?.rich_text?.[0]?.plain_text || '';\n  const saeule = props?.['Säule']?.select?.name || '-';\n  const post_typ = props?.['Post-Typ']?.select?.name || '';\n  const linkedin_post = props?.['LinkedIn-Post']?.rich_text?.[0]?.plain_text || '';\n  const geplantFuer = props?.['Geplant für']?.date?.start || '';\n\n  return {\n    json: {\n      page_id: page.id,\n      titel,\n      image_prompt,\n      saeule,\n      post_typ,\n      linkedin_post: linkedin_post.substring(0, 500),\n      geplantFuer\n    }\n  };\n});\n\nconsole.log(`🎨 ${posts.length} Posts mit offenem ImagePrompt gefunden`);\nreturn posts;"
      },
      "id": "f6000001-0001-0001-0001-000000000004",
      "name": "Posts aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        200
      ],
      "notes": "Extrahiert relevante Felder aus den Notion-Seiten für die Claude-Verarbeitung."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000005",
      "name": "Posts einzeln verarbeiten",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        200
      ],
      "notes": "Verarbeitet Posts einzeln, um API-Rate-Limits zu respektieren."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-opus-4-5',\n  max_tokens: 600,\n  system: 'Du bist ein Experte für KI-Bildgenerierung, speziell für DALL-E 3. Du erstellst präzise, effektive Prompts auf Englisch für professionelle LinkedIn-Grafiken. Deine Prompts sind konkret, beschreibend und auf Business-Kontext optimiert.',\n  messages: [\n    {\n      role: 'user',\n      content: 'Erstelle einen vollständigen, optimierten DALL-E 3 Prompt auf Englisch für das folgende LinkedIn-Post-Bild.\\n\\nPost-Titel: ' + $json.titel + '\\nSäule: ' + $json.saeule + '\\nPost-Typ: ' + $json.post_typ + '\\n\\nRohe Bildidee:\\n' + $json.image_prompt + ($json.linkedin_post ? '\\n\\nPost-Kontext (Auszug):\\n' + $json.linkedin_post : '') + '\\n\\nAnforderungen für den Prompt:\\n- Professioneller Business-Stil, geeignet für LinkedIn\\n- Kein Text im Bild\\n- Helle, einladende Atmosphäre\\n- Realistisch oder clean-illustrativ (kein Cartoon)\\n- Maximale Länge: 400 Zeichen\\n- Nur den fertigen Prompt ausgeben, keine Erklärungen'\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000006",
      "name": "Claude: Prompt optimieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "iCMaqkiVfMfgXWXJ",
          "name": "Anthropic account 6"
        }
      },
      "notes": "Claude verfeinert die rohe Bildidee zu einem vollständigen, DALL-E 3 optimierten Prompt auf Englisch."
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst prevItem = $('Posts einzeln verarbeiten').item.json;\n\nconst optimierterPrompt = claudeResponse?.content?.[0]?.text?.trim() || '';\n\nif (!optimierterPrompt) {\n  console.log(`⚠️ Kein Prompt erhalten für: ${prevItem.titel}`);\n}\n\nconsole.log(`✅ Prompt optimiert für: ${prevItem.titel}`);\nconsole.log(`   Original: ${prevItem.image_prompt.substring(0, 80)}...`);\nconsole.log(`   Optimiert: ${optimierterPrompt.substring(0, 80)}...`);\n\nreturn [{\n  json: {\n    page_id: prevItem.page_id,\n    titel: prevItem.titel,\n    original_prompt: prevItem.image_prompt,\n    optimierter_prompt: optimierterPrompt\n  }\n}];"
      },
      "id": "f6000001-0001-0001-0001-000000000007",
      "name": "Prompt extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        200
      ],
      "notes": "Extrahiert den optimierten Prompt aus der Claude-Antwort und fügt ihn mit der page_id zusammen."
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.page_id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Bildprompt Final|rich_text",
              "textContent": "={{ $json.optimierter_prompt }}"
            }
          ]
        }
      },
      "id": "f6000001-0001-0001-0001-000000000008",
      "name": "Notion: Bildprompt speichern",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1920,
        200
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      },
      "continueOnFail": true,
      "notes": "Speichert den optimierten DALL-E 3 Prompt im Feld 'Bildprompt Final' des Notion-Eintrags."
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "f6000001-0001-0001-0001-000000000009",
      "name": "Warten (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        200
      ],
      "webhookId": "f6000001-0001-0001-0001-000000000009",
      "notes": "3 Sekunden Pause zwischen Posts für API-Rate-Limit."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log(`✅ Image-Prompt-Optimierung abgeschlossen – ${items.length} Post(s) verarbeitet`);\nreturn [{ json: { status: 'Abgeschlossen', verarbeitet: items.length } }];"
      },
      "id": "f6000001-0001-0001-0001-000000000010",
      "name": "Abschluss-Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ],
      "notes": "Protokolliert die Anzahl der verarbeiteten Posts."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst heute = new Date().toLocaleDateString('de-DE');\n\nconst postListHtml = items.map(i => {\n  const titel = i.json?.titel || '-';\n  const prompt = i.json?.optimierter_prompt?.substring(0, 150) || '';\n  return `<li><strong>${titel}</strong><br><small style=\"color:#555;font-family:monospace\">${prompt}${prompt.length === 150 ? '...' : ''}</small></li>`;\n}).join('');\n\nreturn [{\n  json: {\n    to: 'wolfgang.baierl@blboardsolutions.de',\n    subject: `[LinkedIn] ${items.length} Bildprompt(s) optimiert – bereit für DALL-E 3`,\n    body: `<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<h2 style=\"color:#2c5282\">Image-Prompts optimiert</h2>\n<p><strong>${items.length}</strong> Bildprompt(s) wurden von Claude für DALL-E 3 optimiert und in der Content Pipeline gespeichert (Feld: <em>Bildprompt Final</em>):</p>\n<ul style=\"line-height:2\">${postListHtml}</ul>\n<hr style=\"margin:20px 0\">\n<p><strong>So nutzt du die Prompts:</strong></p>\n<ol>\n  <li>Content Pipeline in Notion öffnen</li>\n  <li>Beim gewünschten Post das Feld <em>Bildprompt Final</em> kopieren</li>\n  <li>In <a href=\"https://chat.openai.com\">ChatGPT → DALL-E 3</a> oder <a href=\"https://www.bing.com/images/create\">Bing Image Creator</a> einfügen</li>\n  <li>Generiertes Bild herunterladen und zum Post hochladen</li>\n</ol>\n<p><a href=\"https://www.notion.so/35147c762802803f8311ce87bcce27a5\" style=\"background:#2c5282;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px;display:inline-block\">→ Content Pipeline öffnen</a></p>\n<p style=\"color:#999;font-size:0.8em;margin-top:30px\">Automatisch generiert am ${heute} · n8n LinkedIn-Workflow</p>\n</div>`\n  }\n}];"
      },
      "id": "f6000001-0001-0001-0001-000000000011",
      "name": "E-Mail Inhalt aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ],
      "notes": "Baut Zusammenfassungs-E-Mail mit allen optimierten Prompts inkl. Anleitung zur Nutzung mit DALL-E 3."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.body }}",
        "toRecipients": "={{ $json.to }}",
        "bodyContentType": "html",
        "additionalFields": {}
      },
      "id": "f6000001-0001-0001-0001-000000000012",
      "name": "Zusammenfassung senden",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OUTLOOK_CREDENTIAL_ID",
          "name": "Microsoft Outlook account"
        }
      },
      "continueOnFail": true,
      "notes": "Sendet via Outlook: Zusammenfassung der optimierten Bildprompts mit Copy-Paste-Anleitung."
    }
  ],
  "pinData": {},
  "connections": {
    "Jeden Donnerstag 09:00": {
      "main": [
        [
          {
            "node": "Posts mit ImagePrompt laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts mit ImagePrompt laden": {
      "main": [
        [
          {
            "node": "Posts mit Prompt gefunden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts mit Prompt gefunden?": {
      "main": [
        [
          {
            "node": "Posts aufbereiten",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Posts aufbereiten": {
      "main": [
        [
          {
            "node": "Posts einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts einzeln verarbeiten": {
      "main": [
        [
          {
            "node": "Abschluss-Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude: Prompt optimieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Prompt optimieren": {
      "main": [
        [
          {
            "node": "Prompt extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt extrahieren": {
      "main": [
        [
          {
            "node": "Notion: Bildprompt speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Bildprompt speichern": {
      "main": [
        [
          {
            "node": "Warten (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warten (Rate Limit)": {
      "main": [
        [
          {
            "node": "Posts einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abschluss-Log": {
      "main": [
        [
          {
            "node": "E-Mail Inhalt aufbauen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-Mail Inhalt aufbauen": {
      "main": [
        [
          {
            "node": "Zusammenfassung senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "linkedin-image-prompt-v1-0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "linkedin-image-prompt-001",
  "tags": []
}
