workflows/linkedin-redaktionsplan/n8n_workflow_image_prompt.json
{
  "name": "LinkedIn – Image-Prompt Generierung v2 (wöchentlich)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                4
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "f6000001-0001-0001-0001-000000000001",
      "name": "Jeden Donnerstag 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "notes": "Läuft jeden Donnerstag 09:00. Generiert Bildprompts für alle Posts mit Checkbox 'ImagePrompt generieren' = aktiv."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/35147c76280280e38851fd4736f81c35/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"filter\": {\"and\": [{\"property\": \"Status\", \"select\": {\"equals\": \"Geplant\"}}, {\"property\": \"ImagePrompt generieren\", \"checkbox\": {\"equals\": true}}]}, \"sorts\": [{\"property\": \"Geplant für\", \"direction\": \"ascending\"}], \"page_size\": 20}",
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000002",
      "name": "Posts mit Flag laden",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      },
      "notes": "Lädt alle Posts mit Status=Geplant und Checkbox 'ImagePrompt generieren' = aktiv."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.results && $json.results.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000003",
      "name": "Posts mit Flag gefunden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "notes": "Wenn keine Posts mit gesetzter Checkbox → Workflow endet still."
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst posts = [];\nconst skipped = [];\n\nresults.forEach(page => {\n  const props = page.properties;\n  const titel = props?.['Titel']?.title?.[0]?.plain_text || 'Ohne Titel';\n  const linkedin_post = props?.['LinkedIn-Post']?.rich_text?.[0]?.plain_text || '';\n  const hook = props?.['Hook']?.rich_text?.[0]?.plain_text || '';\n  const saeule = props?.['Säule']?.select?.name || '-';\n  const post_typ = props?.['Type']?.rich_text?.[0]?.plain_text || '';\n\n  if (!linkedin_post.trim()) {\n    skipped.push(titel);\n    return;\n  }\n\n  posts.push({\n    json: { page_id: page.id, titel, linkedin_post, hook, saeule, post_typ }\n  });\n});\n\nif (skipped.length > 0) {\n  console.log(`Übersprungen (kein LinkedIn-Post): ${skipped.join(', ')}`);\n}\nconsole.log(`${posts.length} Posts zur Bild-Prompt-Generierung vorbereitet`);\nreturn posts;"
      },
      "id": "f6000001-0001-0001-0001-000000000004",
      "name": "Posts aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        200
      ],
      "notes": "Filtert Posts ohne LinkedIn-Post-Text still heraus. Gibt nur verarbeitbare Posts weiter."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000005",
      "name": "Posts einzeln verarbeiten",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        200
      ],
      "notes": "Verarbeitet jeden Post einzeln (Rate Limit)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-opus-4-5',\n  max_tokens: 400,\n  system: 'Du bist ein Experte für KI-Bildgenerierung mit DALL-E 3. Du leitest aus LinkedIn-Posts präzise, professionelle Bildprompts auf Englisch ab. Deine Prompts erzeugen Titelbilder im Business-Stil für LinkedIn.',\n  messages: [{\n    role: 'user',\n    content: 'Leite aus dem folgenden LinkedIn-Post einen vollständigen DALL-E 3 Bildprompt auf Englisch ab.\\n\\n' + 'Post-Titel: ' + $json.titel + '\\n' + 'Säule: ' + $json.saeule + '\\n' + ($json.hook ? 'Hook: ' + $json.hook + '\\n' : '') + '\\nLinkedIn-Post:\\n' + $json.linkedin_post.substring(0, 1000) + '\\n\\nAnforderungen:\\n- Professioneller Business-Stil für LinkedIn\\n- Kein Text oder Schrift im Bild\\n- Helle, einladende Atmosphäre\\n- Realistisch oder clean-illustrativ (kein Cartoon)\\n- Bezug zur inhaltlichen Kernaussage des Posts\\n- Maximale Länge: 400 Zeichen\\n- Nur den fertigen englischen Prompt ausgeben, keine Erklärungen'\n  }]\n}) }}",
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000006",
      "name": "Claude: Prompt ableiten",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "iCMaqkiVfMfgXWXJ",
          "name": "Anthropic account 6"
        }
      },
      "notes": "Claude leitet aus dem LinkedIn-Post-Text und Hook einen DALL-E 3 Bildprompt ab."
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst prev = $('Posts einzeln verarbeiten').item.json;\n\nconst optimierterPrompt = claudeResponse?.content?.[0]?.text?.trim() || '';\n\nif (!optimierterPrompt) {\n  console.log(`Kein Prompt erhalten für: ${prev.titel}`);\n}\n\nconsole.log(`Prompt abgeleitet für: ${prev.titel}`);\n\nreturn [{\n  json: {\n    page_id: prev.page_id,\n    titel: prev.titel,\n    image_prompt: optimierterPrompt\n  }\n}];"
      },
      "id": "f6000001-0001-0001-0001-000000000007",
      "name": "Prompt extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        200
      ],
      "notes": "Extrahiert den generierten Prompt aus der Claude-Antwort."
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.page_id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ImagePrompt|rich_text",
              "textContent": "={{ $json.image_prompt }}"
            }
          ]
        }
      },
      "id": "f6000001-0001-0001-0001-000000000008",
      "name": "Notion: Bildprompt speichern",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1920,
        200
      ],
      "credentials": {
        "notionApi": {
          "id": "NnTc9kDS62fncKVA",
          "name": "Notion account"
        }
      },
      "continueOnFail": true,
      "notes": "Speichert den abgeleiteten DALL-E 3 Prompt im Feld 'ImagePrompt'."
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "f6000001-0001-0001-0001-000000000009",
      "name": "Warten (Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        200
      ],
      "webhookId": "f6000001-0001-0001-0001-000000000009",
      "notes": "3 Sekunden Pause zwischen Posts."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst anzahl = items.filter(i => i.json?.image_prompt).length;\nconsole.log(`Image-Prompt-Generierung abgeschlossen – ${anzahl} Prompt(s) erstellt`);\nreturn [{ json: { status: 'Abgeschlossen', verarbeitet: anzahl } }];"
      },
      "id": "f6000001-0001-0001-0001-000000000010",
      "name": "Abschluss-Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        300
      ],
      "notes": "Zählt erfolgreich generierte Prompts."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-prompts",
              "leftValue": "={{ $json.verarbeitet > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f6000001-0001-0001-0001-000000000013",
      "name": "Prompts erstellt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        300
      ],
      "notes": "Nur E-Mail senden wenn mindestens 1 Prompt generiert wurde."
    },
    {
      "parameters": {
        "jsCode": "const count = $('Abschluss-Log').first().json.verarbeitet;\nconst heute = new Date().toLocaleDateString('de-DE');\n\nreturn [{\n  json: {\n    to: 'wolfgang.baierl@blboardsolutions.de',\n    subject: `[LinkedIn] ${count} Bildprompt(s) generiert – bereit für DALL-E 3`,\n    body: `<div style=\"font-family:Arial,sans-serif;max-width:600px\"><h2 style=\"color:#2c5282\">Image-Prompts generiert</h2><p>Für <strong>${count}</strong> Post(s) wurde ein DALL-E 3 Bildprompt aus dem LinkedIn-Text abgeleitet und im Feld <em>ImagePrompt</em> gespeichert.</p><hr style=\"margin:20px 0\"><p><strong>So nutzt du die Prompts:</strong></p><ol><li>Content Pipeline in Notion öffnen</li><li>Beim gewünschten Post das Feld <em>ImagePrompt</em> kopieren</li><li>In <a href=\\\"https://chat.openai.com\\\">ChatGPT → DALL-E 3</a> oder <a href=\\\"https://www.bing.com/images/create\\\">Bing Image Creator</a> einfügen</li><li>Generiertes Bild herunterladen und zum Post hinzufügen</li><li>Checkbox <em>ImagePrompt generieren</em> in Notion deaktivieren</li></ol><p><a href=\\\"https://www.notion.so/35147c762802803f8311ce87bcce27a5\\\" style=\\\"background:#2c5282;color:#fff;padding:10px 20px;text-decoration:none;border-radius:4px;display:inline-block\\\">→ Content Pipeline öffnen</a></p><p style=\\\"color:#999;font-size:0.8em;margin-top:30px\\\">Automatisch generiert am ${heute} · n8n LinkedIn-Workflow</p></div>`\n  }\n}];"
      },
      "id": "f6000001-0001-0001-0001-000000000011",
      "name": "E-Mail Inhalt aufbauen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ],
      "notes": "Baut Zusammenfassungs-E-Mail mit Anleitung zur DALL-E 3 Nutzung."
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.body }}",
        "toRecipients": "={{ $json.to }}",
        "bodyContentType": "html",
        "additionalFields": {}
      },
      "id": "f6000001-0001-0001-0001-000000000012",
      "name": "Zusammenfassung senden",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3120,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "OUTLOOK_CREDENTIAL_ID",
          "name": "Microsoft Outlook account"
        }
      },
      "continueOnFail": true,
      "notes": "Sendet via Outlook: Zusammenfassung mit Hinweis zur Nutzung der generierten Prompts."
    }
  ],
  "pinData": {},
  "connections": {
    "Jeden Donnerstag 09:00": {
      "main": [
        [
          {
            "node": "Posts mit Flag laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts mit Flag laden": {
      "main": [
        [
          {
            "node": "Posts mit Flag gefunden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts mit Flag gefunden?": {
      "main": [
        [
          {
            "node": "Posts aufbereiten",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Posts aufbereiten": {
      "main": [
        [
          {
            "node": "Posts einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts einzeln verarbeiten": {
      "main": [
        [
          {
            "node": "Abschluss-Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude: Prompt ableiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Prompt ableiten": {
      "main": [
        [
          {
            "node": "Prompt extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt extrahieren": {
      "main": [
        [
          {
            "node": "Notion: Bildprompt speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Bildprompt speichern": {
      "main": [
        [
          {
            "node": "Warten (Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Warten (Rate Limit)": {
      "main": [
        [
          {
            "node": "Posts einzeln verarbeiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abschluss-Log": {
      "main": [
        [
          {
            "node": "Prompts erstellt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompts erstellt?": {
      "main": [
        [
          {
            "node": "E-Mail Inhalt aufbauen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "E-Mail Inhalt aufbauen": {
      "main": [
        [
          {
            "node": "Zusammenfassung senden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "linkedin-image-prompt-v2-0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "c609af0a939ee4a15654c996b02f39de6b81cb5d8d4c68371052e91ce5822d22"
  },
  "id": "linkedin-image-prompt-001",
  "tags": []
}